﻿<!DOCTYPE html>
<html lang="it" ng-app="AppMacchine">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <title>{{ 'registry_Operators' | translate }}</title>

    <link href="css/style.default.css" rel="stylesheet">
    <link href="css/jquery.datatables.css" rel="stylesheet">
    <link rel="stylesheet" href="css/jquery.tagsinput.css" />
    <link rel="stylesheet" href="css/colorpicker.css" />
    <link rel="stylesheet" href="css/dropzone.css" />
                    <!--NOCDN<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
                    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">-->
    <link rel="stylesheet" href="css/select2.css">
    <link rel="stylesheet" href="css/selectize.default.css">

    <link rel="stylesheet" href="css/select.css" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body >
    <!-- Preloader -->
    <div id="preloader">
        <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
    </div>

    <!-- leftpanel -->
    <div class="leftpanel" ng-controller="menuCtrl" ng-include="'left-side.html'"> </div>
    <!-- leftpanel -->

    <div class="mainpanel">
        <!-- toppanel -->
        <div ng-controller="AccessiCtrl" ng-include="'top-side.html'"></div>
        <!-- toppanel -->

        <div ng-controller="AnagraficaOperatoriCtrl">
            <!--<div class="pageheader">
        <h2><i class="fa fa-list-alt"></i> Anagrafica <span>Operatori</span></h2>
    </div>-->
            <div class="contentpanel">
                <div class="row">
                    <div ng-class="IsFullScreenOnEdit ? 'col-md-12' : 'col-md-8'" ng-show="!IsFullScreenOnEdit || (IsFullScreenOnEdit && viewState=='R')">
                        <fieldset ng-disabled="viewState=='U' || viewState=='C'">
                            <div class="panel panel-default" ng-disabled="true">
                                <div class="panel-heading padding10">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <h3 class="panel-title">{{ 'registry_Operators' | translate }}</h3>
                                        </div>
                                        <div class="col-md-2">
                                            <button type="button" class="btn btn-default" ng-click="insert()"><span class="fa fa-plus"></span>{{ 'general_Button_Add' | translate }}</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table" id="mainTable" datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance">
                                            <thead>
                                                <tr>
                                                    <!--  <th>Id</th>-->
                                                    <th>{{ 'registry_Operators_Username' | translate }}</th>
                                                    <th>{{ 'general_Label_Operator_Name' | translate }}</th>
                                                    <th>{{ 'registry_Operators_Surname' | translate }}</th>
                                                    <!--<th>Lingua</th>-->
                                                    <!--<th>Competenza</th>-->
                                                    <th>{{ 'general_Label__Disable' | translate }}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr id="{{ item.id }}" ng-repeat="item in items  | filter : {areaDiSicurezza_IsSuperAdmin : false}" ng-click="showItemDetail(item)" ng-dblclick="update()" ng-class="{'selected': currentItem.id === item.id}">

                                                    <!--<td>{{ item.id }}</td>-->
                                                    <td>{{ item.username }}</td>
                                                    <td>{{ item.nome }}</td>
                                                    <!--<td>{{ item.nome }}</td>-->
                                                    <td>{{ item.cognome }}</td>
                                                    <!--<td>{{ item.lingua }}</td>-->
                                                    <td> <input type="checkbox" ng-model="item.isDisable" disabled /> </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div><!-- table-responsive -->

                                </div><!-- panel-body -->
                            </div><!-- panel -->
                        </fieldset>
                    </div>
                    <div ng-class="IsFullScreenOnEdit ? 'col-md-12' : 'col-md-4'" ng-show="!IsFullScreenOnEdit || (IsFullScreenOnEdit && (viewState=='U' || viewState=='C') )">
                        <div class="panel panel-default">
                            <fieldset ng-disabled="viewState=='R'">
                                <div class="panel-heading">
                                    <h3 class="panel-title">{{ 'general_Label_Detail' | translate }}</h3>
                                </div>
                                <div class="panel-body">

                                    <!--<div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label class="control-label">Codice</label>
                <input type="text" name="codice" class="form-control" ng-model="currentItem.codice" />
            </div>
        </div>
    </div>-->

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label">{{ 'general_Label_Operator_Name' | translate }}</label>
                                                <input type="text" name="nome" class="form-control" ng-model="currentItem.nome" />
                                            </div>
                                        </div><!-- col-sm-6 -->
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label">{{ 'registry_Operators_Surname' | translate }}</label>
                                                <input type="text" name="descrizione" class="form-control" ng-model="currentItem.cognome" />
                                            </div>
                                        </div><!-- col-sm-6 -->
                                    </div><!-- row -->
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="control-label">{{ 'registry_Operators_CompetenceType' | translate }}</label>
                                                <div class="form-group">
                                                    <select class="form-control chosen-select" chosen
                                                            ng-model="currentItem.operatoreCompetenza.id" ng-disabled="viewState=='R'">
                                                        <option ng-repeat="typeCompetence in typeCompetences" value="{{typeCompetence.id}}"
                                                                ng-selected="currentItem.operatoreCompetenza.id === typeCompetence.id">
                                                            {{typeCompetence.nome}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div><!-- col-sm-6 -->
                                    </div><!-- row -->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">{{ 'registry_Operators_Username' | translate }}</label>
                                                <input type="text" name="descrizione" class="form-control" ng-model="currentItem.username" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">{{ 'registry_Operators_Password' | translate }}</label>
                                                <input type="text" name="descrizione" class="form-control" ng-model="currentItem.password" />
                                            </div>
                                        </div>

                                                                    <!--<div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">{{ 'registry_Operators_Language' | translate }}</label>
                                        <input type="text" name="descrizione" class="form-control" ng-model="currentItem.lingua" />
                                    </div>
                                </div>-->
                                    </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group" >
                                                    <label class="control-label">{{ 'registry_Operators_Language' | translate }}</label>
                                                    <div class="form-group">
                                                        <select class="form-control chosen-select" chosen
                                                                ng-model="currentItem.lingua" ng-disabled="viewState=='R'">
                                                            <option ng-repeat="typeMachine in GetTipoLingua" value="{{typeMachine.value}}"
                                                                    ng-selected="currentItem.lingua === typeMachine.value">
                                                                {{typeMachine.value}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div><!-- col-sm-6 -->
                                        <!--</div>--><!-- row -->


                                  
                                    <!--<div class="row">-->
                                        <div class="col-sm-6">
                                            <div class="form-group" style="    margin-top: 30px;">
                                                <div class="ckbox ckbox-primary">
                                                    <input type="checkbox" value="1" id="isDisabled" ng-model="currentItem.isDisable" />
                                                    <label for="isDisabled">{{ 'general_Label__Disable' | translate }}</label>
                                                </div>
                                            </div>
                                        </div><!-- col-sm-6 -->
                                    </div><!-- row -->



                                    <br />
                                    <div class="row">
                                        <div class="col-sm-12"> <div class="form-group">{{ 'registry_Operators_SecurityActive' | translate }}: </div></div>

                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <div class="ckbox ckbox-primary">
                                                    <input type="checkbox" value="1" id="AreaDiSicurezza_Tabelle" ng-model="currentItem.areaDiSicurezza_Tabelle" />
                                                    <label for="AreaDiSicurezza_Tabelle">{{ 'registry_Operators_Table' | translate }}</label>
                                                </div>
                                            </div>
                                        </div><!-- col-sm-4 -->
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <div class="ckbox ckbox-primary">
                                                    <input type="checkbox" value="1" id="AreaDiSicurezza_Anagrafica" ng-model="currentItem.areaDiSicurezza_Anagrafica" />
                                                    <label for="AreaDiSicurezza_Anagrafica">{{ 'registry_Operators_Registry' | translate }}</label>
                                                </div>
                                            </div>
                                        </div><!-- col-sm-4 -->
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <div class="ckbox ckbox-primary">
                                                    <input type="checkbox" value="1" id="AreaDiSicurezza_Designer" ng-model="currentItem.areaDiSicurezza_Designer" />
                                                    <label for="AreaDiSicurezza_Designer">{{ 'registry_Operators_Designer' | translate }}</label>
                                                </div>
                                            </div>
                                        </div><!-- col-sm-4 -->
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <div class="ckbox ckbox-primary">
                                                    <input type="checkbox" value="1" id="AreaDiSicurezza_Produzione" ng-model="currentItem.areaDiSicurezza_Produzione" />
                                                    <label for="AreaDiSicurezza_Produzione">{{ 'registry_Operators_Production' | translate }}</label>
                                                </div>
                                            </div>
                                        </div><!-- col-sm-4 -->
                                    </div><!-- row -->
                                    <!--------------------------------------->
                                    <!--SELEZIONE PER AZIENDA-->
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="control-label">{{ 'registry_DropDownTitle_Company' | translate }}</label>
                                                <div class="form-group">
                                                    <select class="form-control chosen-select" chosen
                                                            ng-model="currentItem.azienda.id" ng-disabled="viewState=='R'">
                                                        <option value="">{{ 'registry_DropDownSelectOne_Company' | translate }}</option>
                                                        <option ng-repeat="azienda in listaAziende" value="{{azienda.id}}"
                                                                ng-selected="currentItem.azienda.id === azienda.id">
                                                            {{azienda.value}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div><!-- col-sm-6 -->
                                    </div><!-- row -->
                                    <!--------------------------------------->
                                </div><!-- panel-body -->
                                    <div class="panel-footer" style="padding: 10px;">
                                        <button class="btn btn-primary" ng-click="confirm()"><span class="fa fa-save"></span> {{ 'general_Button_Save' | translate }}</button>
                                        <button class="btn btn-white" ng-click="cancel()"><span class="fa  fa-undo"></span> {{ 'general_General_Button_Annul' | translate }}</button>
                                        <button class="btn btn-danger" data-toggle="modal" data-target="#modalConfirmDelete"><span class="fa fa-trash-o"></span> {{ 'general_General_Button_Delete' | translate }}</button>
                                    </div>

                                    <!-- Modal -->
                                    <div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    <h4 class="modal-title" id="myModalLabel">{{ 'general_General_Label_Conf_Delete' | translate }}</h4>
                                                </div>
                                                <div class="modal-body">
                                                    {{ 'general_General_Label_Alert' | translate }}
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'general_General_Button_No' | translate }}</button>
                                                    <button type="button" class="btn btn-primary" ng-click="delete()">{{ 'general_General_Button_Ok' | translate }}</button>
                                                </div>
                                            </div><!-- modal-content -->
                                        </div><!-- modal-dialog -->
                                    </div><!-- modal -->
</fieldset>
                        </div><!-- panel -->
                    </div>
                </div>
            </div>

            <!-- finestre di messaggistica-->
            <div ng-include="'common-messages.html'"></div>
        </div>
    </div><!-- mainpanel -->



    <script src="js/loadAllScript.js"></script>
    <script src="app/controllers/anagrafica/operatori.controller.js"></script>
    <script src="app/controllers/accessi/accessi.controller.js"></script>
</body>
</html>



