﻿<!DOCTYPE html>
<html lang="it" ng-app="AppMacchine">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <title>{{ 'registry_workshift_Name' | translate }}</title>

    <link href="css/style.default.css" rel="stylesheet">
    <link href="css/jquery.datatables.css" rel="stylesheet">
    <link rel="stylesheet" href="css/jquery.tagsinput.css" />
    <link rel="stylesheet" href="css/colorpicker.css" />
    <link rel="stylesheet" href="css/dropzone.css" />
    <!--NOCDN<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">-->
    <link rel="stylesheet" href="css/select2.css">
    <link rel="stylesheet" href="css/selectize.default.css">
    <link rel="stylesheet" href="css/dx.common.css">
    <link rel="stylesheet" href="css/dx.light.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

    <link rel="stylesheet" href="css/select.css" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <!-- Preloader -->
    <div id="preloader">
        <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
    </div>

    <!-- leftpanel -->
    <div class="leftpanel" ng-controller="menuCtrl" ng-include="'left-side.html'"> </div>
    <!-- leftpanel -->

    <div class="mainpanel">
        <!-- toppanel -->
        <div ng-controller="AccessiCtrl" ng-include="'top-side.html'"></div>
        <!-- toppanel -->

        <div ng-controller="TurniDiLavoroCtrl">
            <!--<div class="pageheader">
                <h2><i class="fa fa-list-alt"></i> Anagrafica <span>Operatori</span></h2>
            </div>-->
            <div class="contentpanel">
                <div class="row">
                    <div ng-class="IsFullScreenOnEdit ? 'col-md-12' : 'col-md-8'" ng-show="!IsFullScreenOnEdit || (IsFullScreenOnEdit && viewState=='R')">
                        <fieldset ng-disabled="viewState=='U' || viewState=='C'">
                            <div class="panel panel-default">
                                <div class="panel-heading padding10">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <h3 class="panel-title">{{ 'registry_workshift_Name' | translate }}</h3>
                                        </div>
                                        <div class="col-md-2">
                                            <button type="button" class="btn btn-default" ng-click="insert()"><span class="fa fa-plus"></span>{{ 'general_Button_Add' | translate }}</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table" id="mainTable" datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance">
                                            <thead>
                                                <tr>
                                                    <!--  <th>Id</th>-->
                                                    <th>{{ 'general_Label_Code' | translate }}</th>
                                                    <th>{{ 'general_Label_Operator_Name' | translate }}</th>
                                                    <th>{{ 'production_Start' | translate }}</th>
                                                    <th>{{ 'production_Stop' | translate }}</th>
                                                    <th>{{ 'general_Label__Disable' | translate }}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr id="{{ item.id }}" ng-repeat="item in items" ng-click="showItemDetail(item)" ng-dblclick="update()" ng-class="{'selected': currentItem.id === item.id}">
                                                    <td>{{ item.codice }}</td>
                                                    <td>{{ item.nome }}</td>
                                                    <td>{{ getFormattedTT(item.inizioHH) }}:{{ getFormattedTT(item.inizioMM) }}</td>
                                                    <td>{{ getFormattedTT(item.fineHH) }}:{{ getFormattedTT(item.fineMM) }}</td>
                                                    <td> <input type="checkbox" ng-model="item.IsDisabilitato" disabled /> </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div><!-- table-responsive -->
                                </div><!-- panel-body -->
                            </div><!-- panel -->
                        </fieldset>
                    </div>
                    <div ng-class="IsFullScreenOnEdit ? 'col-md-12' : 'col-md-4'" ng-show="!IsFullScreenOnEdit || (IsFullScreenOnEdit && (viewState=='U' || viewState=='C') )">
                        <div class="panel panel-default">
                            <fieldset ng-disabled="viewState=='R'">
                                <div class="panel-heading">
                                    <h3 class="panel-title">{{ 'general_Label_Detail' | translate }}</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="control-label">{{ 'general_Label_Code' | translate }}</label>
                                                <input type="text" name="codice" class="form-control" ng-model="currentItem.codice" />
                                            </div>
                                        </div><!-- col-sm-6 -->
                                    </div><!-- row -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label">{{ 'registry_Companies_Name' | translate }}</label>
                                                <input type="text" name="nome" class="form-control" ng-model="currentItem.nome" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div style="text-align: center;">
                                                <label>{{ 'registry_workshift_start' | translate }}:</label>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    {{ 'designer_ListBase_Phases_hh' | translate }}
                                                    <input type="number" ng-model="currentItem.inizioHH" max="23" min="0" class="form-control" />
                                                </div>
                                                <div class="col-md-6">
                                                    {{ 'designer_ListBase_Phases_mm' | translate }}
                                                    <input type="number" ng-model="currentItem.inizioMM" max="59" min="0" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div style=" text-align: center;">
                                                <label>{{ 'registry_workshift_stop' | translate }}:</label>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    {{ 'designer_ListBase_Phases_hh' | translate }}
                                                    <input type="number" ng-model="currentItem.fineHH" max="23" min="0" class="form-control" />
                                                </div>
                                                <div class="col-md-6">
                                                    {{ 'designer_ListBase_Phases_mm' | translate }}
                                                    <input type="number" ng-model="currentItem.fineMM" max="59" min="0" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- row -->
                                    <!--<div class="row">
                                        <div class="col-md-12" style="margin-top:15px" >
                                            <div class="bootstrap-select-wrapper">
                                                <label>{{ 'registry_Cost_Center' | translate }}</label>
                                                <select id="dataPicker"  title="Scegli una opzione" id="multiselect" multiple="multiple" data-multiple-separator="">
                                                    <option id="{{ macchina.id }}" ng-repeat="macchina in macchine" value="{{ macchina.id }}" >{{ macchina.nome }}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>-->

                                    <div class="row">
                                        <div class="col-sm-12" style="margin-top: 25px;">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-6 text-center">
                                                        {{ 'registry_Workshift_LabelDay' | translate }}
                                                    </div>
                                                    <div class="col-md-6 text-center">
                                                        {{ 'registry_Workshift_LabelMachine' | translate }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <div class="col-md-10">
                                                                <label for="FlagAll">Seleziona tutti</label>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <input type="checkbox" value="1" id="FlagAll" ng-click="checkedAllDays()" onchange="checkedAllDays(this)" />
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-10">
                                                                <label for="FlagLunedi">{{ 'registry_Workshift_Monday' | translate }}</label>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <input type="checkbox" value="1" id="FlagLunedi" ng-model="currentItem.flagLunedi" />
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-md-10">
                                                                <label for="FlagMartedi">{{ 'registry_Workshift_Tuesday' | translate }}</label>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <input type="checkbox" value="1" id="FlagMartedi" ng-model="currentItem.flagMartedi" />
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-md-10">
                                                                <label for="FlagMercoledi">{{ 'registry_Workshift_Wednesday' | translate }}</label>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <input type="checkbox" value="1" id="FlagMercoledi" ng-model="currentItem.flagMercoledi" />
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-md-10">
                                                                <label for="FlagGiovedi">{{ 'registry_Workshift_Thursday' | translate }}</label>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <input type="checkbox" value="1" id="FlagGiovedi" ng-model="currentItem.flagGiovedi" />
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-md-10">
                                                                <label for="FlagVenerdi">{{ 'registry_Workshift_Friday' | translate }}</label>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <input type="checkbox" value="1" id="FlagVenerdi" ng-model="currentItem.flagVenerdi" />
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-md-10">
                                                                <label for="FlagSabato">{{ 'registry_Workshift_Saturday' | translate }}</label>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <input type="checkbox" value="1" id="FlagSabato" ng-model="currentItem.flagSabato" />
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-md-10">
                                                                <label for="FlagDomenica">{{ 'registry_Workshift_Sunday' | translate }}</label>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <input type="checkbox" value="1" id="FlagDomenica" ng-model="currentItem.flagDomenica" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6" ng-if="macchine!=null">
                                                        <div ng-repeat="macchina in macchine">
                                                            <div class="row">
                                                                <div class="col-md-10">
                                                                    <label>{{ macchina.nome }}</label>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <input type="checkbox" value="{{macchina.id}}" id="{{macchina.id}}" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12" style="margin-top: 25px;">
                                            <div class="ckbox ckbox-primary">
                                                <input type="checkbox" value="1" id="isEccezione" ng-model="currentItem.isEccezione" />
                                                <label for="isEccezione">{{ 'registry_Workshift_ValidFrom' | translate }}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12" style="margin-top: 25px;">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <input type="date" id="dataValidoDal" ng-disabled="!currentItem.isEccezione" ng-model="currentItem.validoDal" class="form-control" />
                                                    </div>
                                                    <div class="col-md-2 text-center" style="margin: auto;">
                                                        al
                                                    </div>
                                                    <div class="col-md-5">
                                                        <input type="date" id="dataValidoAl" ng-disabled="!currentItem.isEccezione" ng-model="currentItem.validoAl" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12" style="margin-top: 25px;">
                                            <div class="form-group">
                                                <div class="ckbox ckbox-primary">
                                                    <input type="checkbox" value="1" id="isDisabled" ng-model="currentItem.IsDisabilitato" />
                                                    <label for="isDisabled">{{ 'general_Label__Disable' | translate }}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- panel-body -->
                                <div class="panel-footer" style="padding: 10px;">
                                    <button class="btn btn-primary" ng-click="confirm()"><span class="fa fa-save"></span> {{ 'general_Button_Save' | translate }}</button>
                                    <button class="btn btn-white" ng-click="cancel()"><span class="fa  fa-undo"></span> {{ 'general_General_Button_Annul' | translate }}</button>
                                    <button class="btn btn-danger" data-toggle="modal" data-target="#modalConfirmDelete"><span class="fa fa-trash-o"></span> {{ 'general_General_Button_Delete' | translate }}</button>
                                </div>
                                <!-- Modal -->
                                <div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="myModalLabel">{{ 'general_General_Label_Conf_Delete' | translate }}</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                                {{ 'general_General_Label_Alert' | translate }}
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'general_General_Button_No' | translate }}</button>
                                                <button type="button" class="btn btn-primary" ng-click="delete()">{{ 'general_General_Button_Ok' | translate }}</button>
                                            </div>
                                        </div><!-- modal-content -->
                                    </div><!-- modal-dialog -->
                                </div><!-- modal -->
                            </fieldset>
                        </div><!-- panel -->
                    </div>
                </div>
            </div>
            <!-- finestre di messaggistica-->
            <div ng-include="'common-messages.html'"></div>
        </div>
    </div><!-- mainpanel -->
    <script src="js/loadAllScript.js"></script>
    <script src="app/controllers/anagrafica/turni-di-lavoro.controller.js"></script>
    <script src="app/controllers/accessi/accessi.controller.js"></script>
    <script>
        //function checkedAllDays(checkAll) {
            
        //    if (checkAll.checked) {
        //        document.getElementById("FlagLunedi").checked = true;
        //        document.getElementById("FlagMartedi").checked = true;
        //        document.getElementById("FlagMercoledi").checked = true;
        //        document.getElementById("FlagGiovedi").checked = true;
        //        document.getElementById("FlagVenerdi").checked = true;
        //        document.getElementById("FlagSabato").checked = true;
        //        document.getElementById("FlagDomenica").checked = true;
        //    }
            
        //}
    </script>
</body>
</html>