﻿<!DOCTYPE html>
<html lang="it">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <title>Anagrafica Operazioni Ciclo</title>

    <link href="css/style.default.css" rel="stylesheet">
    <link href="css/jquery.datatables.css" rel="stylesheet">
    <link rel="stylesheet" href="css/jquery.tagsinput.css" />
    <link rel="stylesheet" href="css/colorpicker.css" />
    <link rel="stylesheet" href="css/dropzone.css" />
                <!--NOCDN<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
                <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">-->
    <link rel="stylesheet" href="css/select2.css">
    <link rel="stylesheet" href="css/selectize.default.css">

    <link rel="stylesheet" href="css/select.css" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body ng-app="AppMacchine">
    <!-- Preloader -->
    <div id="preloader">
        <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
    </div>

    <!-- leftpanel -->
    <div class="leftpanel" ng-controller="menuCtrl" ng-include="'left-side.html'"> </div>
    <!-- leftpanel -->

    <div class="mainpanel">
        <!-- toppanel -->
        <div ng-controller="AccessiCtrl" ng-include="'top-side.html'"></div>
        <!-- toppanel -->

        <div  ng-controller="AnagraficaOperazioniCicloCtrl">
            <div class="pageheader">
                <h2><i class="fa fa-list-alt"></i> Anagrafica <span>Operazioni Ciclo</span></h2>
            </div>
            <div class="contentpanel">
                <div class="row">
                    <div ng-class="IsFullScreenOnEdit ? 'col-md-12' : 'col-md-8'" ng-show="!IsFullScreenOnEdit || (IsFullScreenOnEdit && viewState=='R')">
                        <fieldset ng-disabled="viewState=='U' || viewState=='C'">
                            <div class="panel panel-default" ng-disabled="true">
                                <div class="panel-heading padding10">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <h3 class="panel-title">Operazioni Ciclo</h3>
                                        </div>
                                        <div class="col-md-2" style="text-align:right;">
                                            <button type="button" class="btn btn-default" ng-click="insert()"><span class="fa fa-plus"></span>Aggiungi</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table" id="mainTable" datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance">
                                            <thead>
                                                <tr>
                                                    <!--  <th>Id</th>-->
                                                    <th>Nome</th>
                                                    <th>Barcode</th>
                                                    <th>Descrizione</th>
                                                    <th>Automatica</th>
                                                    <th>IsDisabled</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr id="{{ item.id }}" ng-repeat="item in items track by item.id" ng-click="showItemDetail(item)" ng-dblclick="update()" ng-class="{'selected': currentItem.id === item.id}">
                                                    <!--<td>{{ item.id }}</td>-->
                                                    <td>{{ item.nome }}</td>
                                                    <td>{{ item.barcode }}</td>
                                                    <td>{{ item.descrizione }}</td>
                                                    <td> <input type="checkbox" ng-model="item.isAutomatica" disabled /> </td>
                                                    <td> <input type="checkbox" ng-model="item.isDisable" disabled /> </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div><!-- table-responsive -->

                                </div><!-- panel-body -->
                            </div><!-- panel -->
                        </fieldset>
                    </div>
                    <div ng-class="IsFullScreenOnEdit ? 'col-md-12' : 'col-md-4'" ng-show="!IsFullScreenOnEdit || (IsFullScreenOnEdit && (viewState=='U' || viewState=='C') )">
                        <div class="panel panel-default">
                            <fieldset ng-disabled="viewState=='R'">
                                <div class="panel-heading padding10">
                                    <div class="row">
                                        <div class="col-md-6" style="margin-top:20px;">
                                            <h3 class="panel-title">{{titolo}}</h3>
                                        </div>
                                        <div class="col-md-6">
                                            <div style="padding: 10px;text-align:right;">
                                                <button class="btn btn-primary" ng-click="confirm()"><span class="fa fa-save"></span> Salva</button>
                                                <button class="btn btn-primary" ng-click="confirmAndClose()"><span class="fa fa-save"></span>Salva e Chiudi</button>
                                                <button class="btn btn-white" data-toggle="modal" data-target="#modalConfirmUndo"><span class="fa  fa-undo"></span>Annulla e Chiudi</button>
                                                <button class="btn btn-danger" data-toggle="modal" data-target="#modalConfirmDelete"><span class="fa fa-trash-o"></span> Elimina</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <!-- BASIC WIZARD -->
                                    <div id="basicWizard" class="basic-wizard">

                                        <ul class="nav nav-pills nav-justified">
                                            <li class="active"><a href="#tab1" data-toggle="tab"><span>Testata</span></a></li>
                                            <li class="{{!isEnabledTabTimers ? 'hidden':''}}">
                                                <a href="#tab2" data-toggle="tab">
                                                    <span>Dettaglio Fasi</span>
                                                </a>
                                            </li>
                                        </ul>

                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab1">
                                                <div class="form-group col-md-3">
                                                    <label>Codice</label>
                                                    <div>
                                                        <input type="text" name="codice" class="form-control" ng-model="currentItem.codice" />
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label>Barcode</label>
                                                    <div>
                                                        <input type="text" name="barcode" class="form-control" ng-model="currentItem.barcode" />
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label>Nome</label>
                                                    <div>
                                                        <input type="text" name="nome" class="form-control" ng-model="currentItem.nome" />
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label>Descrizione</label>
                                                    <div>
                                                        <textarea type="text" cols="40" rows="2" name="descrizione" class="form-control" ng-model="currentItem.descrizione"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <!--<div class="ckbox ckbox-primary col-md-3">
                                                        <input type="checkbox" value="1" id="isCiclica" ng-model="currentItem.isCiclica" />
                                                        <label for="isCiclica">Ciclica</label>
                                                    </div>-->
                                                    <div class="ckbox ckbox-primary col-md-3">
                                                        <input type="checkbox" value="1" id="isAutomatica" ng-model="currentItem.isAutomatica" />
                                                        <label for="isAutomatica">Automatica</label>
                                                    </div>
                                                    <div class="ckbox ckbox-primary col-md-3">
                                                        <input type="checkbox" value="1" id="isAndon" ng-model="currentItem.isAndon" />
                                                        <label for="isAndon">Andon</label>
                                                    </div>
                                                    <div class="ckbox ckbox-primary col-md-3">
                                                        <input type="checkbox" value="1" id="isDisabled" ng-model="currentItem.isDisabled" />
                                                        <label for="isDisabled">Disabilitata</label>
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label>Takt Operazioni Macchina</label>
                                                    <div>
                                                        <input type="text" name="taktMacchina" class="form-control" ng-model="currentItem.taktMacchina" />
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label>Takt Operazioni Manodopera</label>
                                                    <div>
                                                        <input type="text" name="taktManodopera" class="form-control" ng-model="currentItem.taktManodopera" />
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label>Takt Totale</label>
                                                    <div>
                                                        <input type="text" name="taktTotale" class="form-control" ng-model="currentItem.taktTotale" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="tab2">
                                                <div id="basicWizard_2" class="basic-wizard">
                                                    <ul class="nav nav-pills nav-justified">
                                                        <li ng-repeat="causale in CausaliFase track by causale.id" class="{{causale.id == 0 ? 'active' : ''}}"><a href="#tab_{{causale.value}}" data-toggle="tab"><span>{{causale.value}}</span></a></li>
                                                    </ul>
                                                    <div class="tab-content" ng-keyup="globalChange()" ng-mouseup="globalChange()" ng-mouseleave="globalChange()">
                                                        <div id="tab_{{causale.value}}" ng-repeat="causale in CausaliFase track by causale.id" class="{{causale.id == 0 ? 'tab-pane ng-scope active' : 'tab-pane'}}">
                                                            <div class="col-md-5">
                                                                <b>UOMO</b>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <b>MACCHINA</b>
                                                            </div>
                                                            <div class="form-group col-md-3">
                                                                Competenza
                                                                <select class="form-control chosen-select" chosen
                                                                        ng-model="modelsSelCompetenzaOperatore[causale.id]" ng-disabled="viewState=='R'" id="sel_competenzaOperatore_{{causale.id}}">
                                                                    <option value="">Selezionare</option>
                                                                    <option ng-repeat="competenza in CompetenzeOperatori" value="{{competenza.id}}"
                                                                            ng-selected="modelsSelCompetenzaOperatore[causale.id] === competenza.id">
                                                                        {{competenza.nome}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                            <div class="col-md-1">
                                                                HH
                                                                <input type="number" id="oreUomo_{{causale.id}}" ng-model="modelsOreUomo[causale.id]" max="23" min="0" class="form-control" />
                                                            </div>
                                                            <div class="col-md-1">
                                                                mm
                                                                <input type="number" name="minutiUomo_{{causale.id}}" id="minutiUomo_{{causale.id}}" ng-model="modelsMinutiUomo[causale.id]" max="59" min="0" class="form-control" />
                                                            </div>
                                                            <div class="col-md-1">
                                                                ss
                                                                <input type="number" name="secondiUomo_{{causale.id}}" id="secondiUomo_{{causale.id}}" ng-model="modelsSecondiUomo[causale.id]" max="59" min="0" class="form-control" />
                                                            </div>
                                                            <div class="form-group col-md-3">
                                                                Macchina
                                                                <select class="form-control chosen-select" chosen ng-change="selectionMacchine(causale.id)"
                                                                        ng-model="modelsSelMacchine[causale.id]" ng-disabled="!isEnabledMacchinaSelection[causale.id]" id="sel_macchina_{{causale.id}}">
                                                                    <option value="-1">Selezionare</option>
                                                                    <option ng-repeat="macchina in Macchine" value="{{macchina.id}}"
                                                                            ng-selected="modelsSelMacchine[causale.id] === macchina.id">
                                                                        {{macchina.nome}}
                                                                    </option>
                                                                </select>
                                                                Competenza macchina
                                                                <select class="form-control chosen-select" chosen ng-change="selectionCompetenzaMacchine(causale.id)" id="sel_competenzaMacchina_{{causale.id}}"
                                                                        ng-model="modelsSelCompetenzaMacchine[causale.id]" ng-disabled="!isEnabledcompentenzaMacchineSelection[causale.id]">
                                                                    <option value="-1">Selezionare</option>
                                                                    <option ng-repeat="competenzaMacchine in CompetenzeMacchine" value="{{competenzaMacchine.id}}"
                                                                            ng-selected="currentItem.competenza.id === competenzaMacchine.id">
                                                                        {{competenzaMacchine.nome}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                            <div class="col-md-1">
                                                                HH
                                                                <input type="number" id="oreMacchina_{{causale.id}}" max="23" min="0" ng-model="modelsOreMacchina[causale.id]" class="form-control" />
                                                            </div>
                                                            <div class="col-md-1">
                                                                mm
                                                                <input type="number" id="minutiMacchina_{{causale.id}}" max="59" min="0" ng-model="modelsMinutiMacchina[causale.id]" class="form-control" />
                                                            </div>
                                                            <div class="col-md-1">
                                                                ss
                                                                <input type="number" id="secondiMacchina_{{causale.id}}" max="59" min="0" ng-model="modelsSecondiMacchina[causale.id]" class="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- tab-content -->
                                    </div><!-- #basicWizard -->
                                    <div class="panel-footer" style="padding: 10px;">
                                        <button class="btn btn-primary" ng-click="confirm()"><span class="fa fa-save"></span> Salva</button>
                                        <button class="btn btn-primary" ng-click="confirmAndClose()"><span class="fa fa-save"></span>Salva e Chiudi</button>
                                        <button class="btn btn-white" data-toggle="modal" data-target="#modalConfirmUndo"><span class="fa  fa-undo"></span>Annulla e Chiudi</button>
                                        <button class="btn btn-danger" data-toggle="modal" data-target="#modalConfirmDelete"><span class="fa fa-trash-o"></span> Elimina</button>
                                    </div>
                                </div><!-- panel-body -->
                                

                                <!-- Modal -->
                                <div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title" id="myModalLabel">Conferma Eliminazione</h4>
                                            </div>
                                            <div class="modal-body">
                                                Sei sicuro di voler cancellare il record?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                                                <button type="button" class="btn btn-primary" ng-click="delete()">Ok</button>
                                            </div>
                                        </div><!-- modal-content -->
                                    </div><!-- modal-dialog -->
                                </div>
                                <!-- modal -->
                                <!-- Modal -->
                                <div class="modal fade" id="modalConfirmUndo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title" id="myModalLabel">Conferma Annulla</h4>
                                            </div>
                                            <div class="modal-body">
                                                Sei sicuro di voler annullare eventuali modifiche?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                                                <button type="button" class="btn btn-primary" ng-click="cancel()">Ok</button>
                                            </div>
                                        </div><!-- modal-content -->
                                    </div><!-- modal-dialog -->
                                </div><!-- modal -->
                            </fieldset>
                        </div><!-- panel -->
                    </div>
                </div>
            </div>


        </div>
    </div><!-- mainpanel -->



    <script src="js/loadAllScript.js"></script>
    <script src="app/controllers/anagrafica/operazioniciclo.controller.js"></script>
    <script src="app/controllers/accessi/accessi.controller.js"></script>
</body>
</html>



