﻿<!--<div id="OrdiniAnalizzati" class="panel-riepilogo">
    <h2>Ordini analizzati:</h2>
    <ul id="listOrdini" class="order-list">
        <li ng-repeat="btc in listBtc">{{ btc.OdP }} (<a target="_blank" href="dashboard-oee.html?id={{btc.Id}}">Filtra</a>,<a href="produzione.html?i=fromDashboard&odp={{btc.OdP}}" target="_blank"> Dettaglio</a>)</li>
    </ul>
</div>-->

<div id="riepilogoTempi" class="panel-riepilogo">
    <div class="row">
        <h2>Totale tempo di lavorazione:</h2>
        <div class="summaryNavContainer">
            <a href="#" ng-class="selectedSummaryTabId === summaryOrdineTabId ? 'selectedButton' : ''" class="ml-2 summaryNavButton" id="btnTabSummaryLavOrdine" ng-click="navigateTroughSummary(summaryOrdineTabId);">Ordine</a>
            <a href="#" ng-class="selectedSummaryTabId === summaryTurnoTabId ? 'selectedButton' : ''" class="ml-2 summaryNavButton" id="btnTabAva" ng-click="navigateTroughSummary(summaryTurnoTabId);">Turno</a>
            <a href="#" ng-class="selectedSummaryTabId === summaryMacchinaTabId ? 'selectedButton' : ''" class="ml-2 summaryNavButton" id="btnTabQua" ng-click="navigateTroughSummary(summaryMacchinaTabId);">Macchina</a>
        </div>
            
        </div>
        <div id="tabSummaryLav" class="basic-wizard">
            <div class="summaryNavContainer row">
                <div class="tab-content" style="background-color: #FFFFFF; border-left: 0px; border-right: 0px; border-bottom: 0px ">
                    <div class="panel panel-default">
                        <div class="row" id="summaryLavOrdine" ng-show="selectedSummaryTabId == summaryOrdineTabId">
                            <div class="col-sm-12 grigliaDivStyle pl-2">
                                <div id="grigliaPerOrdine" dx-data-grid="grigliaOrdine"></div>
                            </div>
                        </div>
                        <div class="row" id="summaryLavTurno" ng-show="selectedSummaryTabId == summaryTurnoTabId">
                            <div class="col-sm-12 grigliaDivStyle pl-2">
                                <div id="grigliaPerTurno" dx-data-grid="grigliaTurno"></div>
                            </div>
                        </div>
                        <div class="row" id="summaryLavMacchina" ng-show="selectedSummaryTabId == summaryMacchinaTabId">
                            <div class="col-sm-12 grigliaDivStyle pl-2">
                                <div id="grigliaPerMacchina" dx-data-grid="grigliaMacchina"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div id="riepilogoPezzi" class="panel-riepilogo">
    <table class="tabellaPezzi">
        <tr>
            <td><h2>Totale pezzi teorici da produrre:</h2></td>
            <td><h2><b>{{pezziTarget}}</b></h2></td>
        </tr>
        <tr>
            <td><h2>Totale pezzi prodotti:</h2></td>
            <td><h2><b>{{pezziElaborati}}</b></h2></td>
        </tr>
        <tr>
            <td><h2>Totale pezzi scarto:</h2></td>
            <td><h2><b>{{pezziScartoTot}}</b></h2></td>
        </tr>
    </table>
</div>

<div class="panel-riepilogo" >
    <h3> Le principali cause di scarto sono: </h3>
    <ul style="font-size:18px;">
        <li ng-repeat="str in scartiCausaliPercentSummary">{{ str }}</li>
    </ul>
    <h3> Le principali cause di fermo sono: </h3>
    <ul style="font-size:18px;">
        <li ng-repeat="str in fermiCausaliPercentSummary">{{ str }}</li>
    </ul>
    <h3> Le principali cause di fermo sono: </h3>
    <ul style="font-size:18px;">
        <li ng-repeat="str in fermiCausaliTimeSummary">{{ str }}</li>
    </ul>
    <h3> Le principali cause di fermo sono: </h3>
    <ul style="font-size:18px;">
        <li ng-repeat="str in fermiCausaliNumberSummary">{{ str }}</li>
    </ul>
    <!--<div id="extraInfoList" dx-list="listOptions"></div>-->
</div>
