﻿<!DOCTYPE html>
<html lang="it" ng-app="AppMacchine">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">

    <title>{{ 'dashboard' | translate }} </title>


    <link href="css/style.default.css" rel="stylesheet">
    <link href="css/jquery.datatables.css" rel="stylesheet">
    <link rel="stylesheet" href="css/jquery.tagsinput.css" />
    <link rel="stylesheet" href="css/colorpicker.css" />
    <link rel="stylesheet" href="css/dropzone.css" />
    <link rel="stylesheet" href="css/select.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <style>
        .green {
            color: green;
        }

        .red {
            color: red;
        }

        .yellow {
            color: yellow;
        }
    </style>
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.2/nv.d3.min.css" />-->
    <link rel="stylesheet" href="css/nv.d3.min.css" />
</head>
<body>
    <!-- Preloader -->
    <div id="preloader">
        <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
    </div>
    <!-- leftpanel -->
    <div class="leftpanel" ng-controller="menuCtrl" ng-include="'left-side.html'"> </div>
    <!-- leftpanel -->
    <div class="mainpanel">
        <!-- toppanel -->
        <div ng-controller="AccessiCtrl" ng-include="'top-side.html'"></div>
        <!-- toppanel -->
        <div ng-controller="DashboardCtrl">
            <div class="pageheader">
                <div class="row">
                    <div class="col-md-10">
                        <h2><i class="fa fa-list-alt"></i> {{ 'dashboard_Pannel_Controll' | translate }}</h2>
                    </div>
                    <div class="col-md-2">
                        <div ng-show="listaAziende.length  > 0">
                            <select class="form-control chosen-select" chosen ng-change="reload()" ng-model="MainFilter.filterByCompanyId" ng-disabled="MainFilter.disableFilterByCompanyId">
                                <option value="">{{ 'registry_DropDownSelectOne_Company' | translate }}</option>
                                <option ng-repeat="azienda in listaAziende" value="{{azienda.id}}"
                                        ng-selected="MainFilter.filterByCompanyId === azienda.id">
                                    {{azienda.value}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contentpanel">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="panel panel-success panel-stat">
                            <div class="panel-heading">
                                <div class="stat">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <img src="images/is-user.png" alt="" />
                                        </div>
                                        <div class="col-xs-8">
                                            <small class="stat-label">{{ 'dashboard_Active_Operators' | translate }}</small>
                                            <h1>{{ OperatoriAttivi }}</h1>
                                        </div>
                                    </div><!-- row -->
                                    <div class="mb15"></div>
                                    <!--<div class="row">
                                        <div class="col-xs-6">
                                            <small class="stat-label">Ora precendente</small>
                                            <h4>{{ OperatoriAttiviOraPrec }}</h4>
                                        </div>
                                    </div>-->
                                    <!-- row -->
                                </div><!-- stat -->
                            </div><!-- panel-heading -->
                        </div><!-- panel -->
                    </div><!-- col-sm-6 -->
                    <div class="col-sm-6 col-md-3">
                        <div class="panel panel-danger panel-stat">
                            <div class="panel-heading">
                                <div class="stat">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <img src="images/is-document.png" alt="" />
                                        </div>
                                        <div class="col-xs-8">
                                            <small class="stat-label">{{ 'dashboard_Allarm' | translate }}</small>
                                            <h1>{{ OrdiniInAllarme }}</h1>
                                        </div>
                                    </div><!-- row -->
                                    <div class="mb15"></div>
                                    <!--<small class="stat-label">Ora precendente</small>
                                    <h4>{{ OrdiniInAllarmeOraPrec }}</h4>-->
                                </div><!-- stat -->
                            </div><!-- panel-heading -->
                        </div><!-- panel -->
                    </div><!-- col-sm-6 -->
                    <div class="col-sm-6 col-md-3">
                        <div class="panel panel-stat" style=".panel-body:#428bca;">
                            <div class="panel-heading">
                                <div class="stat">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <img src="images/is-document.png" alt="" />
                                        </div>
                                        <div class="col-xs-8">
                                            <small class="stat-label">{{ 'dashboard_Machine' | translate }}</small>
                                            <h1>{{ MacchinariAttiviOraPrec }}</h1>
                                        </div>
                                    </div><!-- row -->
                                    <div class="mb15"></div>
                                </div><!-- stat -->
                            </div><!-- panel-heading -->
                        </div><!-- panel -->
                    </div><!-- col-sm-6 -->
                    <div class="col-sm-6 col-md-3">
                        <div class="panel panel-dark panel-stat">
                            <div class="panel-heading">
                                <div class="stat">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <img src="images/is-money.png" alt="" />
                                        </div>
                                        <div class="col-xs-8">
                                            <small class="stat-label">{{ 'dashboard_Oee' | translate }}</small>
                                            <h1>{{ OEEMedia }}%</h1>
                                        </div>
                                    </div><!-- row -->
                                    <div class="mb15"></div>
                                    <!--<div class="row">
                                        <div class="col-xs-6">
                                            <small class="stat-label">Ora precedente</small>
                                            <h4>{{ OEEMediaOraPrec }}%</h4>
                                        </div>
                                    </div> row-->
                                </div><!-- stat -->
                            </div><!-- panel-heading -->
                        </div><!-- panel -->
                    </div><!-- col-sm-6 -->
                </div><!-- row -->
                <div class="row">
                    <div class="col-sm-8">
                        <div class="table-responsive" style="margin-top:25px">
                            <table class="table" id="mainTable" datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance">
                                <thead>
                                    <tr>
                                        <!-- <th>Id</th>-->
                                        <th>{{ 'dashboard_Orders_State' | translate }}</th>
                                        <th>{{ 'dashboard_Orders_Odp' | translate }}</th>
                                        <!--<th>{{ 'dashboard_Orders_Odp_Partial' | translate }}</th>-->
                                        <!--<th>{{ 'dashboard_Orders_Odv' | translate }}</th>-->
                                        <!--<th>Data consegna </th>-->
                                        <th>{{ 'dashboard_Orders_Piece' | translate }}</th>
                                        <th>{{ 'dashboard_Orders_Material' | translate }}</th>
                                        <th>{{ 'dashboard_Orders_Material_Description' | translate }}</th>
                                        <!--<th>{{ 'dashboard_Orders_Progress' | translate }}</th>-->
                                        <!--<th>{{ 'dashboard_Orders_Oee' | translate }}</th>-->
                                    </tr>
                                </thead>
                                <tbody style="font-size:20px;">
                                    <tr id="{{ item.id }}" ng-repeat="item in Ordini  | limitTo:20 track by item.id" ng-dblclick="update()">
                                        <td>
                                            <i ng-show="item.stato === 'inLavorazione'" class="fas fa-check" title="{{ item.stato }}"></i>
                                            <i ng-show="item.stato === 'inLavorazioneInPausa'" class="fas fa-pause" title="{{ item.stato }}"></i>
                                            <i ng-show="item.stato === 'inLavorazioneInEmergenza'" class="fas fa-exclamation" title="{{ item.stato }}"></i>
                                            <i ng-show="item.stato === 'inAttesa'" class="fas fa-flag" title="{{ item.stato }}"></i>
                                            <i ng-show="item.stato === 'inLavorazioneInIdle'" class="fas fa-flag" title="{{ item.stato }}"></i>
                                        </td>
                                        <td>{{ item.odP }}</td>
                                        <!--<td>{{ item.odPParziale }}</td>-->
                                        <!--<td>{{ item.odV }}</td>-->
                                        <td>{{ item.pezziDaProdurre }}</td>
                                        <td>{{ item.materiale.toString }}</td>
                                        <td>{{ item.materiale.descrizione }}</td>
                                        <!--<td>{{ item.odV_DataConsegna | date: 'dd/MM/yyyy' }}</td>-->
                                        <!--<td>
                                            <span class="badge " style="font-size:24px">{{ item.pezziProdotti }}</span>
                                            <span class="badge " style="font-size:20px">{{ item.percCompletamento }} %</span>
                                            <div class="progress" style="margin-top:2px;">
                                                <div ng-class="{'progress-bar':true ,'progress-bar-success': item.stato !== 'inLavorazioneInEmergenza',  'progress-bar-danger': item.stato === 'inLavorazioneInEmergenza'}" role="progressbar" aria-valuenow="{{ item.percCompletamento }}" aria-valuemin="0" aria-valuemax="100" ng-style="{width: item.percCompletamento  + '%'}"></div>
                                            </div><span style="font-size: 16px;">      {{ item.inizio | date: 'dd/MM/yyyy hh:mm:ss'  }}</span>
                                        </td>-->
                                        <!--<td style="font-size: 24px;">
                                            {{ item.oee }} %
                                            <span style="font-size: 24px;" ng-class="{'fa fa-long-arrow-down red': item.oeeAndamento === 'inDiscesa',  'fa fa-long-arrow-up green': item.oeeAndamento === 'inSalita',  'fa fa-arrows-h ': item.oeeAndamento === 'stabile' }" title="{{ item.stato }}"></span>
                                        </td>-->

                                    </tr>
                                </tbody>
                            </table>
                        </div><!-- table-responsive -->
                    </div><!-- col-sm-7 -->
                    <div class="col-sm-4">
                        <div class="panel panel-default" style="margin-top:25px">
                            <div class="panel-body">
                                <p class="mb15"></p>
                                <div class="col-md-4" id="pieDashboard" dx-pie-chart="pieDashboard"></div>
                            </div><!-- panel-body -->
                        </div><!-- panel -->
                    </div><!-- col-sm-6 -->
                </div><!-- row -->
                <div class="row">
                    <!--<div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h5 class="subtitle mb5">Consumo energetico</h5>
                                <p class="mb15"></p>
                                <nvd3 options="options_multiBarChart" data="data_multiBarChart" ></nvd3>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>
            <!-- finestre di messaggistica-->
            <div ng-include="'common-messages.html'"></div>
        </div>
    </div><!-- mainpanel -->

    <script src="js/loadAllScript.js"></script>
    <script src="app/controllers/dashboard.controller.js"></script>
    <script src="app/controllers/accessi/accessi.controller.js"></script>
    <script src="Scripts/jquery.signalR-2.2.0.js"></script>
</body>
</html>

<style>
    .fa-flag {
        color: black !important;
    }

    .fa-check {
        color: green !important;
    }

    .fa-exclamation {
        color: red !important;
    }

    .fa-pause {
        color: orange !important;
    }

    .fa-hand-paper {
        color: yellow !important;
    }


    .panel-heading {
        background-image: none;
        background-color: #4287f5;
        background: #4287f5;
        color: white;
    }

</style>
