﻿
<div class="row">
    <div class="col-sm-6 pieDivStyle">
        <div id="pieScarti" class="pieStyle" dx-pie-chart="pieScarti"></div>
    </div>
    <div class="col-sm-6 paretoDivStyle">
        <div id="chartScartiPareto" dx-chart="chartScartiPareto"></div>
    </div>
</div>

<div id="innerTabs" class="basic-wizard">
    <div class="basic-wizard">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="" ng-class="{'active' : tabScartiId == selectedQualityInnerTabId}" id="btnTabFermi" data-toggle="tab" ng-click="navigateInQuality(tabScartiId);refreshAccordion();">
                    <span>Dati aggregati</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="" ng-class="{'active' : tabScartiDatiPianiId == selectedQualityInnerTabId}" id="btnTabDatiPiani" data-toggle="tab" ng-click="navigateInQuality(tabScartiDatiPianiId);">
                    <span>Dati piani</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<div id="tabScarti" ng-show="tabScartiId == selectedQualityInnerTabId">
    <div class="row">
        <div class="col-sm-12 grigliaDivStyle">
            <div>
                <div id="grigliaScarti" dx-data-grid="grigliaScarti" dx-item-alias="perc">
                    <div data-options="dxTemplate:{ name:'bulletPerc' }" class="ng-hide" ng-show="true">
                        <div class="chart-cell">
                            <div dx-bullet="{
                                        size: {
                                            width: '100%',
                                            height: 25
                                        },
                                        margin: {
                                            bottom: 0,
                                            left: 0,
                                            right: 0,
                                            top: 0
                                        },
                                        showTarget: false,
                                        showZeroLevel: true,
                                        value: perc.value,
                                        startScaleValue: 0,
                                        color: '#1810eb',
                                        endScaleValue: maxValueBulletQual,
                                        tooltip: {
                                            enabled: true,
                                            font: {
                                                size: 18
                                            },
                                            paddingTopBottom: 2,
                                            customizeTooltip: customizeQualityTooltip,
                                            zIndex: 5,
                                        }
                                    }">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="tabScartiDatiPiani" ng-show="tabScartiDatiPianiId == selectedQualityInnerTabId" class="datiPianiContainer">
    <div class="row" ng-show="!scartiLoaderIsVisibile">
        <div class="col-sm-12 grigliaDivStyle">
            <div id="analisiScartiElenco">
                <div id="tabellaScartiDatiPiani" dx-data-grid="tabellaScartiDatiPiani"></div>
            </div>
        </div>
    </div>
    <div id="fermiDatiPianiLoader" ng-show="scartiLoaderIsVisibile" style="text-align:center">
        <div class="loaderDatiPiani">
            <i class="fa fa-spinner fa-spin"></i>
        </div>
    </div>
</div>