﻿<!DOCTYPE html>
<html lang="it" ng-app="AppMacchine">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <title>{{ 'registry_dashboard_production' | translate }}</title>

    <link href="css/style.default.css" rel="stylesheet">
    <link href="css/jquery.datatables.css" rel="stylesheet">
    <link rel="stylesheet" href="css/jquery.tagsinput.css" />
    <link rel="stylesheet" href="css/colorpicker.css" />
    <link rel="stylesheet" href="css/dropzone.css" />

    <link rel="stylesheet" type="text/css" href="css/tree-control.css">
    <link rel="stylesheet" href="css/select2.css">
    <link rel="stylesheet" href="css/selectize.default.css">
    <link rel="stylesheet" href="css/select.css" />
    <link rel="stylesheet" href="css/dx.common.css">
    <link rel="stylesheet" href="css/dx.light.css">
    <link rel=" stylesheet" href="css/_bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/_bootstrap-datetimepicker.css">
    <style>
        .selectedButton {
            background-color: #17a2b8 !important; /* Main color even when hovered or not */
            color: #fff !important; /* White text even when hovered or not */
        }

        .summaryNavContainer {
            font-family: 'LatoBold', sans-serif;
            text-decoration: none;
            font-size: 20px;
        }

        .summaryNavButton {
            display: inline-block;
            padding: .5rem 1rem; /* Adjust padding to reduce button size */
            border-radius: 10rem;
            color: #000; /* Main color text */
            background-color: #eee; /* Very light color when not hovered */
            font-size: 0.8rem; /* Adjust font size to reduce button size */
            transition: all .3s;
            position: relative;
            overflow: hidden;
            z-index: 1;
        }

        .summaryNavButton:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            height: 100%;
            background-color: #17a2b8; /* Colore principale durante l'hover */
            transition: all .3s;
            border-radius: 10rem;
            z-index: -1;
        }

        .summaryNavButton:hover {
            color: #fff; /* Testo bianco durante l'hover */
            background-color: #17a2b8; /* Colore principale durante l'hover */
            text-decoration: none !important;
        }

        .summaryNavButton:hover:before {
            width: 100%;
        }

        .headerRow {
            margin: 0px;
            background-color: #ffffff;
            padding: 10px;
            padding-left: 20px;
        }

        .gDiv {
            text-align: center;
        }

        .gTextPerc {
            display: inline-block;
            font-size: 300%;
            font-weight: 900;
        }

        .dx-progressbar-range {
            background-color: #033859;
        }

        .dx-progressbar-container {
            height: 16px;
            width: 100%;
            position: absolute;
        }

        .table-content {
            color: #22B7F2;
            font-weight: bold;
            font-size: 44px;
        }

        .table-header {
            color: #033859;
            font-weight: bold;
        }

        .table-border {
            background-color: #ffffff;
            border-right: 2px solid;
            border-color: #c6c6c6;
        }

        .dx-datagrid-header-panel {
            margin-top: 10px;
        }

        #filterDiv .dx-datagrid-headers {
            font-weight: bold !important;
            color: black !important;
        }

        #fuoriTurnoCheckbox .dx-checkbox-icon {
            width: 35px;
            height: 35px;
        }

        #listOrdini .dx-checkbox-icon {
            width: 20px;
            height: 20px;
        }

        .dx-command-select {
            width: 35px !important;
            min-width: 35px !important;
        }

        .textUpper {
            font-size: 130%;
            color: #959595;
            font-family: 'LatoBold';
        }

        .dx-list-item-content {
            padding-left: 35px;
        }

        .dx-group-cell {
            font-size: 160%;
        }

        .dx-header-row {
            font-size: 160%;
        }

        .loader {
            display: none;
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
        }

        .loading {
            border: 2px solid #ccc;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border-top-color: #1ecd97;
            border-left-color: #1ecd97;
            animation: spin 1s infinite ease-in;
        }

        .dx-row .dx-data-row .dx-column-lines {
            height: 150px !important;
            padding: 0 !important;
        }

        .pieDivStyle {
            background-color: #fff;
            padding: 5px;
            border-right: 2px solid #E4E7EA;
        }

        .pieStyle {
            width: 90%;
            height: 90%;
            margin: auto;
            max-height: 450px;
        }

        .paretoDivStyle {
            background-color: #fff;
            padding: 5px;
        }

        .grigliaDivStyle {
            background-color: #fff;
            border-top: 2px solid #E4E7EA
        }

        .centred {
            text-align: center;
        }

        .dxbg-bar-gauge {
            filter: drop-shadow(0px 0px 8px rgb(0 0 0 / 0.4));
        }

        .loaderDatiPiani {
            width: 200px; /* Imposta la larghezza desiderata */
            height: 200px; /* Imposta l'altezza desiderata */
        }

            .loaderDatiPiani i {
                margin-top: 75px;
                font-size: 50px; /* Imposta la dimensione dell'icona */
            }

        .datiPianiContainer {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .order-list {
            display: flex;
            flex-wrap: wrap; /* Permette il wrapping degli elementi quando la riga è piena */
            gap: 10px; /* Riduzione dello spazio tra gli elementi */
            list-style-type: none;
            padding: 0;
        }

            .order-list li {
                margin: 0;
                padding: 0;
                flex: 0 0 calc(14.2857% - 10px); /* 14.2857% di larghezza con 10px di spazio tra gli elementi */
                max-width: calc(14.2857% - 10px); /* Larghezza massima per mantenere 7 elementi per riga */
            }

        .panel-riepilogo {
            margin-bottom: 30px;
            border-bottom: 10px solid #eee;
        }

        .tabellaPezzi {
            border-collapse: collapse;
            width: 100%;
        }

            .tabellaPezzi td {
                padding: 8px 16px; /* Aggiungi spazio orizzontale tra le colonne */
                text-align: left;
                border-bottom: 1px solid #ddd;
            }

        .list-container {
            min-height: 440px;
            width: 100%;
            height: auto;
            position: absolute;
            top: 0;
            bottom: 0;
        }

        .tabellaPezzi td:first-child {
            font-weight: bold;
        }

        .tabellaPezzi tr:last-child td {
            border-bottom: none;
        }

        .deltaNegativeColor {
            color: green;
        }

        .deltaPositiveColor {
            color: red;
        }

        .deltaSpanClass {
            float: right;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>
</head>
<body>
    <div id="preloader">
        <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
    </div>
    <div class="leftpanel" id="leftpanel" ng-controller="menuCtrl" ng-include="'left-side.html'"> </div>
    <!-- leftpanel -->
    <div class="mainpanel" id="mainpanel" ng-controller="dashboardOeeCtrl">
        <!-- toppanel -->
        <div ng-controller="AccessiCtrl" ng-include="'top-side.html'"></div>
        <div class="loader" style="z-index: 10;">
            <div class="fa fa-spinner fa-spin fa-5x"></div>
        </div>
        <div class="contentpanel" id="divPrincipale">
            <div class="row headerRow">
                <div class="row" style="width:100%">
                    <div style="width: 8%;">
                        Dal
                    </div>
                    <div style="width: 8%; margin-left: 5px">
                        Al
                    </div>
                    <div style="width: 18%; margin-left: 5px">
                        Seleziona macchina
                    </div>
                    <div style="width: 13%; margin-left: 5px">
                        Seleziona ordine
                    </div>
                    <div style="width: 18%; margin-left: 5px">
                        Seleziona articolo
                    </div>
                    <div style="width: 13%; margin-left: 5px">
                        Seleziona turno
                    </div>
                    <div style="width: 10%; margin-left: 5px">
                        Percentuale minima
                    </div>
                    <div style="width: 10%; margin-left: 5px">
                    </div>
                    <div type="button" class="col-md-1" style="margin-left:5px"></div>
                </div>
                <div class="row" style="width:100%">
                    <input style="width:8%" type="date" id="filtroDal" ng-model="filtroDal" ng-change="changeFiltroDal()" />
                    <input style="width: 8%; margin-left: 5px " type="date" id="filtroAl" ng-model="filtroAl" />
                    <div style="width: 18%; margin-left: 5px" id="gridBoxMacchine" dx-drop-down-box="gridBoxMacchine" ng-model="listMacchine">
                        <div data-options="dxTemplate: { name: 'content' }">
                            <div dx-data-grid="gridBoxMacchine.dataGrid"></div>
                        </div>
                    </div>
                    <div style="width: 13%; margin-left: 5px" dx-drop-down-box="gridBoxCommesse">
                        <div data-options="dxTemplate: { name: 'content' }">
                            <div dx-data-grid="gridBoxCommesse.dataGrid"></div>
                        </div>
                    </div>
                    <div style="width: 18%; margin-left: 5px" id="gridBoxMateriali" dx-drop-down-box="gridBoxMateriali" ng-model="listMateriali">
                        <div data-options="dxTemplate: { name: 'content' }">
                            <div dx-data-grid="gridBoxMateriali.dataGrid"></div>
                        </div>
                    </div>
                    <div style="width: 13%; margin-left: 5px" dx-drop-down-box="gridBoxTurni">
                        <div data-options="dxTemplate: { name: 'content' }">
                            <div dx-data-grid="gridBoxTurni.dataGrid"></div>
                        </div>
                    </div>

                    <div style="width: 10%; margin-left: 5px">
                        <div id="percMinPie" dx-select-box="percMinPie"></div>
                    </div>
                    <!--<div style="width: 10%; margin-left: 5px">
                        <label class="form-check-label" for="filtroVisualizzaFuoriTurno">
                            Mostra fuori turno
                        </label>
                        <input class="form-check-input" style="margin-left:15px" ng-model="filtroVisualizzaFuoriTurno" type="checkbox" id="filtroVisualizzaFuoriTurno" value="1">
                    </div>-->
                    <button type="button" class="btn btn-info col-md-1 float-right" style="margin-left:5px" id="btnFiltra" ng-click="filtredDatiGrafici()">{{ 'production_Filter' | translate }}</button>
                </div>



            </div>
            <div id="tabDettaglio" class="basic-wizard">
                <div class="basic-wizard">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="#tabAva" id="btnTabAva" data-toggle="tab" ng-click="navigateTo(availabilityTabId);renderDatiGrafici();refreshAccordion();">
                                <span>Disponibilita'</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tabQua" id="btnTabQua" data-toggle="tab" ng-click="navigateTo(qualityTabId);renderDatiGrafici();">
                                <span>Qualita'</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tabQua" id="btnTabQua" data-toggle="tab" ng-click="navigateTo(efficencyTabId);renderDatiGrafici();">
                                <span>Efficienza</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="" id="btnTabQua" data-toggle="tab" ng-click="navigateTo(summaryTabId);renderDatiGrafici();">
                                <span>Riepilogo</span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content" style="background-color: #FFFFFF; border-left: 0px; border-right: 0px; border-bottom: 0px ">
                        <div class="panel panel-default">
                            <!--<div ng-include="'dashboard-oee-home.html'" ng-show="selectedTabId === homeTabId"></div>-->
                            <div ng-include="'dashboard-oee-availability.html'" ng-show="selectedTabId === availabilityTabId"></div>
                            <div ng-include="'dashboard-oee-quality.html'" ng-show="selectedTabId === qualityTabId"></div>
                            <div ng-include="'dashboard-oee-efficency.html'" ng-show="selectedTabId === efficencyTabId"></div>
                            <div ng-include="'dashboard-oee-summary.html'" ng-show="selectedTabId === summaryTabId"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-include="'common-messages.html'"></div>
        </div>
        <!--<div class="contentpanel">
            <div class="row headerRow">
                <div style="width: 8%;">
                    Dal
                </div>
                <div style="width: 8%; margin-left: 5px">
                    Al
                </div>
                <div style="width: 15%; margin-left: 5px">
                    Seleziona macchina
                </div>
                <div style="width: 15%; margin-left: 5px">
                    Seleziona turno
                </div>
                <div style="width: 15%; margin-left: 5px">
                    Seleziona articolo
                </div>
                <div style="width: 15%; margin-left: 5px">
                    Percentuale minima
                </div>
                <div style="width: 10%; margin-left: 5px">
                </div>
                <div type="button" class="col-md-1" style="margin-left:5px"></div>

                <input style="width:8%" type="date" id="filtroDal" ng-model="filtroDal" ng-change="refreshRangeSelector()" />
                <input style="width: 8%; margin-left: 5px " type="date" id="filtroAl" ng-model="filtroAl" ng-change="refreshRangeSelector()" />
                <div style="width: 15%; margin-left: 5px" id="gridBoxMacchine" dx-drop-down-box="gridBoxMacchine" ng-model="listMacchine">
                    <div data-options="dxTemplate: { name: 'content' }">
                        <div dx-data-grid="gridBoxMacchine.dataGrid"></div>
                    </div>
                </div>
                <div style="width: 15%; margin-left: 5px" dx-drop-down-box="gridBoxTurni">
                    <div data-options="dxTemplate: { name: 'content' }">
                        <div dx-data-grid="gridBoxTurni.dataGrid"></div>
                    </div>
                </div>
                <div style="width: 15%; margin-left: 5px" id="gridBoxMateriali" dx-drop-down-box="gridBoxMateriali" ng-model="listMateriali">
                    <div data-options="dxTemplate: { name: 'content' }">
                        <div dx-data-grid="gridBoxMateriali.dataGrid"></div>
                    </div>
                </div>
                <div style="width: 15%; margin-left: 5px">
                    <div id="percMinPie" dx-select-box="percMinPie"></div>
                </div>
                <div style="width: 10%; margin-left: 5px">
                    <label class="form-check-label" for="filtroVisualizzaFuoriTurno">
                        Mostra fuori turno
                    </label>
                    <input class="form-check-input" style="margin-left:15px" ng-model="filtroVisualizzaFuoriTurno" type="checkbox" id="filtroVisualizzaFuoriTurno" value="1">
                </div>
                <button type="button" class="btn btn-info col-md-1 float-right" style="margin-left:5px" id="btnFiltra" ng-click="filtredDatiGrafici()">{{ 'production_Filter' | translate }}</button>
            </div>
            <div id="tabDettaglio" class="basic-wizard">
                <div class="basic-wizard">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="#tabHome" id="btnTabHome" data-toggle="tab" ng-click="navigateTo(homeTabId);renderDatiGrafici();">
                                <span>Home</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tabAva" id="btnTabAva" data-toggle="tab" ng-click="navigateTo(availabilityTabId);renderDatiGrafici();refreshAccordion();">
                                <span>Availability</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tabQua" id="btnTabQua" data-toggle="tab" ng-click="navigateTo(qualityTabId);renderDatiGrafici();">
                                <span>Quality</span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content" style="background-color: #FFFFFF; border-left: 0px; border-right: 0px; border-bottom: 0px ">
                        <div class="panel panel-default">
                            <div ng-include="'dashboard-oee-home.html'" ng-show="selectedTabId === homeTabId"></div>
                            <div ng-include="'dashboard-oee-availability.html'" ng-show="selectedTabId === availabilityTabId"></div>
                            <div ng-include="'dashboard-oee-quality.html'" ng-show="selectedTabId === qualityTabId"></div>
                            <div ng-include="'dashboard-oee-energy.html'" ng-show="selectedTabId === energyTabId"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-include="'common-messages.html'"></div>
        </div>-->
    </div>

    <script>
        setTimeout(function () {
            $("#btnTabAva").click();
        }, 200);
    </script>

    <script src="js/loadAllScript.js"></script>
    <script src=" js/moment.min.js"></script>
    <script src="js/_bootstrap-datepicker.js"></script>
    <script src="js/_bootstrap-datepicker.it.min.js"></script>
    <script src="js/_bootstrap-datetimepicker.js"></script>
    <script src="js/_bootstrap-datetimepicker.it.js"></script>
    <script src="app/controllers/produzione/dashboard-oee.controller.js"></script>
    <script src="app/controllers/accessi/accessi.controller.js"></script>
    <script src="Scripts/jquery.signalR-2.2.0.js"></script>
</body>
</html>