﻿<!DOCTYPE html>
<html lang="it" ng-app="AppMacchine">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <title>{{ 'registry_dashboard_production' | translate }}</title>

    <link href="css/style.default.css" rel="stylesheet">
    <link href="css/jquery.datatables.css" rel="stylesheet">
    <link rel="stylesheet" href="css/jquery.tagsinput.css" />
    <link rel="stylesheet" href="css/colorpicker.css" />
    <link rel="stylesheet" href="css/dropzone.css" />

    <link rel="stylesheet" type="text/css" href="css/tree-control.css">
    <link rel="stylesheet" href="css/select2.css">
    <link rel="stylesheet" href="css/selectize.default.css">
    <link rel="stylesheet" href="css/select.css" />
    <link rel="stylesheet" href="css/dx.common.css">
    <link rel="stylesheet" href="css/dx.light.css">
    <link rel=" stylesheet" href="css/_bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/_bootstrap-datetimepicker.css">

    <style>

        .headerRow {
            margin-left: 0px;
            margin-top: 10px;
            margin-bottom: 10px;
            height: 285px;
            padding-top: 5px;
            padding-right: 5px;
            padding-bottom: 5px;
        }

        .contentpanel {
            background-color: #ffffff;
        }

        .gDivBig {
            text-align: center;
            position: absolute;
            top: 45%;
            left: 0%;
            height: 95%;
        }

        .gDiv {
            text-align: center;
            position: absolute;
            top: 52%;
            left: 0%;
            height: 95%;
        }


        .gText {
            display: flow-root;
            font-size: 110%
        }

        .gTextPerc {
            display: inline-block;
            font-size: 300%;
            font-weight: 900;
        }

        .gTextPercSmall {
            display: inline-block;
            font-size: 260%;
            font-weight: 900;
        }

        .divDettagli {
            color: #033859;
            background-color: #fff;
        }

        .dx-progressbar-range {
            background-color: #033859;
        }

        .dx-progressbar-status {
            float: right !important;
            font-size: 22px;
            top: -7px;
            margin-bottom: 5px;
        }

        .dx-progressbar-container {
            height: 16px;
            width: 80%;
            position: absolute;
        }


        .btn-floating i {
            display: inline-block;
            width: inherit;
            color: #fff;
            text-align: center;
            font-size: 1.25rem;
            line-height: 47px;
        }

        .carousel-multi-item .carousel-indicators li {
            width: 1.25rem;
            max-width: 1.25rem;
            height: 1.25rem;
            margin-bottom: -3.75rem;
            background-color: #4285f4;
        }

        .dxg-title {
            margin-top: 20px
        }

        .classMarginTop {
            margin-top: 15px;
        }

        .dx-datagrid-headers {
            font-weight: bold !important;
            color: black !important;
        }

        .loader {
            display: none;
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
        }

        .loading {
            border: 2px solid #ccc;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border-top-color: #1ecd97;
            border-left-color: #1ecd97;
            animation: spin 1s infinite ease-in;
        }

        .dxc-axes-group{
            visibility: hidden;
        }

        .dxbg-bar-gauge {
            /*filter: drop-shadow(0px 0px 8px rgb(0 0 0 / 0.4));*/
            filter: drop-shadow(0px 0px 8px rgb(0 0 0 / 0.4));
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        
        
    </style>
</head>
<body>
    <div id="preloader">
        <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
    </div>
    <div class="leftpanel" id="leftpanel" ng-controller="menuCtrl" ng-include="'left-side.html'"> </div>
    <!-- leftpanel -->
    <div class="mainpanel" id="mainpanel" ng-controller="oeeCtrl">
        <!-- toppanel -->
        <div ng-include="'top-side.html'"></div>

        <div class="contentpanel">
            <div class="row headerRow">
                <div class="col-md-3 clearfix d-none d-md-block" style="height: 285px">
                    <div class="row" style="padding: auto;margin-left: -5px; margin-right: 11px; margin-top: 5px; height: 100%; background-color: #033859; color: #ffffff ">
                        <table style="width: 100%; height: 100%;">
                            <tbody>
                                <tr style="border-bottom: 1px solid">
                                    <td style="padding: 15px"><h2><b>{{date | date:'dd-MM-yyyy'}}</b></h2></td>
                                    <td><h2><b>{{date | date:'HH:mm'}}</b></h2></td>
                                </tr>
                                <tr>
                                    <td style="padding: 15px"><h4><b>Pezzi buoni totali:</b></h4></td>
                                    <td><h4><b>{{pezziBuoniTot}}</b></h4></td>
                                </tr>
                                <tr>
                                    <td style="padding: 15px"><h4><b>Tempo totale lav:</b></h4></td>
                                    <td><h4><b>{{totTempoLav}}</b></h4></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <div class="col-md-3">
                    <div id="oee" style="height:95%;" dx-bar-gauge="gauge.oee"></div>
                    <div id="oeeContent" class="gDivBig col-md-12"><span class="gTextPerc">{{oee}}%</span><span class="gText">OEE</span></div>
                </div>
                <div class="col-md-2">
                    <div id="ava" style="height:95%" dx-bar-gauge="gauge.ava"></div>
                    <div id="avaContent" class="gDiv col-md-12"><span class="gTextPercSmall">{{oeeAva}}%</span></div>
                </div>
                <div class="col-md-2">
                    <div id="eff" style="height:95%" dx-bar-gauge="gauge.eff"></div>
                    <div id="effContent" class="gDiv col-md-12"><span class="gTextPercSmall">{{oeeEff}}%</span></div>
                </div>
                <div class="col-md-2">
                    <div id="qua" style="height:95%" dx-bar-gauge="gauge.qua"></div>
                    <div id="quaContent" class="gDiv col-md-12"><span class="gTextPercSmall">{{oeeQua}}%</span></div>
                </div>
            </div>

            
            <div id="carousel" class="carousel slide carousel-multi-item" data-ride="carousel">
                <ol class="carousel-indicators" style="margin: auto !important;"  >
                    <li data-target="#carousel" ng-repeat="(key, value) in arrPage" data-slide-to="{{key}}"></li>
                </ol>
                <!--</div>-->
                <div class="carousel-inner" role="listbox" style="height:100%">

                    <div class="carousel-item" ng-class="{'carousel-item': key2 != 0, 'carousel-item active': key2 == 0}" ng-repeat="(key2, pagina) in arrPage">
                        <div class="row" ng-repeat="(key3, riga) in pagina">
                            <div class="col-md-{{widthDivPerMacchine}} clearfix d-none d-md-block" ng-repeat="macchina in riga" ng-class="{'classMarginTop': key3 != -1}" style="height: 285px">
                            <!--<div class="col-md-{{widthDivPerMacchine}} clearfix d-none d-md-block" ng-repeat="macchina in riga" ng-class="{'classMarginTop': key3 != 0}" style="height: 268px">-->
                                <div class="row" style="margin-left: 5px; margin-right: 5px; margin-top: 5px; height: 30%; background-color: {{macchina.Colore}}; ">
                                    <div class="col-md-1 justify-content-center align-self-center" style="color: #033859; height:30%">
                                        <div style="display: flex; align-items: center; height:100%">
                                            <!--<i class="fas fa-cogs fa-2x"></i>-->
                                        </div>
                                    </div>
                                    <div class="col-md-11" style="background-color: {{macchina.Colore}}; color: white; height: 100%; padding: 5px">
                                        <div class="row">
                                            <h3 style="font-weight:bold">{{macchina.Descrizione7}}</h3>
                                        </div>
                                        <div class="row">
                                            <h5>IN {{macchina.Label}} - COM. {{macchina.Descrizione6}}</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-left: 5px; margin-right: 5px; margin-bottom: 5px; height: 70% ">
                                    <div class="col-md-5 divDettagli">
                                        <div id="gauge{{macchina.Descrizione4}}" style="height:150px" dx-circular-gauge="gauge.gauge{{macchina.Descrizione4}}"></div>
                                    </div>
                                    <div class="col-md-7 divDettagli">
                                        <table style="height:100%">
                                            <tr style="height:20%;border-right:1px">
                                                <td>Codice:</td>
                                                <td style="padding-left:10px">{{macchina.Descrizione1}}</td>
                                            </tr>
                                            <tr style="height:20%;border-right:1px">
                                                <td>Lavorazione:</td>
                                                <td style="padding-left:10px">{{macchina.TempoLavorazione}}</td>
                                            </tr>
                                            <tr style="height:20%">
                                                <td>Emergenza:</td>
                                                <td style="padding-left:10px">{{macchina.TempoEmergenza}}</td>
                                            </tr>
                                            <tr style="height:20%">
                                                <td>Pausa:</td>
                                                <td style="padding-left:10px">{{macchina.TempoPausa}}</td>
                                            </tr>
                                            <tr style="height:20%">
                                                <td>Pezzi buoni:</td>
                                                <td style="padding-left:10px">{{macchina.PezziBuoni}}</td>
                                            </tr>
                                            <!--<tr style="height:20%">
        <td>Pezzi scarto:</td>
        <td style="padding-left:10px">{{macchina.PezziScarto}}</td>
    </tr>-->
                                        </table>
                                    </div>
                                    <div class="col-md-12 divDettagli">
                                        <div id="progressBar{{macchina.Descrizione4}}" dx-progress-bar="progressBar.progressBar{{macchina.Descrizione4}}"></div>
                                    </div>
                                    <!--<div class="col-md-12 divDettagli">
                                        <div id="chartFasiTempi{{macchina.Descrizione4}}" dx-chart="chartFasiTempi.chartFasiTempi{{macchina.Descrizione4}}" style="position: relative !important; left: -15px !important; "></div>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="row" style="margin-top: 180px; border: 0; border-top: 1px solid rgba(0, 0, 0, 0.1); "></div>-->
    </div>

    <div ng-include="'common-messages.html'"></div>
    <!--</div>-->
    <script src="js/loadAllScript.js"></script>
    <script src=" js/moment.min.js"></script>
    <script src="js/_bootstrap-datepicker.js"></script>
    <script src="js/_bootstrap-datepicker.it.min.js"></script>
    <script src="js/_bootstrap-datetimepicker.js"></script>
    <script src="js/_bootstrap-datetimepicker.it.js"></script>
    <script src="app/controllers/produzione/dashboard-stabilimento.controller.js"></script>
    <script src="Scripts/jquery.signalR-2.2.0.js"></script>
</body>
</html>