﻿

<div class="row">
    <div class="col-sm-6 pieDivStyle">
        <div id="pieFermi" class="pieStyle" dx-pie-chart="pieFermi"></div>
    </div>
    <div class="col-sm-6 paretoDivStyle">
        <div id="chartFermiPareto" dx-chart="chartFermiPareto"></div>
    </div>
</div>

<div id="innerTabs" class="basic-wizard">
    <div class="basic-wizard">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" ng-class="{'active' : tabFermiId == selectedInnerTabId}" href="" id="btnTabFermi" data-toggle="tab" ng-click="navigateInAvailability(tabFermiId);refreshAccordion();">
                    <span>Dati aggregati</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ng-class="{'active' : tabDatiPianiId == selectedInnerTabId}" href="" id="btnTabDatiPiani" data-toggle="tab" ng-click="navigateInAvailability(tabDatiPianiId);">
                    <span>Dati piani</span>
                </a>
            </li>
        </ul>
    </div>
</div>  

<div id="tabFermi" ng-show="selectedInnerTabId === tabFermiId">
    <div class="row">
        <div class="col-sm-12 grigliaDivStyle">
            <div>
                <div id="grigliaFermi" dx-data-grid="grigliaFermi" dx-item-alias="item">
                    <div data-options="dxTemplate:{ name:'bulletPerc' }" class="ng-hide" ng-show="true">
                        <div class="chart-cell">
                            <div dx-bullet="{
                            onIncidentOccurred: null,
                            size: {
                                width: '100%',
                                height: 25
                            },
                            margin: {
                                top: 0,
                                bottom: 0,
                                left: 0
                            },
                            showTarget: false,
                            showZeroLevel: true,
                            value: item.value,
                            startScaleValue: 0,
                            color: '#00C400',
                            endScaleValue: maxValueBulletAva,
                            tooltip: {
                                enabled: true,
                                font: {
                                    size: 18
                                },
                                paddingTopBottom: 2,
                                customizeTooltip: customizeTooltip,
                                zIndex: 5,
                            }
                        }"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12" style="background-color: #fff; padding: 5px">
            <div>
                <div id="accordion">
                    <div id="accordionContainer" dx-accordion="accordionOptions" dx-item-alias="macchina">
                        <div data-options="dxTemplate : { name: 'title' } ">
                            <h1>{{macchina}}</h1>
                        </div>
                        <div data-options="dxTemplate : { name: 'customer' } ">
                            <div class="accodion-item">
                                <div class="row">
                                    <div class="col-md-8"
                                         id="chartFasiTempi{{macchina}}"
                                         dx-chart="chartFasiTempi.chartFasiTempi{{macchina}}"
                                         style="margin-top:20px;">
                                    </div>
                                    <div class="col-md-4">
                                        <div id="istogrammaPercentualiFasi{{macchina}}" dx-chart="dxistogrammaPercentualiFasi.{{macchina}}" style="margin-top:20px; padding-left:10px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="tabDatiPiani" ng-show="selectedInnerTabId === tabDatiPianiId" class="datiPianiContainer">
    <div class="row" ng-show="!fermiLoaderIsVisibile">
        <div class="col-sm-12 grigliaDivStyle">
            <div id="analisiFermiElenco">
                <div id="tabellaFermiDatiPiani" dx-data-grid="tabellaFermiDatiPiani"></div>
            </div>
        </div>
    </div>
    <div id="fermiDatiPianiLoader" ng-show="fermiLoaderIsVisibile" style="text-align:center">
        <div class="loaderDatiPiani">
            <i class="fa fa-spinner fa-spin"></i>
        </div>
    </div>
</div>
