﻿
<!--<div class="row">
    <div class="col-sm-6 pieDivStyle">
        <div id="pieScarti" class="pieStyle" dx-pie-chart="pieScarti"></div>
    </div>
    <div class="col-sm-6 paretoDivStyle">
        <div id="chartScartiPareto" dx-chart="chartScartiPareto"></div>
    </div>
</div>-->

<div class="row">
    <div class="col-sm-12 grigliaDivStyle">
        <div>
            <div id="grigliaEfficienza" dx-data-grid="grigliaEfficienza" dx-item-alias="eff">
                <div data-options="dxTemplate:{ name:'bulletEff' }" class="ng-hide" ng-show="true">
                    <div class="chart-cell">
                        <div dx-bullet="{
                                        size: {
                                            width: '100%',
                                            height: 25
                                        },
                                        margin: {
                                            bottom: 0,
                                            left: 0,
                                            right: 0,
                                            top: 0
                                        },
                                        showTarget: true,
                                        showZeroLevel: true,
                                        value: eff.value.PezziOraTeorico,
                                        target: eff.value.PezziOraReale,
                                        startScaleValue: 0,
                                        color: '#cfcfcf',
                                        targetColor:'#0366fc',
                                        endScaleValue: eff.value.PezziOraTeorico,
                                        tooltip: {
                                            enabled: true,
                                            font: {
                                                size: 18
                                            },
                                            paddingTopBottom: 2,
                                            customizeTooltip: customizeTooltip,
                                            zIndex: 5,
                                        }
                                    }">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>