﻿<div class="row" style="background-color: #ffffff;margin: 5px">
    <div class="col-md-3 table-border" style="padding:15px">
        <div id="oee" style="height: 350px" dx-bar-gauge="gauge.oee"></div>
        <div id="oeeContent" class="gDiv col-md-12" style="position: absolute; top: 55%; left: 0%;"><span class="gTextPerc">{{oee}}%</span></div>
    </div>
    <div class="col-md-5 table-border">
        <div class="row" style="height: 75%; border-bottom: 2px solid; border-color: #c6c6c6">

            <div class="col-md-4" id="divAva">
                <div id="ava" style="height: 100%" dx-bar-gauge="gauge.ava"></div>
                <div id="avaContent" class="gDiv col-md-12" style="position: absolute; top: 55%; left: 0%;"><span class="gTextPerc">{{oee_rf}}%</span></div>
            </div>

            <div class="col-md-4" id="divEff">
                <div id="eff" style="height: 100%" dx-bar-gauge="gauge.eff"></div>
                <div id="effContent" class="gDiv col-md-12" style="position: absolute; top: 55%; left: 0%;"><span class="gTextPerc">{{oee_rv}}%</span></div>
            </div>

            <div class="col-md-4" id="divQua">
                <div id="qua" style="height: 100%" dx-bar-gauge="gauge.qua"></div>
                <div id="quaContent" class="gDiv col-md-12" style="position: absolute; top: 55%; left: 0%;"><span class="gTextPerc">{{oee_rq}}%</span></div>
            </div>

        </div>
        <div class="row" style="padding-top:15px; height: 25%">
            <table class="col-md-12">
                <tr>
                    <td class="col-md-6 table-content centred">
                        {{pezziElaborati}}
                    </td>
                    <td class="col-md-6 table-content centred">
                        {{pezziTeorici}}
                    </td>
                </tr>
                <tr>
                    <td class="col-md-6 table-header centred">
                        Actual Quantity
                    </td>
                    <td class="col-md-6 table-header centred">
                        Expected Quantity
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-4" style=" background-color: #ffffff">
        <div id="grigliaDati" dx-data-grid="grigliaDati" dx-item-alias="perc">
            <div data-options="dxTemplate:{ name:'bulletPerc' }" class="ng-hide" ng-show="true">
                <div class="chart-cell">
                    <div dx-bullet="{
                        onIncidentOccurred: null,
                        size: {
                            width: '100%',
                            height: 25
                        },
                        margin: {
                            top: 0,
                            bottom: 0,
                            left: 0
                        },
                        showTarget: false,
                        showZeroLevel: true,
                        value: perc.value,
                        startScaleValue: 0,
                        color: '#337ab7',
                        endScaleValue: 100,
                        tooltip: {
                            enabled: true,
                            font: {
                                size: 18
                            },
                            paddingTopBottom: 2,
                            customizeTooltip: customizeTooltip,
                            zIndex: 5,
                        }
                    }"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="background-color: #ffffff;margin: 5px">
    <div class="col-md-12" style="background-color: #ffffff;">
        <div id="chartLine" style="width:98%" dx-chart="chartLine"></div>
        <div id="rangeChartLine" style="width:98%" dx-range-selector="rangeChartLine"></div>
    </div>
</div>