﻿<!DOCTYPE html>
<html lang="it" ng-app="AppMacchine">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <title>{{ 'designer_ListBase' | translate }}</title>

    <link rel="stylesheet" href="css/custom.css" />

    <link href="css/style.default.css" rel="stylesheet">
    <link href="css/jquery.datatables.css" rel="stylesheet">
    <link rel="stylesheet" href="css/jquery.tagsinput.css" />
    <link rel="stylesheet" href="css/colorpicker.css" />
    <link rel="stylesheet" href="css/dropzone.css" />
    <link rel="stylesheet" type="text/css" href="css/tree-control.css">
    <!--NOCDN<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">-->
    <link rel="stylesheet" href="css/select2.css">
    <link rel="stylesheet" href="css/selectize.default.css">

    <link rel="stylesheet" href="css/select.css" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->


    <link rel="stylesheet" href="css/_bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/_bootstrap-datetimepicker.css">


</head>
<body>
    <!-- Preloader -->
    <div id="preloader">
        <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
    </div>

    <!-- leftpanel -->
    <div class="leftpanel" ng-controller="menuCtrl" ng-include="'left-side.html'"> </div>
    <!-- leftpanel -->

    <div class="mainpanel">
        <!-- toppanel -->
        <div ng-controller="AccessiCtrl" ng-include="'top-side.html'"></div>
        <!-- toppanel -->

        <div ng-controller="DistintaBaseCtrl">
            <!--<div class="pageheader">
        <h2><i class="fa fa-list-alt"></i> Designer <span>Distinta base</span></h2>
    </div>-->
            <div class="contentpanel">
                <div class="row">
                    <div ng-class="IsFullScreenOnEdit ? 'col-md-12' : 'col-md-8'" ng-show="!IsFullScreenOnEdit || (IsFullScreenOnEdit && viewState=='R')">
                        <fieldset ng-disabled="viewState=='U' || viewState=='C'">
                            <div class="panel panel-default" ng-disabled="true">
                                <div class="panel-heading padding10">
                                    <div class="row">
                                        <div class="col-md-9">
                                            <h3 class="panel-title">{{ 'designer_ListBase' | translate }}</h3>
                                        </div>
                                        <div class="col-md-2">
                                            <div ng-show="listaAziende.length  > 0">
                                                <select class="form-control chosen-select" chosen ng-change="reload()" ng-model="MainFilter.filterByCompanyId" ng-disabled="MainFilter.disableFilterByCompanyId">
                                                    <option value="">{{ 'registry_DropDownSelectOne_Company' | translate }}</option>
                                                    <option ng-repeat="azienda in listaAziende" value="{{azienda.id}}"
                                                            ng-selected="MainFilter.filterByCompanyId === azienda.id">
                                                        {{azienda.value}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-1" style="text-align:right;">
                                            <button type="button" class="btn btn-default" ng-click="insert()"><span class="fa fa-plus"></span>{{ 'general_Button_Add' | translate }}</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table" id="mainTable" datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance">
                                            <thead>
                                                <tr>
                                                    <th>{{ 'general_Label_Code' | translate }}</th>
                                                    <th>{{ 'general_Label_Operator_Name' | translate }}</th>
                                                    <!--<th>Barcode</th>-->
                                                    <th>{{ 'general_Label__Desc' | translate }}</th>
                                                    <!--<th>Revisione</th>-->
                                                    <th>{{ 'designer_ListBase_MaterialsOut' | translate }}</th>
                                                    <th>{{ 'general_Label_State' | translate }}</th>
                                                    <th>{{ 'designer_ListBase_IsDisabled' | translate }}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr id="{{ item.id }}" ng-repeat="item in items track by item.id | filter:filterFn" ng-click="showItemDetail(item)" ng-dblclick="update()" ng-class="{'selected': currentItem.id === item.id}">
                                                    <td>{{ item.codice }}</td>
                                                    <td>{{ item.nome }}</td>


                                                    <!--<td>{{ item.barcode }}</td>-->
                                                    <td>{{ item.descrizione }}</td>


                                                    <!--<td>{{ item.revisione }}</td>-->
                                                    <td>{{ item.materialeInUscita.item.codice }}</td>
                                                    <td>{{ item.statoDistintaBase }}</td>
                                                    <td> <input type="checkbox" ng-model="item.isDisable" disabled /> </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div><!-- table-responsive -->

                                </div><!-- panel-body -->
                            </div><!-- panel -->
                        </fieldset>
                    </div>
                    <div ng-class="IsFullScreenOnEdit ? 'col-md-12' : 'col-md-4'" ng-show="!IsFullScreenOnEdit || (IsFullScreenOnEdit && (viewState=='U' || viewState=='C') )">
                        <div class="panel panel-default">
                            <fieldset ng-disabled="viewState=='R'">
                                <div class="panel-heading padding10">
                                    <div class="row">
                                        <div class="col-md-6" style="margin-top:20px;">
                                            <h3 class="panel-title">{{ 'general_Label_Detail' | translate }}</h3>
                                        </div>
                                        <div class="col-md-6">
                                            <div style="padding: 10px;text-align:right;">
                                                <button ng-disabled="pviewState!='R'" class="btn btn-primary" ng-click="confirm()"><span class="fa fa-save"></span> {{ 'general_Button_Save' | translate }}</button>
                                                <button ng-disabled="pviewState!='R'" class="btn btn-primary" ng-click="confirmAndClose()"><span class="fa fa-save"></span>{{ 'general_Label_SaveClose' | translate }}</button>
                                                <button class="btn btn-white" data-toggle="modal" data-target="#modalConfirmUndo"><span class="fa  fa-undo"></span>{{ 'general_Label_AnnulClose' | translate }}</button>
                                                <button ng-disabled="pviewState!='R'" class="btn btn-danger" data-toggle="modal" data-target="#modalConfirmDelete"><span class="fa fa-trash-o"></span> {{ 'general_General_Button_Delete' | translate }}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <!-- BASIC WIZARD -->
                                    <div id="basicWizard" class="basic-wizard">

                                        <ul class="nav nav-tabs">
                                            <li class="nav-item">
                                                <a class="nav-link" href="#tab1" data-toggle="tab">
                                                    <span>{{ 'designer_ListBase_Heading' | translate }}</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#tab2" data-toggle="tab">
                                                    <span>{{ 'general_Label_Detail' | translate }}</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#tab3" data-toggle="tab">
                                                    <span>{{ 'general_Label_Parameters' | translate }}</span>
                                                </a>
                                            </li>
                                        </ul>

                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab1">
                                                <div class="row">
                                                    <div class="form-group col-md-4">
                                                        <label>{{ 'general_Label_Code' | translate }} *</label>
                                                        <div>
                                                            <input type="text" name="codice" class="form-control" ng-model="currentItem.codice" />
                                                        </div>
                                                        <label>{{ 'designer_ListBase_Barcode' | translate }}</label>
                                                        <div>
                                                            <input type="text" name="barcode" class="form-control" ng-model="currentItem.barcode" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label>{{ 'general_Label_Operator_Name' | translate }} *</label>
                                                        <div>
                                                            <input type="text" name="nome" class="form-control" ng-model="currentItem.nome" />
                                                        </div>
                                                        <label>{{ 'designer_ListBase_Revision' | translate }}</label>
                                                        <div>
                                                            <input type="text" name="revisione" class="form-control" ng-model="currentItem.revisione" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label>{{ 'general_Label__Desc' | translate }}</label>
                                                        <div>
                                                            <textarea type="text" cols="40" rows="5" name="descrizione" class="form-control" ng-model="currentItem.descrizione"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-4">

                                                    </div>
                                                    <div class="form-group col-md-4">

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <!--SELEZIONE PER AZIENDA-->
                                                    <div class="form-group col-md-3">
                                                        <label class="control-label">{{ 'registry_DropDownTitle_Company' | translate }}</label>
                                                        <div class="form-group">
                                                            <select class="form-control chosen-select" chosen ng-change="reloadMachine()"
                                                                    ng-model="currentItem.azienda.id" ng-disabled="(viewState=='R')|| (MainFilter.disableFilterByCompanyId)">
                                                                <option value="">{{ 'registry_DropDownSelectOne_Company' | translate }}</option>
                                                                <option ng-repeat="azienda in listaAziende" value="{{azienda.id}}" 
                                                                        ng-selected="currentItem.azienda.id === azienda.id">
                                                                    {{azienda.value}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        <label>{{ 'designer_ListBase_MaterialsOut' | translate }}</label>
                                                        <div>
                                                            <select class="form-control chosen-select" chosen
                                                                    ng-model="currentItem.materialeInUscita.id" ng-disabled="viewState=='R'">
                                                                <option value="">{{ 'designer_ListBase_Select' | translate }}</option>
                                                                <option ng-repeat="materiale in ListaMateriali" value="{{materiale.id}}"
                                                                        ng-selected="currentItem.materialeInUscita.id === materiale.id">
                                                                    {{materiale.codice + ' - ' + materiale.nome}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        <label>{{ 'designer_ListBase_Unit_Measure' | translate }}</label>
                                                        <div>
                                                            <select class="form-control chosen-select" chosen
                                                                    ng-model="currentItem.unitaDiMisura.id" ng-disabled="viewState=='R'">
                                                                <option value="">{{ 'designer_ListBase_Select' | translate }}</option>
                                                                <option ng-repeat="unitadimisura in ListaUnitaDiMisura" value="{{unitadimisura.id}}"
                                                                        ng-selected="currentItem.unitaDiMisura.id === unitadimisura.id">
                                                                    {{unitadimisura.nome}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        <label>{{ 'general_Label_State' | translate }}</label>
                                                        <div>
                                                            <select class="form-control chosen-select" chosen
                                                                    ng-model="currentItem.statoDistintaBase" ng-disabled="currentItem.statoDistintaBase == -1">
                                                                <option value="">{{ 'designer_ListBase_Select' | translate }}</option>
                                                                <option ng-repeat="stato in ListaStatiDistintaBase" value="{{stato.id}}"
                                                                        ng-selected="(currentItem.statoDistintaBase|lowercase) === (stato.value|lowercase)">
                                                                    {{stato.value}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <!--------------------------------------->

                                                </div><!-- row -->
                                                <!--------------------------------------->

                                                <div class="form-group">
                                                    <div class="ckbox ckbox-primary col-md-12">
                                                        <input type="checkbox" value="1" id="isDisabled" ng-model="currentItem.isDisabled" />
                                                        <label for="isDisabled">{{ 'general_Label__Disabl' | translate }}</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="tab-pane" id="tab2">
                                                <div ng-include="'distinta-base-fasi.html'"></div>
                                            </div>

                                            <div class="tab-pane" id="tab3">
                                                <div ng-include="'distinta-base-parametri.html'"></div>
                                            </div>

                                        </div><!-- tab-content -->
                                    </div><!-- #basicWizard -->
                                </div><!-- panel-body -->
                                <div class="panel-footer" style="padding: 10px;" ng-disabled="pviewState!='R'">
                                    <button ng-disabled="pviewState!='R'" class="btn btn-primary" ng-click="confirm()"><span class="fa fa-save"></span> {{ 'general_Button_Save' | translate }}</button>
                                    <button ng-disabled="pviewState!='R'" class="btn btn-primary" ng-click="confirmAndClose()"><span class="fa fa-save"></span>{{ 'general_Label_SaveClose' | translate }}</button>
                                    <button class="btn btn-white" data-toggle="modal" data-target="#modalConfirmUndo"><span class="fa  fa-undo"></span> {{ 'general_Label_AnnulClose' | translate }}</button>
                                    <button ng-disabled="pviewState!='R'" class="btn btn-danger" data-toggle="modal" data-target="#modalConfirmDelete"><span class="fa fa-trash-o"></span> {{ 'general_General_Button_Delete' | translate }}</button>
                                </div>
                                <!-- Modal -->
                                <div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="myModalLabel">{{ 'general_General_Label_Conf_Delete' | translate }}</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                                {{ 'general_General_Label_Alert' | translate }}
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'general_General_Button_No' | translate }}</button>
                                                <button type="button" class="btn btn-primary" ng-click="delete()">{{ 'general_General_Button_Ok' | translate }}</button>
                                            </div>
                                        </div><!-- modal-content -->
                                    </div><!-- modal-dialog -->
                                </div><!-- modal -->
                                <!-- Modal -->
                                <div class="modal fade" id="modalConfirmUndo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="myModalLabel">{{ 'designer_ListBase_ConfermAnnul' | translate }}</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                                {{ 'designer_ListBase_Question' | translate }}
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'general_General_Button_No' | translate }}</button>
                                                <button type="button" class="btn btn-primary" ng-click="cancel()">{{ 'general_General_Button_Ok' | translate }}</button>
                                            </div>
                                        </div><!-- modal-content -->
                                    </div><!-- modal-dialog -->
                                </div><!-- modal -->
                            </fieldset>
                        </div><!-- panel -->
                    </div>
                </div>
            </div>
            <div ng-include="'common-messages.html'"></div>
        </div>
    </div><!-- mainpanel -->

    <script src="js/loadAllScript.js"></script>
    <script src="js/moment.min.js"></script>
    <script src="js/_bootstrap-datepicker.js"></script>
    <script src="js/_bootstrap-datepicker.it.min.js"></script>
    <script src="js/_bootstrap-datetimepicker.js"></script>
    <script src="js/_bootstrap-datetimepicker.it.js"></script>
    <script src="app/controllers/designer/distinta-base.controller.js"></script>
    <script src="app/controllers/accessi/accessi.controller.js"></script>


</body>
</html>
