﻿<div class="row">

    <div class="form-group col-md-3">


        <button type="button" class="btn btn-default btn-xs" ng-click='insertFaseSemplice()'><i class='fa fa-tag' style="margin-right:5px"></i>Aggiugi fase semplice</button>
        <button type="button" class="btn btn-default btn-xs" ng-click='insertFaseCiclica()'><i class='fa fa-gears' style="margin-right:5px"></i>Aggiugi fase ciclica</button>
        <button type="button" class="btn btn-default btn-xs" style="margin-top:5px;margin-bottom:5px;" ng-click='deleteFase()'><i class='fa fa-trash-o' style="margin-right:5px"></i>Elimina fase</button>
        <div class="row">
            <!--form-group col-md-3-->
            <treecontrol class="tree-light"
                         tree-model="dataForTheTree"
                         options="treeOptions"
                         on-selection="showSelected(node)"
                         expanded-nodes="defaultExpanded">
                <span ng-switch="" on="node.isCiclica">
                    <span ng-switch-when="-1" class="fa fa-gear" aria-hidden="true"></span>
                    <span ng-switch-when="true" class="fa fa-gears" aria-hidden="true"></span>
                    <span ng-switch-when="false" class="fa fa-tag" aria-hidden="true"></span>
                </span>
                {{node.numeroFase}} {{node.nome}}
            </treecontrol>
        </div>
    </div>

    <div class="form-group col-md-9" ng-keyup="globalChange()" ng-mouseup="globalChange()" ng-mouseleave="globalChange()">
        <div ng-show="isEnabledDettagliFase" ng-model="pippo" style="border-left: solid 1px #3c3b3b;margin-left:20px" >
            <div class="row" style="margin-left:20px">
                <div class="col-md-1" >
                    <label>{{ 'designer_ListBase_Phases_NPhase' | translate }}</label>
                    <div>
                        <input type="number" name="numeroFase" class="form-control" min="1" disabled ng-model="$parent.numeroFase" />
                    </div>
                </div>
                <div class="col-md-2">
                    <label>{{ 'designer_ListBase_Phases_ID' | translate }}</label>
                    <div>
                        <!--<input type="number" name="numeroFase" class="form-control" min="1" ng-model="$parent.numeroFase" />-->
                        <input type="text" name="id" class="form-control" ng-model="$parent.id" />
                    </div>
                </div>

                <div class="col-md-2">
                    <label>{{ 'general_Label_Code' | translate }}</label>
                    <div>
                        <input type="text" name="codiceFase" class="form-control" min="1" ng-model="$parent.codiceFase" />
                    </div>
                </div>

                <!--<div class="col-md-3">
            <label>Importa da operazioni ciclo</label>
            <div>
                <select class="form-control chosen-select" chosen ng-change="selectionOperazioneCiclo(modelOperazioniCiclo)"
                        ng-model="modelOperazioniCiclo">
                    <option value="">Selezionare</option>
                    <option ng-repeat="operazioneCiclo in OperazioniCiclo" value="{{operazioneCiclo.id}}"
                            ng-selected="modelOperazioniCiclo === operazioneCiclo.id">
                        {{operazioneCiclo.nome}}
                    </option>
                </select>
                <div ng-show="isEnabledLinkedOption">
                    <input type="checkbox" value="1" id="isLinked" ng-model="linkedFase" />
                    <label for="isDisabled">Collegata</label>
                </div>
            </div>
        </div>-->
                <!--hidden for "Caldaie Melgari"-->

                <div class="col-md-7">
                    <label>{{ 'designer_ListBase_Phases_Name' | translate }}</label>
                    <div>
                        <input type="text" name="nomeFase" class="form-control" ng-model="$parent.nomeFase" />
                    </div>
                </div>
            </div>
            <div class="row" style="margin-left:20px">
                <div class="col-md-12">
                    <label>{{ 'designer_ListBase_Phases_Desc' | translate }}</label>
                    <div>
                        <input type="text" name="descrizioneFase" class="form-control" ng-model="$parent.descrizioneFase" />
                    </div>
                </div>
            </div>
            

            <div class="panel-body" style="padding:0px; margin-top:20px;margin-left:20px">
                <div id="basicWizard_2" class="basic-wizard">
                    <ul class="nav nav-tabs">
                        <li ng-repeat="causale in CausaliFase track by causale.id" class="nav-item">
                            <a href="#tab_{{causale.value}}" data-toggle="tab" class="nav-link">
                                <span>{{causale.value}}</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#tab_impostazioni" data-toggle="tab" class="nav-link">
                                <span>Impostazioni</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tab_stato_fase" data-toggle="tab">
                                <span>{{ 'designer_ListBase_Phases_State' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab_{{causale.value}}" ng-repeat="causale in CausaliFase track by causale.id" class="{{causale.id == 0 ? 'tab-pane ng-scope active' : 'tab-pane'}}">
                            <div class="row">
                                <div class="col-md-6">
                                    <b>{{ 'designer_ListBase_Phases_Man' | translate }}</b>
                                </div>
                                <div class="col-md-6">
                                    <b>{{ 'designer_ListBase_Phases_Machine' | translate }}</b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    {{ 'designer_ListBase_Phases_Competence' | translate }}
                                    <select class="form-control chosen-select" chosen ng-disabled="linkedFase"
                                            ng-model="modelsSelCompetenzaOperatore[causale.id]" id="sel_competenzaOperatore_{{causale.id}}">
                                        <option value="">{{ 'designer_ListBase_Phases_Select' | translate }}</option>
                                        <option ng-repeat="competenza in CompetenzeOperatori" value="{{competenza.id}}"
                                                ng-selected="modelsSelCompetenzaOperatore[causale.id] === competenza.id">
                                            {{competenza.nome}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    {{ 'designer_ListBase_Phases_Machine2' | translate }}
                                    <!-- ng-if serve nel caso in cui si vada a selezionare una azienda in modo che non vi siano problemi di refresh. -->
                                    <select class="form-control chosen-select" chosen ng-change="selectionMacchine(causale.id)"
                                            ng-model="modelsSelMacchine[causale.id]" ng-if="Macchine!= null" ng-disabled="!isEnabledMacchinaSelection[causale.id] || linkedFase" id="sel_macchina_{{causale.id}}">
                                        <option value="-1">{{ 'designer_ListBase_Phases_Select' | translate }}</option>
                                        <option ng-repeat="macchina in Macchine" value="{{macchina.id}}"
                                                ng-selected="modelsSelMacchine[causale.id] === macchina.id">
                                            {{macchina.nome}}
                                        </option>
                                    </select>
                                    {{ 'designer_ListBase_Phases_CompetenceMachine' | translate }}
                                    <select class="form-control chosen-select" chosen ng-change="selectionCompetenzaMacchine(causale.id)" id="sel_competenzaMacchina_{{causale.id}}"
                                            ng-model="modelsSelCompetenzaMacchine[causale.id]" ng-disabled="!isEnabledcompentenzaMacchineSelection[causale.id]  || linkedFase">
                                        <option value="-1">{{ 'designer_ListBase_Phases_Select' | translate }}</option>
                                        <option ng-repeat="competenzaMacchine in CompetenzeMacchine" value="{{competenzaMacchine.id}}"
                                                ng-selected="currentItem.competenza.id === competenzaMacchine.id">
                                            {{competenzaMacchine.nome}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    {{ 'designer_ListBase_Phases_hh' | translate }}
                                    <input type="number" id="oreUomo_{{causale.id}}" ng-disabled="linkedFase" ng-model="modelsOreUomo[causale.id]" max="23" min="0" class="form-control" />
                                </div>
                                <div class="col-md-2">
                                    {{ 'designer_ListBase_Phases_mm' | translate }}
                                    <input type="number" name="minutiUomo_{{causale.id}}" ng-disabled="linkedFase" id="minutiUomo_{{causale.id}}" ng-model="modelsMinutiUomo[causale.id]" max="59" min="0" class="form-control" />
                                </div>
                                <div class="col-md-2">
                                    {{ 'designer_ListBase_Phases_ss' | translate }}
                                    <input type="number" name="secondiUomo_{{causale.id}}" ng-disabled="linkedFase" id="secondiUomo_{{causale.id}}" ng-model="modelsSecondiUomo[causale.id]" max="59" min="0" class="form-control" />
                                </div>

                                <div class="col-md-2">
                                    {{ 'designer_ListBase_Phases_hh' | translate }}
                                    <input type="number" id="oreMacchina_{{causale.id}}" max="23" min="0" ng-model="modelsOreMacchina[causale.id]" class="form-control" ng-disabled="linkedFase" />
                                </div>
                                <div class="col-md-2">
                                    {{ 'designer_ListBase_Phases_mm' | translate }}
                                    <input type="number" id="minutiMacchina_{{causale.id}}" max="59" min="0" ng-model="modelsMinutiMacchina[causale.id]" class="form-control" ng-disabled="linkedFase" />
                                </div>
                                <div class="col-md-2">
                                    {{ 'designer_ListBase_Phases_ss' | translate }}
                                    <input type="number" id="secondiMacchina_{{causale.id}}" max="59" min="0" ng-model="modelsSecondiMacchina[causale.id]" class="form-control" ng-disabled="linkedFase" />
                                </div>
                            </div>
                        </div>


                        <div id="tab_impostazioni" class="tab-pane">
                            <div class="row" style="padding-left:10px;padding-top:10px;">
                                <div class="ckbox ckbox-primary col-md-2">
                                    <input type="checkbox" value="1" id="isAutomatica" ng-model="$parent.isAutomatica" />
                                    <label for="isAutomatica">{{ 'designer_ListBase_Phases_Auto' | translate }}</label>
                                </div>
                                <div class="ckbox ckbox-primary col-md-2">
                                    <input type="checkbox" value="1" id="isAndon" ng-model="$parent.isAndon" />
                                    <label for="isAndon">{{ 'designer_ListBase_Phases_Andon' | translate }}</label>
                                </div>
                                <div class="ckbox ckbox-primary col-md-2">
                                    <input type="checkbox" value="1" id="isCiclica" ng-model="$parent.isCiclica" />
                                    <label for="isCiclica">{{ 'designer_ListBase_Phases_Cyclic' | translate }}</label>
                                </div>

                                <div class="ckbox ckbox-primary col-md-2">
                                    <input type="checkbox" value="1" id="abilitaMultimedia" ng-model="$parent.abilitaMultimedia" />
                                    <label for="abilitaMultimedia">{{ 'designer_ListBase_Phases_EnableMultimedia' | translate }}</label>
                                </div>
                                <div class="ckbox ckbox-primary col-md-2">
                                    <input type="checkbox" value="1" id="abilitaMateriali" ng-model="$parent.abilitaMateriali" />
                                    <label for="abilitaMateriali">{{ 'designer_ListBase_Phases_EnableMaterial' | translate }}</label>
                                </div>
                            </div>


                            <div class="row" style="padding-left:10px;padding-top:10px;">
                                <div class="ckbox ckbox-primary col-md-3">
                                    <input type="checkbox" value="1" id="abilitaAvanzamenti" ng-model="$parent.abilitaAvanzamenti" />
                                    <label for="abilitaAvanzamenti">{{ 'designer_ListBase_Phases_Enableadvances' | translate }}</label>
                                </div>
                                <div class="ckbox ckbox-primary col-md-3">
                                    <input type="checkbox" value="1" id="abilitaAvanzamentiStar" ng-model="$parent.abilitaAvanzamentiStar" />
                                    <label for="abilitaAvanzamentiStar">{{ 'designer_ListBase_Phases_EnableaStart' | translate }}</label>
                                </div>
                                <div class="ckbox ckbox-primary col-md-3">
                                    <input type="checkbox" value="1" id="abilitaAvanzamentiStop" ng-model="$parent.abilitaAvanzamentiStop" />
                                    <label for="abilitaAvanzamentiStop">{{ 'designer_ListBase_Phases_EnableaStop' | translate }}</label>
                                </div>
                                <div class="ckbox ckbox-primary col-md-3">
                                    <input type="checkbox" value="1" id="abilitaAvanzamentiPausa" ng-model="$parent.abilitaAvanzamentiPausa" />
                                    <label for="abilitaAvanzamentiPausa">{{ 'designer_ListBase_Phases_EnableaPause' | translate }}</label>
                                </div>
                            </div>



                            <div class="row" style="padding-left:10px;padding-top:10px;">
                                <div class="ckbox ckbox-primary col-md-3">
                                    <input type="checkbox" value="1" id="abilitabarcode" ng-model="$parent.abilitabarcode" />
                                    <label for="abilitabarcode">{{ 'designer_ListBase_Phases_EnableaBarcode' | translate }} </label>
                                </div>

                                <div class="ckbox ckbox-primary col-md-3">
                                    <input type="checkbox" value="1" id="abilitaLetturaRfid" ng-model="$parent.abilitaLetturaRfid" />
                                    <label for="abilitaLetturaRfid">{{ 'designer_ListBase_Phases_EnableaReadRfid' | translate }}</label>
                                </div>

                                <div class="ckbox ckbox-primary col-md-3">
                                    <input type="checkbox" value="1" id="abilitascritturaRfid" ng-model="$parent.abilitascritturaRfid" />
                                    <label for="abilitascritturaRfid">{{ 'designer_ListBase_Phases_EnableaWriteRfid' | translate }}</label>
                                </div>

                                <div class="ckbox ckbox-primary col-md-3">
                                    <input type="checkbox" value="1" id="abilitaPulsanteEmergenza" ng-model="$parent.abilitaPulsanteEmergenza" />
                                    <label for="abilitaPulsanteEmergenza">{{ 'designer_ListBase_Phases_EnableEmergency' | translate }}</label>
                                </div>
                            </div>



                            <div class="row" style="padding-left:10px;padding-top:10px;">
                                <div class="ckbox ckbox-primary col-md-3">
                                    <input type="checkbox" value="1" id="abilitaVersamentiManuali" ng-model="$parent.abilitaVersamentiManuali" />
                                    <label for="abilitaVersamentiManuali">{{ 'designer_ListBase_Phases_Enableaman' | translate }}</label>
                                </div>

                                <div class="ckbox ckbox-primary col-md-3">
                                    <input type="checkbox" value="1" id="abilitaVersamentiAutomatici" ng-model="$parent.abilitaVersamentiAutomatici" />
                                    <label for="abilitaVersamentiAutomatici">{{ 'designer_ListBase_Phases_Enableaauto' | translate }}</label>
                                </div>
                                <div class="ckbox ckbox-primary col-md-3">
                                    <input type="checkbox" value="1" id="abilitaFaseTerminataParzialmente" ng-model="$parent.abilitaFaseTerminataParzialmente" />
                                    <label for="abilitaFaseTerminataParzialmente">Termina Parzialmente</label>
                                </div>
                            </div>
                            <div class="row" style="padding-left:10px;padding-top:10px;">
                                <div class="col-md-6">
                                   
                                </div>
                                <div class="col-md-3">
                                    <label for="visibilitastazione">{{ 'designer_ListBase_Phases_VisibleStation' | translate }}:</label>
                                    <input type="text" width="20" max="100" id="visibilitastazione" ng-model="$parent.visibilitastazione" class="form-control" />
                                </div>
                                <div class="col-md-3">
                                    <label for="stileDiVisualizzazioneVersamenti">{{ 'designer_ListBase_Phases_Style' | translate }}:</label>
                                    <input type="number" value="1" width="20" max="100" id="stileDiVisualizzazioneVersamenti" ng-model="$parent.stileDiVisualizzazioneVersamenti" class="form-control" />
                                </div>
                            </div>
                        </div>

                        <div id="tab_stato_fase" class="tab-pane">
                            <div class="row" style="padding-left:10px;padding-top:10px;">
                                <table class="table" id="table">
                                    <thead>
                                        <tr>
                                            <th>Stato</th>
                                            <th>Colore</th>
                                            <th>Label</th>
                                            <th>Includi tempo in totali</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>In lavorazione</td>
                                            <td>
                                                <div class="dx-field-value">
                                                    <div dx-color-box="colorBox.lavorazione" ng-model="$parent.inLavorazioneColore"></div>
                                                </div>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" ng-model="$parent.inLavorazioneLabel" />
                                            </td>
                                            <td>
                                                <input type="checkbox" name="name" value="1" ng-model="$parent.inLavorazioneAbilitaTotali" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>In lavorazione in pausa</td>
                                            <td>
                                                <div class="dx-field-value">
                                                    <div dx-color-box="colorBox.emergenza" ng-model="$parent.inLavorazioneInPausaColore"></div>
                                                </div>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" ng-model="$parent.inLavorazioneInPausaLabel"/>
                                            </td>
                                            <td>
                                                <input type="checkbox" name="name" value="1" ng-model="$parent.inLavorazioneInPausaAbilitaTotali"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>In lavorazione in emergenza</td>
                                            <td>
                                                <div class="dx-field-value">
                                                    <div dx-color-box="colorBox.pausa" ng-model="$parent.inLavorazioneInEmergenzaColore"></div>
                                                </div>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" ng-model="$parent.inLavorazioneInEmergenzaLabel"/>
                                            </td>
                                            <td>
                                                <input type="checkbox" name="name" value="1" ng-model="$parent.inLavorazioneInEmergenzaAbilitaTotali"/>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>





























                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="modalConfirmDeleteFase" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">{{ 'general_General_Label_Conf_Delete' | translate }}</h4>
                        </div>
                        <div class="modal-body">
                            {{ 'general_General_Label_Alert' | translate }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'general_General_Button_No' | translate }}</button>
                            <button type="button" class="btn btn-primary" ng-click="deleteFase()">{{ 'general_General_Button_Ok' | translate }}</button>
                        </div>
                    </div><!-- modal-content -->
                </div><!-- modal-dialog -->
            </div><!-- modal -->
        </div>
        </div>


</div>

<style>
    #contextmenu-node {
        position: absolute;
        background-color: white;
        border: solid #CCCCCC 1px;
    }

    .contextmenu-item {
        margin: 0.5em;
        padding-left: 0.5em;
    }

        .contextmenu-item:hover {
            background-color: #CCCCCC;
            cursor: default;
        }
</style>