﻿
<ul class="nav nav-pills nav-stacked nav-bracket">
    <li><a href="dashboard.html"><i class="fa fa-home"></i> <span>{{ 'dashboard_Left_Menu_Dashboard' | translate }}</span></a></li>
    <li><a href="dashboard-stabilimento.html"><i class="fa fa-home"></i> <span>{{ 'dashboard_Left_Menu_DashboardStabilimento' | translate }}</span></a></li>
    <li><a href="dashboard-oee.html"><i class="fa fa-home"></i> <span>{{ 'dashboard_Left_Menu_DashboardOee' | translate }}</span></a></li>
    <li class="nav-parent" ng-class="pagina.indexOf('tabelle') > -1 ? 'nav-active active' : ''">
        <a href=""><i class="fa fa-th-list"></i> <span>{{ 'dashboard_Left_Menu_Table' | translate }}</span></a>
        <ul class="children" style="{{ pagina.indexOf('tabelle') > -1 ? 'display:block':''; }}">
            <li ng-class="pagina.indexOf('tabelle-competenze-operator') > -1 ? 'active' : ''"><a href="tabelle-competenze-operatori.html"><i class="fa fa-caret-right active"></i>{{ 'dashboard_Left_Menu_Table_CompetenceOP' | translate }}</a></li>
            <li ng-class="pagina.indexOf('tabelle-competenze-macchinari') > -1 ? 'active' : ''"><a href="tabelle-competenze-macchinari.html"><i class="fa fa-caret-right"></i>{{ 'dashboard_Left_Menu_Table_CompetenceMAC' | translate }}</a></li>
            <li ng-class="pagina.indexOf('tabelle-unita-di-misura') > -1 ? 'active' : ''"><a href="tabelle-unita-di-misura.html"><i class="fa fa-caret-right"></i> {{ 'dashboard_Left_Menu_Table_UM' | translate }}</a></li>
            <li ng-class="pagina.indexOf('tabelle-parametri') > -1 ? 'active' : ''"><a href="tabelle-parametri.html"><i class="fa fa-caret-right"></i>{{ 'dashboard_Left_Menu_Table_Parameter' | translate }}</a></li>
            <li ng-class="pagina.indexOf('tabelle-tipi-macchina') > -1 ? 'active' : ''"><a href="tabelle-tipi-macchina.html"><i class="fa fa-caret-right"></i>{{ 'dashboard_Left_Menu_Table_TypeMA' | translate }}</a></li>
            <li ng-class="pagina.indexOf('tabelle-causali-riavvio') > -1 ? 'active' : ''"><a href="tabelle-causali-riavvio.html"><i class="fa fa-caret-right"></i>{{ 'dashboard_Left_Menu_Table_CauseRESTART' | translate }}</a></li>
            <li ng-class="pagina.indexOf('tabelle-tipi-valori') > -1 ? 'active' : ''"><a href="tabelle-tipi-valori.html"><i class="fa fa-caret-right"></i>{{ 'dashboard_Left_Menu_TypeValue' | translate }}</a></li>

        </ul>
    </li>
    <li class="nav-parent" ng-class="pagina.indexOf('anagrafica') > -1 ? 'nav-active active' : ''">
        <a href=""><i class="fa fa-list-alt"></i> <span>{{ 'dashboard_Left_Menu_registry' | translate }}</span></a>
        <ul class="children" style="{{ pagina.indexOf('anagrafica') > -1 ? 'display:block':''; }}">
            <li ng-class="pagina.indexOf('anagrafica-aziende') > -1 ? 'active' : ''"><a href="anagrafica-aziende.html"><i class="fa fa-caret-right"></i> {{ 'dashboard_Left_Menu_registry_Companies' | translate }}</a></li>
            <li ng-class="pagina.indexOf('anagrafica-operatori') > -1 ? 'active' : ''"><a href="anagrafica-operatori.html"><i class="fa fa-caret-right"></i> {{ 'dashboard_Left_Menu_registry_OP' | translate }}</a></li>
            <li ng-class="pagina.indexOf('anagrafica-macchine') > -1 ? 'active' : ''"><a href="anagrafica-macchine.html"><i class="fa fa-caret-right"></i> {{ 'dashboard_Left_Menu_registry_MAC' | translate }}</a></li>
            <!--  <li ng-class="pagina.indexOf('anagrafica-operazioni-ciclo') > -1 ? 'active' : ''"><a href="anagrafica-operazioni-ciclo.html"><i class="fa fa-caret-right"></i> Operazioni standard</a></li>-->
            <li ng-class="pagina.indexOf('anagrafica-materiali') > -1 ? 'active' : ''"><a href="anagrafica-materiali.html"><i class="fa fa-caret-right"></i> {{ 'dashboard_Left_Menu_registry_MAT' | translate }}</a></li>
            <li ng-class="pagina.indexOf('anagrafica-turni-di-lavoro') > -1 ? 'active' : ''"><a href="anagrafica-turni-di-lavoro.html"><i class="fa fa-caret-right"></i> {{ 'dashboard_Left_Menu_workshift' | translate }}</a></li>
        </ul>
    </li>
    <li class="nav-parent" ng-class="pagina.indexOf('distinta') > -1 ? 'nav-active active' : ''">
        <a href=""><i class="fa fa-edit"></i> <span>{{ 'dashboard_Left_Menu_Designer' | translate }}</span></a>
        <ul class="children" style="{{ pagina.indexOf('distinta') > -1 ? 'display:block':''; }}">
            <li ng-class="pagina.indexOf('distinta-base') > -1 ? 'active' : ''"><a href="designer-distinta-base.html"><i class="fa fa-caret-right"></i> {{ 'dashboard_Left_Menu_Designer_Cycle' | translate }}</a></li>
        </ul>
    </li>
    <li class="nav-parent" ng-class="pagina.indexOf('ordini') > -1 ? 'nav-active active' : ''">
        <a href=""><i class="fa fa-gears"></i> <span>{{ 'dashboard_Left_Menu_Production_' | translate }}</span></a>
        <ul class="children" style="{{ pagina.indexOf('produzione') > -1 ? 'display:block':''; }}">
            <li ng-class="pagina.indexOf('produzione.html?i=inModifica') > -1 ? 'active' : ''"><a href="produzione.html?i=inModifica"><i class="fa fa-caret-right"></i> {{ 'dashboard_Left_Menu_Production_launches' | translate }}</a></li>
            <li ng-class="pagina.indexOf('produzione.html?i=inSospensione') > -1 ? 'active' : ''"><a href="produzione.html?i=inSospensione"><i class="fa fa-caret-right"></i> {{ 'dashboard_Left_Menu_Production_suspended' | translate }}</a></li>
            <li ng-class="pagina.indexOf('produzione.html?i=inAttesa') > -1 ? 'active' : ''"><a href="produzione.html?i=inAttesa"><i class="fa fa-caret-right"></i> {{ 'dashboard_Left_Menu_Production_wait' | translate }}</a></li>
            <li ng-class="pagina.indexOf('produzione.html?i=inLavorazione') > -1 ? 'active' : ''"><a href="produzione.html?i=inLavorazione"><i class="fa fa-caret-right"></i>{{ 'dashboard_Left_Menu_Production_working' | translate }}</a></li>
            <li ng-class="pagina.indexOf('produzione.html?i=terminato') > -1 ? 'active' : ''"><a href="produzione.html?i=terminato"><i class="fa fa-caret-right"></i>{{ 'dashboard_Left_Menu_Production_concluded' | translate }}</a></li>
            <li ng-class="pagina.indexOf('produzione-priorita.html') > -1 ? 'active' : ''"><a href="produzione-priorita.html"><i class="fa fa-caret-right"></i>{{ 'dashboard_Left_Menu_Production_sequencing' | translate }}</a></li>
        </ul>
    </li>

    <!--<li class="nav-parent" ng-class="pagina.indexOf('ordini') > -1 ? 'nav-active active' : ''">
        <a href=""><i class="fa fa-flask"></i> <span>Qualità</span></a>
        <ul class="children" style="{{ pagina.indexOf('produzione') > -1 ? 'display:block':''; }}">
            <li ng-class="pagina.indexOf('qualita-distinta-base') > -1 ? 'active' : ''"><a href="qualita-distinta-base.html"><i class="fa fa-caret-right"></i>Moduli Qualità</a></li>
            <li ng-class="pagina.indexOf('produzione.html?i=inAttesa') > -1 ? 'active' : ''"><a href="produzione.html?i=inAttesa"><i class="fa fa-caret-right"></i>Elenchi</a></li>-->
    <!--<li ng-class="pagina.indexOf('produzione.html?i=inLavorazione') > -1 ? 'active' : ''"><a href="produzione.html?i=inLavorazione"><i class="fa fa-caret-right"></i>{{ 'dashboard_Left_Menu_Production_working' | translate }}</a></li>
    <li ng-class="pagina.indexOf('produzione.html?i=terminato') > -1 ? 'active' : ''"><a href="produzione.html?i=terminato"><i class="fa fa-caret-right"></i>{{ 'dashboard_Left_Menu_Production_concluded' | translate }}</a></li>-->
    <!--</ul>
    </li>-->
    <!--<li class="nav-parent" ng-class="pagina.indexOf('manutenzione') > -1 ? 'nav-active active' : ''">
        <a href=""><i class="fa fa-wrench"></i> <span>{{ 'dashboard_Left_Menu_Service' | translate }}</span></a>
        <ul class="children" style="{{ pagina.indexOf('manutenzione') > -1 ? 'display:block':''; }}">
            <li ng-class="pagina.indexOf('manutenzione-competenze-manutenzione') > -1 ? 'active' : ''"><a href="manutenzione-competenze-manutenzione.html"><i class="fa fa-caret-right"></i>Reparto Manutenzione</a></li>
            <li ng-class="pagina.indexOf('manutenzione-tipi-manutenzione') > -1 ? 'active' : ''"><a href="manutenzione-tipi-manutenzione.html"><i class="fa fa-caret-right"></i>Tipo Manutenzione</a></li>
            <li ng-class="pagina.indexOf('manutenzione-tipoSegnalazione.html') > -1 ? 'active' : ''"><a href="manutenzione-tipoSegnalazione.html"><i class="fa fa-caret-right"></i>Tipo Segnalazione</a></li>
            <li ng-class="pagina.indexOf('manutenzione-tipoGuasto') > -1 ? 'active' : ''"><a href="manutenzione-tipoGuasto.html"><i class="fa fa-caret-right"></i>Tipo Guasto</a></li>
            <li ng-class="pagina.indexOf('manutenzione-macchine.html?i=inAttesa') > -1 ? 'active' : ''"><a href="manutenzione-macchine.html?i=inAttesa"><i class="fa fa-caret-right"></i> {{ 'registry_Service_onHold' | translate }}</a></li>
            <li ng-class="pagina.indexOf('manutenzione-macchine.html?i=inLavorazione') > -1 ? 'active' : ''"><a href="manutenzione-macchine.html?i=inLavorazione"><i class="fa fa-caret-right"></i>{{ 'registry_Service_onWork' | translate }}</a></li>
            <li ng-class="pagina.indexOf('manutenzione-macchine.html?i=terminato') > -1 ? 'active' : ''"><a href="manutenzione-macchine.html?i=terminato"><i class="fa fa-caret-right"></i>{{ 'registry_Service_Finished' | translate }}</a></li>
        </ul>
    </li>-->

</ul>

