﻿<div class="logopanel" >
    <h1><span>[</span> {{appName}} <span>]</span></h1>
</div><!-- logopanel -->

<div class="leftpanelinner">
    <!-- This is only visible to small devices -->
    <div class="visible-xs hidden-sm hidden-md hidden-lg">
        <div class="media userlogged">
            <img alt="" src="images/photos/user.png" class="media-object">
            <div class="media-body">
                <h4>{{ 'dashboard_Top_Admin' | translate }}</h4>
                <span>"{{ 'dashboard_Admin' | translate }}"</span>
            </div>
        </div>
        <!--<h5 class="sidebartitle actitle">{{ 'dashboard_Account' | translate }}</h5>
        <ul class="nav nav-pills nav-stacked nav-bracket mb30">
            <li><a href="login.html"><i class="fa fa-sign-out"></i> <span>{{ 'dashboard_SigOut' | translate }}</span></a></li>
        </ul>-->

    </div>
    <h5 class="sidebartitle">{{ 'dashboard_Nav' | translate }}</h5>
    <div id="menu" ng-include="'left-menu.html'">

    </div>


</div><!-- leftpanelinner -->
