﻿<!DOCTYPE html>
<html lang="it" ng-app="AppMacchine">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <title>{{ 'registry_Service_Name' | translate }}</title>

    <link href="css/style.default.css" rel="stylesheet">
    <link href="css/jquery.datatables.css" rel="stylesheet">
    <link rel="stylesheet" href="css/jquery.tagsinput.css" />
    <link rel="stylesheet" href="css/colorpicker.css" />
    <link rel="stylesheet" href="css/dropzone.css" />
    <link rel="stylesheet" type="text/css" href="css/tree-control.css">
    <link rel="stylesheet" href="css/select2.css">
    <link rel="stylesheet" href="css/selectize.default.css">

    <link rel="stylesheet" href="css/select.css" />
    <link rel="stylesheet" href="css/_bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/_bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="js/nv.d3_1.8.6.css">


</head>
<body>

    <!-- Preloader -->
    <div id="preloader">
        <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
    </div>

    <!-- leftpanel -->
    <div class="leftpanel" ng-controller="menuCtrl" ng-include="'left-side.html'"> </div>
    <!-- leftpanel -->

    <div class="mainpanel">
        <!-- toppanel -->
        <div ng-controller="AccessiCtrl" ng-include="'top-side.html'"></div>
        <!-- toppanel -->


        <div ng-controller="ServiceCtrl">
            <div class="contentpanel">

                

                <div class="row">

                    <div ng-class="IsFullScreenOnEdit ? 'col-md-12' : 'col-md-8'" ng-show="!IsFullScreenOnEdit || (IsFullScreenOnEdit && viewState=='R')">
                        <fieldset ng-disabled="viewState=='U' || viewState=='C'">
                            <div class="panel panel-default" ng-disabled="true">
                                <div class="panel-heading padding10">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <h3 class="panel-title">{{ 'registry_Service_Name' | translate }}"  <b>{{currentItem.tipoManutenzione.item.nome}}</b>"</h3>
                                        </div>
                                        <div class="col-md-2">
                                            <div ng-show="listaAziende.length  > 0">
                                                <select class="form-control chosen-select" chosen ng-change="reload()" ng-model="MainFilter.filterByCompanyId" ng-disabled="MainFilter.disableFilterByCompanyId">
                                                    <option value="">{{ 'registry_DropDownSelectOne_Company' | translate }}</option>
                                                    <option ng-repeat="azienda in listaAziende" value="{{azienda.id}}"
                                                            ng-selected="MainFilter.filterByCompanyId === azienda.id">
                                                        {{azienda.value}}
                                                    </option>
                                                </select>
                                            </div>

                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table" id="mainTable" datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance">
                                            <thead>
                                                <tr>
                                                    <th>{{ 'dashboard_Orders_State' | translate }}</th>
                                                    <!--<th>{{ 'registry_Service_ServiceName' | translate }}</th>-->
                                                    <th>{{ 'registry_Service_TypeService' | translate }}</th>

                                                    <th>{{ 'designer_ListBase_Phases_Machine2' | translate }}</th>
                                                    <th>Tipo di Guasto</th>
                                                    <th>Tipo Segnalazione</th>
                                                    <th>{{ 'registry_Service_ServiceDate' | translate }}</th>
                                                    <th>{{ 'production_Start' | translate }}</th>
                                                    <th>{{ 'registry_Service_Time' | translate }}</th>
                                                    <th>{{ 'production_Stop' | translate }}</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!--<tr id="{{ item.id }}" ng-repeat="item in items track by item.id" ng-click="showItemDetail(item)" ng-dblclick="update()" ng-class="{'selected': currentItem.id === item.id}">-->
                                                <tr id="{{ item.id }}" ng-repeat="item in items track by item.id" ng-click="update($event, item)" ng-class="{'selected': currentItem.id === item.id}">
                                                    <td><span style="font-size: 20px;" ng-class="{'glyphicon glyphicon-exclamation-sign red': item.stato === 'inLavorazioneInEmergenza',  'glyphicon glyphicon-ok green': item.stato === 'inLavorazione',  'glyphicon glyphicon-pause yellow': item.stato === 'inLavorazioneInPausa' , 'glyphicon glyphicon-flag': item.stato === 'inAttesa', 'glyphicon glyphicon-edit': item.stato === 'inModifica', 'glyphicon glyphicon-ok': item.stato === 'terminato', 'glyphicon glyphicon-ban-circle red': item.stato === 'terminatoAbortito','glyphicon glyphicon-flag yellow': item.stato === 'inLavorazioneInIdle'  }" title="{{ item.stato }}"></span>   </td>
                                                    <!--<td>{{item.nome}}</td>-->
                                                    <td>{{ item.tipoManutenzione.item.nome }}</td>
                                                    <td>{{ item.macchina.item.nome }}</td>
                                                    <td>{{ item.tipoGuastoManutenzione.item.nome }}</td>
                                                    <td>{{ item.tipoSegnalazioneManutenzione.item.nome }}</td>
                                                    <td>{{item.creazione | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                                    <td>{{ item.inizio | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                                                    <td> 1 Ora e 10 Min 45 Secondi </td>
                                                    <td> {{ item.fine | date:'yyyy-MM-dd HH:mm:ss' }} </td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div><!-- table-responsive -->

                                </div><!-- panel-body -->
                            </div><!-- panel -->
                        </fieldset>
                    </div>
                    <div ng-class="IsFullScreenOnEdit ? 'col-md-12' : 'col-md-4'" ng-show="!IsFullScreenOnEdit || (IsFullScreenOnEdit && (viewState=='U' || viewState=='C') )">
                        <div class="panel panel-default">

                            <div class="panel-heading padding10">
                                <div class="row">
                                    <div class="col-md-6" style="margin-top:20px;">
                                        <h3 class="panel-title">{{ 'registry_Service_Name' | translate }}"  <b>{{currentItem.tipoManutenzione.item.nome}}"</b></h3>

                                    </div>
                                </div>
                            </div>





                            <fieldset>
                                <div class="panel-body">
                                    <!-- BASIC WIZARD -->
                                    <div id="basicWizard" class="basic-wizard">

                                        <ul class="nav nav-pills nav-justified">
                                            <li class="active"><a href="#tab1" data-toggle="tab"><span>{{ 'production_heading' | translate }}</span></a></li>
                                            <li class="">
                                                <a href="#tab2" data-toggle="tab">
                                                    <span>{{ 'dashboard_Left_Menu_registry_MAT' | translate }}</span>
                                                </a>
                                            </li>
                                            <li class="">
                                                <a href="#tab3" data-toggle="tab">
                                                    <span>{{ 'registry_Service_NoteService' | translate }}</span>
                                                </a>
                                            </li>
                                            <li class="">
                                                <a href="#tab4" data-toggle="tab">
                                                    <span>{{ 'registry_Service_Riepilogo' | translate }}</span>
                                                </a>
                                            </li>
                                        </ul>

                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab1">
                                                <fieldset ng-disabled="!isEnableWrite">
                                                    <div class="row">

                                                        <div class="form-group col-md-3">
                                                            <label>{{ 'registry_Service_TypeService' | translate }} (*)</label>
                                                            <div>
                                                                <select id="tipomanutenzione" name="tipomanutenzione" class="btn btn-default" style="height:40px; width:380px" text-transform: uppercase;" disabled ng-model="currentItem.tipoManutenzione.id">
                                                                    <!--<option value="-1" selected>Seleziona</option>-->
                                                                    <option ng-repeat="tipomanutenzione in Tipomanutenzioni" value="{{tipomanutenzione.id}}" ng-selected="currentItem.tipoManutenzione.id === tipomanutenzione.id" style="text-transform: uppercase;">
                                                                        {{tipomanutenzione.nome}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="form-group col-md-3">
                                                            <label>{{ 'designer_ListBase_Phases_Machine2' | translate }}</label>
                                                            <div>
                                                                <select id="macchina" name="macchina" class="btn btn-default" style="height:40px; width:380px" text-transform: uppercase;" disabled ng-model="currentItem.macchina.id">
                                                                    <option ng-repeat="macchina in Macchine" value="{{macchina.id}}" ng-selected="currentItem.macchina.id === macchina.id" style="text-transform: uppercase;">
                                                                        {{macchina.nome}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>





                                                        <div class="form-group col-md-3">
                                                            <label>Tipo Guasto</label>
                                                            <div>
                                                                <select id="macchina" name="macchina" class="btn btn-default" style="height:40px; width:380px" text-transform: uppercase;" disabled ng-model="currentItem.tipiGuastiManutenzione.id">
                                                                    <option ng-repeat="tipoGuasto in TipiGuastiManutenzione" value="{{tipoGuasto.id}}" ng-selected="currentItem.TipiGuastiManutenzione.id === tipoGuasto.id" style="text-transform: uppercase;">
                                                                        {{tipoGuasto.nome}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="form-group col-md-3">
                                                            <label>{{ 'registry_Service_ServiceName' | translate }}</label>
                                                            <div>
                                                                <input type="text" name="name" class="form-control" ng-model="currentItem.nome" />
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="row">

                                                        <div class="form-group col-md-3">
                                                            <label>Tipo Segnalazione </label>
                                                            <div>
                                                                <select id="macchina" name="macchina" class="btn btn-default" style="height:40px; width:380px" text-transform: uppercase;" disabled ng-model="currentItem.tipoSegnalazione.id">
                                                                    <option ng-repeat="TipoSegnalazione in TipoSegnalazioneManutenzione" value="{{TipoSegnalazione.id}}" ng-selected="currentItem.TipoSegnalazione.id === TipoSegnalazione.id" style="text-transform: uppercase;">
                                                                        {{TipoSegnalazione.nome}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label>Competenza Segnalazione</label>
                                                            <div>
                                                                <select id="macchina" name="macchina" class="btn btn-default" style="height:40px; width:380px" text-transform: uppercase;" disabled ng-model="currentItem.manutenzioneCompetenza.id">
                                                                    <option ng-repeat="ManutenzioneCompetenza in CompetenzeManutenzione" value="{{ManutenzioneCompetenza.id}}" ng-selected="currentItem.ManutenzioneCompetenza.id === ManutenzioneCompetenza.id" style="text-transform: uppercase;">
                                                                        {{ManutenzioneCompetenza.nome}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <!--------------------------------------->
                                                        <!--SELEZIONE PER AZIENDA-->
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label class="control-label">{{ 'registry_DropDownTitle_Company' | translate }}</label>
                                                                <div class="form-group">
                                                                    <select class="btn btn-default" chosen disabled
                                                                            ng-model="currentItem.azienda.id" ng-disabled="(viewState=='R') || (MainFilter.disableFilterByCompanyId) || !isEnableWrite">
                                                                        <option value="">{{ 'registry_DropDownSelectOne_Company' | translate }}</option>
                                                                        <option ng-repeat="azienda in listaAziende" value="{{azienda.id}}"
                                                                                ng-selected="currentItem.azienda.id === azienda.id">
                                                                            {{azienda.value}}
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <!--------------------------------------->

                                                        <div class="form-group col-md-3">
                                                            <label>{{ 'registry_Service_Operator' | translate }}</label>
                                                            <div>
                                                                <input type="text" name="operatore" class="form-control" disabled ng-model="currentItem.operatore" />
                                                            </div>
                                                        </div>


                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group col-md-3">
                                                            <label>{{ 'dashboard_Orders_State' | translate }}</label>
                                                            <div>
                                                                <input type="text" name="stato" class="form-control" disabled ng-model="currentItem.stato" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label>{{ 'registry_Service_ServiceDate' | translate }}</label>
                                                            <div>
                                                                <input type="text" name="creazione" class="form-control" disabled ng-model="currentItem.creazione | date:'yyyy-MM-dd HH:mm:ss' " />
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label>{{ 'registry_Service_DateStartService' | translate }}</label>
                                                            <div>
                                                                <input type="text" name="inizio" class="form-control" disabled ng-model="currentItem.inizio | date:'yyyy-MM-dd HH:mm:ss'" />
                                                            </div>
                                                        </div>

                                                        <div class="form-group col-md-3">
                                                            <label>{{ 'registry_Service_DateStopService' | translate }}</label>
                                                            <div>
                                                                <input type="text" name="fine" class="form-control" disabled ng-model="currentItem.fine | date:'yyyy-MM-dd HH:mm:ss'" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                            <i ng-class="{'s3alt' : currentItem.stato === 'inLavorazioneInEmergenza', 's3' : currentItem.stato !== 'inLavorazioneInEmergenza'}" style="font-size: 20px; text-transform: none; font-style: italic; vertical-align: middle; letter-spacing: 0;"> Tempo di Presa in Carico:  1 Ora e 10 Min 45 Secondi</i>
                                                            <!--<i ng-show=" theoreticalTime.day===1" ng-class="{'s3alt' : currentItem.stato === 'inLavorazioneInEmergenza', 's3' : currentItem.stato !== 'inLavorazioneInEmergenza'}" style="font-size: 20px; text-transform: none; font-style: italic; vertical-align: middle; letter-spacing: 0;"> {{theoreticalTime.day}} {{ 'production_day' | translate }}  </i>
            <i ng-show="theoreticalTime.day>1" ng-class="{'s3alt' : currentItem.stato === 'inLavorazioneInEmergenza', 's3' : currentItem.stato !== 'inLavorazioneInEmergenza'}" style="font-size: 20px; text-transform: none; font-style: italic; vertical-align: middle; letter-spacing: 0;"> {{theoreticalTime.day}} {{ 'production_days' | translate }}</i>
            <i ng-show=" theoreticalTime.hh===1" ng-class="{'s3alt' : currentItem.stato === 'inLavorazioneInEmergenza', 's3' : currentItem.stato !== 'inLavorazioneInEmergenza'}" style="font-size: 20px; text-transform: none; font-style: italic; vertical-align: middle; letter-spacing: 0;"> {{theoreticalTime.hh}} {{ 'production_hour' | translate }} </i>
            <i ng-show="theoreticalTime.hh>1" ng-class="{'s3alt' : currentItem.stato === 'inLavorazioneInEmergenza', 's3' : currentItem.stato !== 'inLavorazioneInEmergenza'}" style="font-size: 20px; text-transform: none; font-style: italic; vertical-align: middle; letter-spacing: 0;"> {{theoreticalTime.hh}} {{ 'production_hours' | translate }} </i>
            <i ng-show="theoreticalTime.mm===1" ng-class="{'s3alt' : currentItem.stato === 'inLavorazioneInEmergenza', 's3' : currentItem.stato !== 'inLavorazioneInEmergenza'}" style="font-size: 20px; text-transform: none; font-style: italic; vertical-align: middle; letter-spacing: 0;"> {{theoreticalTime.mm}} {{ 'production_minute' | translate }}</i>
            <i ng-show="theoreticalTime.mm>1" ng-class="{'s3alt' : currentItem.stato === 'inLavorazioneInEmergenza', 's3' : currentItem.stato !== 'inLavorazioneInEmergenza'}" style="font-size: 20px; text-transform: none; font-style: italic; vertical-align: middle; letter-spacing: 0;"> {{theoreticalTime.mm}} {{ 'production_minutes' | translate }}</i>
            <i ng-show="theoreticalTime.mm<1" ng-class="{'s3alt' : currentItem.stato === 'inLavorazioneInEmergenza', 's3' : currentItem.stato !== 'inLavorazioneInEmergenza'}" style="font-size: 20px; text-transform: none; font-style: italic; vertical-align: middle; letter-spacing: 0;"> {{theoreticalTime.ss}} {{ 'production_seconds' | translate }} </i>-->
                                                        
                                                    </div>
                                                    <div class="row">
                                                   
                                                            <i ng-class="{'s3alt' : currentItem.stato === 'inLavorazioneInEmergenza', 's3' : currentItem.stato !== 'inLavorazioneInEmergenza'}" style="font-size: 20px; text-transform: none; font-style: italic; vertical-align: middle; letter-spacing: 0;"> Tempo Totale di Manutenzione: 1 Ora e 10 Min 45 Secondi  </i>
                                                            <!--<i ng-show=" theoreticalTime.day===1" ng-class="{'s3alt' : currentItem.stato === 'inLavorazioneInEmergenza', 's3' : currentItem.stato !== 'inLavorazioneInEmergenza'}" style="font-size: 20px; text-transform: none; font-style: italic; vertical-align: middle; letter-spacing: 0;"> {{theoreticalTime.day}} {{ 'production_day' | translate }}  </i>
            <i ng-show="theoreticalTime.day>1" ng-class="{'s3alt' : currentItem.stato === 'inLavorazioneInEmergenza', 's3' : currentItem.stato !== 'inLavorazioneInEmergenza'}" style="font-size: 20px; text-transform: none; font-style: italic; vertical-align: middle; letter-spacing: 0;"> {{theoreticalTime.day}} {{ 'production_days' | translate }}</i>
            <i ng-show=" theoreticalTime.hh===1" ng-class="{'s3alt' : currentItem.stato === 'inLavorazioneInEmergenza', 's3' : currentItem.stato !== 'inLavorazioneInEmergenza'}" style="font-size: 20px; text-transform: none; font-style: italic; vertical-align: middle; letter-spacing: 0;"> {{theoreticalTime.hh}} {{ 'production_hour' | translate }} </i>
            <i ng-show="theoreticalTime.hh>1" ng-class="{'s3alt' : currentItem.stato === 'inLavorazioneInEmergenza', 's3' : currentItem.stato !== 'inLavorazioneInEmergenza'}" style="font-size: 20px; text-transform: none; font-style: italic; vertical-align: middle; letter-spacing: 0;"> {{theoreticalTime.hh}} {{ 'production_hours' | translate }} </i>
            <i ng-show="theoreticalTime.mm===1" ng-class="{'s3alt' : currentItem.stato === 'inLavorazioneInEmergenza', 's3' : currentItem.stato !== 'inLavorazioneInEmergenza'}" style="font-size: 20px; text-transform: none; font-style: italic; vertical-align: middle; letter-spacing: 0;"> {{theoreticalTime.mm}} {{ 'production_minute' | translate }}</i>
            <i ng-show="theoreticalTime.mm>1" ng-class="{'s3alt' : currentItem.stato === 'inLavorazioneInEmergenza', 's3' : currentItem.stato !== 'inLavorazioneInEmergenza'}" style="font-size: 20px; text-transform: none; font-style: italic; vertical-align: middle; letter-spacing: 0;"> {{theoreticalTime.mm}} {{ 'production_minutes' | translate }}</i>
            <i ng-show="theoreticalTime.mm<1" ng-class="{'s3alt' : currentItem.stato === 'inLavorazioneInEmergenza', 's3' : currentItem.stato !== 'inLavorazioneInEmergenza'}" style="font-size: 20px; text-transform: none; font-style: italic; vertical-align: middle; letter-spacing: 0;"> {{theoreticalTime.ss}} {{ 'production_seconds' | translate }} </i>-->
                                                        
                                                    </div>
                                                </fieldset>
                                            </div>

                                            <div class="tab-pane" id="tab2">
                                                <fieldset>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                                <div class="table-responsive">
                                                                    <table class="table" id="mainTable02" datatable="ng" dt-options="dtOptions02" dt-columns="dtColumns02" dt-instance="dtInstance02">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>{{ 'registry_Service_Quantity' | translate }}</th>
                                                                                <th>{{ 'registry_Service_NameMaterial' | translate }}</th>
                                                                                <th>{{ 'registry_Service_Operator' | translate }}</th>
                                                                                <th>Costo Unitario</th>
                                                                                <th>Unità Misura</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr id="{{ item }}" ng-repeat="item in currentItem.materiali" ng-class="{'selected': currentItem.id === item.id}">
                                                                                <td>{{ item.quantita }}</td>
                                                                                <td>{{ item.materiale }}</td>
                                                                                <td>{{ item.operatore }}</td>
                                                                                <td>15€</td>
                                                                                <td>Kg</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div><!-- table-responsive -->
                                                        </div>
                                                    </div>


                                                </fieldset>
                                            </div>

                                            <div class="tab-pane" id="tab3">
                                                <fieldset>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                                <div class="table-responsive" >
                                                                    <table class="table" id="mainTable03" datatable="ng" dt-options="dtOptions03" dt-columns="dtColumns03" dt-instance="dtInstance03">
                                                                        <thead>
                                                                            <tr>
                                                                                <th></th>
                                                                                <th>{{ 'registry_Service_NoteDate' | translate }}</th>
                                                                                <th>{{ 'registry_Service_Note' | translate }}</th>
                                                                                <th>{{ 'registry_Service_Operator' | translate }}</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr id="{{ item }}" ng-repeat="item in currentItem.note" ng-class="{'selected': currentItem.id === item.id}">
                                                                                <td> <img src="images/star.png" style="height: 15px;"></td>
                                                                                <td>{{ item.data | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                                                                <td>{{ item.nota }}</td>
                                                                                <td>{{ item.operatore }}</td>


                                                                            </tr>


                                                                        </tbody>
                                                                    </table>
                                                                </div><!-- table-responsive -->
                                                        </div>
                                                    </div>


                                                </fieldset>

                                            </div>

                                            <div class="tab-pane" id="tab4">
                                                <fieldset>
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <div class="panel panel-default">
                                                                <div class="panel-body" style="line-height:2;font-size:15px ">
                                                                    <h5 class="subtitle mb5">{{ 'production_Analysis_Date' | translate }}</h5>
                                                                    <p class="mb15"></p>
                                                                    <ul class="profile-social-list" id="analisiBatch_ListInfo">
                                                                        <li>
                                                                            <span class="leftInfo">  <i class="glyphicon glyphicon-time"></i> Tempo Presa in Carico:</span><span class="rightInfo">  {{currentItem.oee}} </span>
                                                                        </li>
                                                                        <li>
                                                                            <span class="leftInfo">  <i class="glyphicon glyphicon-time"></i> Tempo Totale Manutenzione:</span><span class="rightInfo">
                                                                                <i ng-show="tempoTotaleFermiCalculate.day===1"> {{tempoTotaleFermiCalculate.day}} {{ 'production_day' | translate }}  </i>
                                                                                <i ng-show="tempoTotaleFermiCalculate.day>1"> {{tempoTotaleFermiCalculate.day}} {{ 'production_days' | translate }}</i>
                                                                                <i ng-show="tempoTotaleFermiCalculate.hh===1"> {{tempoTotaleFermiCalculate.hh}} {{ 'production_hour' | translate }} </i>
                                                                                <i ng-show="tempoTotaleFermiCalculate.hh>1"> {{tempoTotaleFermiCalculate.hh}} {{ 'production_hours' | translate }} </i>
                                                                                <i ng-show="tempoTotaleFermiCalculate.mm===1"> {{tempoTotaleFermiCalculate.mm}} {{ 'production_minute' | translate }}</i>
                                                                                <i ng-show="tempoTotaleFermiCalculate.mm>1"> {{tempoTotaleFermiCalculate.mm}} {{ 'production_minutes' | translate }}</i>
                                                                                <i ng-show="tempoTotaleFermiCalculate.mm<1"> {{tempoTotaleFermiCalculate.ss}} {{ 'production_seconds' | translate }} </i>
                                                                            </span>
                                                                        </li>
                                                                        <li> <span class="leftInfo">  <i class="glyphicon glyphicon-user"></i> Operatore:</span><span class="rightInfo">  {{currentItem.pezziDaProdurre}} </span></li>
                                                                        <li> <span class="leftInfo">  <i class="glyphicon glyphicon-euro"></i> Totale Spese Manutenzione</span><span class="rightInfo">  {{currentItem.pezziDaProdurre}} </span></li>
                                                                        <li> <span class="leftInfo">  <i class="glyphicon glyphicon-wrench"></i> Reparto di Manutenzione:</span><span class="rightInfo">  {{currentItem.pezziDaProdurre}} </span></li>
                                                                        <li><span class="leftInfo">  <i class="glyphicon glyphicon-earphone"></i> Creato il:</span><span class="rightInfo">  {{currentItem.inizio| date: 'dd/MM/yyyy HH:mm:ss'}} </span></li>
                                                                        <li><span class="leftInfo">  <i class="glyphicon glyphicon-play"></i> {{ 'production_Analysis_Start' | translate }}:</span><span class="rightInfo">  {{currentItem.inizio| date: 'dd/MM/yyyy HH:mm:ss'}} </span></li>
                                                                        <li> <span class="leftInfo">  <i class="glyphicon glyphicon-stop"></i> {{ 'production_Analysis_Stop' | translate }}: </span><span class="rightInfo">  {{currentItem.fine | date: 'dd/MM/yyyy HH:mm:ss'}} </span></li>
                                                                    </ul>
                                                                </div><!-- panel-body -->
                                                            </div><!-- panel -->
                                                        </div><!-- col-sm-4 -->

                                                        <div class="col-sm-8">
                                                                <div class="panel-body">
                                                                    <p class="mb15"></p>
                                                                    <h1>Totale Spesa</h1>
                                                                 <nvd3 options="Fermi_GraphPie_Option" data="Fermi_GraphPie"></nvd3>
                                                                </div>
                                                        </div>
                                                    </div>


                                                </fieldset>

                                            </div>
                                        </div><!-- tab-content -->
                                    </div><!-- #basicWizard -->
                                </div><!-- panel-body -->
                            </fieldset>





                            <div class="panel-footer" style="padding: 10px;">
                                <button ng-show="isEnableWrite" ng-disabled="pviewState!='R'" class="btn btn-primary" ng-click="confirm()"><span class="fa fa-save"></span> {{ 'general_Button_Save' | translate }}</button>
                                <button ng-show="isEnableWrite" ng-disabled="pviewState!='R'" class="btn btn-primary" ng-click="confirmAndClose()"><span class="fa fa-save"></span> {{ 'general_Label_SaveClose' | translate }}</button>
                                <button class="btn btn-white" data-toggle="modal" data-target="#modalConfirmUndo"><span class="fa  fa-undo"></span> {{ 'general_Label_AnnulClose' | translate }}</button>
                                <button ng-show="isEnableWrite || IsOnTerminato()" ng-disabled="pviewState!='R'" class="btn btn-danger" data-toggle="modal" data-target="#modalConfirmDelete"><span class="fa fa-trash-o"></span> {{ 'general_General_Button_Delete' | translate }}</button>
                                <button ng-show="IsOnLavorazione()" class="btn btn-danger" data-toggle="modal" data-target="#modalConfirmAbort"><span class="fa fa-trash-o"></span> {{ 'production_Delete' | translate }}</button>
                                <!--<button ng-show="IsOnLavorazione() || IsOnTerminato()" class="float-rigth" excel-export export-data="exportData" file-name="{{fileName}}">Esporta 1</button>
                <button ng-show="IsOnLavorazione() || IsOnTerminato()" class="float-rigth" excel-export export-data="exportDataTrend"  export-title="Titolo" file-name="{{fileNameTrend}}"></button>-->
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">
                                                {{'general_General_Label_Conf_Delete' | translate }}
                                            </h4>
                                        </div>
                                        <div class="modal-body">
                                            {{ 'production_Alert2' | translate }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'general_General_Button_No' | translate }}</button>
                                            <button type="button" class="btn btn-primary" ng-click="delete()">{{ 'general_General_Button_Ok' | translate }}</button>
                                        </div>
                                    </div><!-- modal-content -->
                                </div><!-- modal-dialog -->
                            </div><!-- modal -->
                            <!-- Modal -->
                            <div class="modal fade" id="modalConfirmUndo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">{{ 'production_AnnulOrder' | translate }}</h4>
                                        </div>
                                        <div class="modal-body">
                                            {{ 'production_Alert3' | translate }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'general_General_Button_No' | translate }}</button>
                                            <button type="button" class="btn btn-primary" ng-click="cancel()">{{ 'general_General_Button_Ok' | translate }}</button>
                                        </div>
                                    </div><!-- modal-content -->
                                </div><!-- modal-dialog -->
                            </div><!-- modal -->
                            <!-- Modal -->
                            <div class="modal fade" id="modalConfirmAbort" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">{{ 'production_CloseOrder' | translate }}</h4>
                                        </div>
                                        <div class="modal-body">
                                            {{ 'production_Alert4' | translate }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'general_General_Button_No' | translate }}</button>
                                            <button type="button" class="btn btn-primary" ng-click="abort()">{{ 'general_General_Button_Ok' | translate }}</button>
                                        </div>
                                    </div><!-- modal-content -->
                                </div><!-- modal-dialog -->
                            </div><!-- modal -->



                        </div><!-- panel -->
                    </div>
                </div>
            </div>

        </div>
        <!-- mainpanel -->


        <script src="js/loadAllScript.js"></script>

        <script src=" js/moment.min.js"></script>
        <script src="js/_bootstrap-datepicker.js"></script>
        <script src="js/_bootstrap-datepicker.it.min.js"></script>
        <script src="js/_bootstrap-datetimepicker.js"></script>
        <script src="js/_bootstrap-datetimepicker.it.js"></script>

        <script src="js/jszip.min.js"></script>
        <script src="js/xlsx.js"></script>
        <script src="js/FileSaver.js"></script>

        <script src="app/controllers/accessi/accessi.controller.js"></script>
        <script src="app/controllers/manutenzione/manutenzione.controller.js"></script>

</body>
</html>
