﻿    <!-- Preloader -->
<!--<div id="preloader">
    <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>-->
<div class="row">



</div>
<div class="row" ng-show="currentItem.stato != null && currentItem.stato !=='inModifica' && currentItem.stato !== 'inAttesa'">
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-body" style="line-height:2;font-size:15px ">
                <h5 class="subtitle mb5">{{ 'production_Analysis_Date' | translate }}</h5>
                <p class="mb15"></p>
                <ul class="profile-social-list" id="analisiBatch_ListInfo">
                    <li>
                        <span class="leftInfo">  <i class="fas fa-sort"></i> {{ 'dashboard_Orders_Oee' | translate }}:</span><span class="rightInfo">  {{currentItem.oee}} %</span>
                    </li>
                    <li>
                        <span class="leftInfo">  <i class="fas fa-times"></i>{{ 'production_Analysis_TheoreticalTime' | translate }}: </span><span class="rightInfo">
                            <i ng-show="tempoTeoricoCalculate.day===1"> {{tempoTeoricoCalculate.day}} {{ 'production_day' | translate }}  </i>
                            <i ng-show="tempoTeoricoCalculate.day>1"> {{tempoTeoricoCalculate.day}} {{ 'production_days' | translate }}</i>
                            <i ng-show="tempoTeoricoCalculate.hh===1"> {{tempoTeoricoCalculate.hh}} {{ 'production_hour' | translate }} </i>
                            <i ng-show="tempoTeoricoCalculate.hh>1"> {{tempoTeoricoCalculate.hh}} {{ 'production_hours' | translate }} </i>
                            <i ng-show="tempoTeoricoCalculate.mm===1"> {{tempoTeoricoCalculate.mm}} {{ 'production_minute' | translate }}</i>
                            <i ng-show="tempoTeoricoCalculate.mm>1"> {{tempoTeoricoCalculate.mm}} {{ 'production_minutes' | translate }}</i>
                            <i ng-show="tempoTeoricoCalculate.mm<1"> {{tempoTeoricoCalculate.ss}} {{ 'production_seconds' | translate }} </i>
                        </span>
                    </li>
                    <li>
                        <span class="leftInfo">  <i class="fas fa-times"></i> {{ 'production_Analysis_EffectiveTime' | translate }}:</span><span class="rightInfo">
                            <i> {{tempoEffettivoCalculate}}  </i>
                            <!--<i ng-show="tempoEffettivoCalculate.day===1"> {{tempoEffettivoCalculate.day}} {{ 'production_day' | translate }}  </i>
                            <i ng-show="tempoEffettivoCalculate.day>1"> {{tempoEffettivoCalculate.day}} {{ 'production_days' | translate }}</i>
                            <i ng-show="tempoEffettivoCalculate.hh===1"> {{tempoEffettivoCalculate.hh}} {{ 'production_hour' | translate }} </i>
                            <i ng-show="tempoEffettivoCalculate.hh>1"> {{tempoEffettivoCalculate.hh}} {{ 'production_hours' | translate }} </i>
                            <i ng-show="tempoEffettivoCalculate.mm===1"> {{tempoEffettivoCalculate.mm}} {{ 'production_minute' | translate }}</i>
                            <i ng-show="tempoEffettivoCalculate.mm>1"> {{tempoEffettivoCalculate.mm}} {{ 'production_minutes' | translate }}</i>
                            <i ng-show="tempoEffettivoCalculate.mm<1"> {{tempoEffettivoCalculate.ss}} {{ 'production_seconds' | translate }} </i>-->
                        </span>
                    </li>
                    <li>
                        <span class="leftInfo">  <i class="fas fa-pause"></i> {{ 'production_Analysis_EffectiveTimeStop' | translate }}:</span><span class="rightInfo">
                            <i ng-show="tempoTotaleFermiCalculate.day===1"> {{tempoTotaleFermiCalculate.day}} {{ 'production_day' | translate }}  </i>
                            <i ng-show="tempoTotaleFermiCalculate.day>1"> {{tempoTotaleFermiCalculate.day}} {{ 'production_days' | translate }}</i>
                            <i ng-show="tempoTotaleFermiCalculate.hh===1"> {{tempoTotaleFermiCalculate.hh}} {{ 'production_hour' | translate }} </i>
                            <i ng-show="tempoTotaleFermiCalculate.hh>1"> {{tempoTotaleFermiCalculate.hh}} {{ 'production_hours' | translate }} </i>
                            <i ng-show="tempoTotaleFermiCalculate.mm===1"> {{tempoTotaleFermiCalculate.mm}} {{ 'production_minute' | translate }}</i>
                            <i ng-show="tempoTotaleFermiCalculate.mm>1"> {{tempoTotaleFermiCalculate.mm}} {{ 'production_minutes' | translate }}</i>
                            <i ng-show="tempoTotaleFermiCalculate.mm<1"> {{tempoTotaleFermiCalculate.ss}} {{ 'production_seconds' | translate }} </i>
                        </span>
                    </li>
                    <li> <span class="leftInfo">  <i class="fas fa-pencil-alt"></i> {{ 'production_Analysis_Pieces' | translate }}:</span><span class="rightInfo">  {{currentItem.pezziDaProdurre}} </span></li>
                    <li><span class="leftInfo">  <i class="fas fa-pencil-alt"></i> {{ 'production_Analysis_PiecesProduced' | translate }}: </span><span class="rightInfo">  {{currentItem.pezziProdotti}} </span> </li>
                    <li><span class="leftInfo">  <i class="fas fa-pencil-alt"></i> {{ 'production_Analysis_PiecesScrap' | translate }}: </span><span class="rightInfo">  {{currentItem.pezziScartati}} </span></li>
                    <li><span class="leftInfo">  <i class="fas fa-sort"></i> {{ 'production_Analysis_Oee_RF' | translate }}:</span><span class="rightInfo">  {{currentItem.oeE_Rf}} %</span></li>
                    <li><span class="leftInfo">  <i class="fas fa-play"></i> {{ 'production_Analysis_Start' | translate }}:</span><span class="rightInfo">  {{currentItem.inizio| date: 'dd/MM/yyyy HH:mm:ss'}} </span></li>
                    <li> <span class="leftInfo">  <i class="fas fa-stop"></i> {{ 'production_Analysis_Stop' | translate }}: </span><span class="rightInfo">  {{currentItem.fine | date: 'dd/MM/yyyy HH:mm:ss'}} </span></li>
                 </ul>
            </div><!-- panel-body -->
        </div><!-- panel -->
    </div><!-- col-sm-4 -->

    <div class="col-sm-8">
        <div class="row">
            <div class="col-md-10">
            </div>
            <div class="col-md-2">
                <div>
                    <select class="form-control chosen-select" ng-model="currentItem.tickInterval" ng-change="changeTickIntervalGraph(currentItem,currentItem.tickInterval)">
                        <option selected value="">{{ 'production_selectRange' | translate }}</option>
                        <option value="15"> 15 {{ 'production_seconds' | translate }} </option>
                        <option value="30"> 30 {{ 'production_seconds' | translate }}</option>
                        <option value="60"> 1 {{ 'production_minute' | translate }}</option>
                        <option value="120"> 2  {{ 'production_minute' | translate }}</option>
                        <option value="300"> 5  {{ 'production_minute' | translate }}</option>
                        <option value="600"> 10  {{ 'production_minute' | translate }}</option>
                        <option value="1800"> 30  {{ 'production_minute' | translate }}</option>
                        <option value="3600"> 1  {{ 'production_hour' | translate }}</option>
                    </select>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="panel-body col-md-12">
                <h5 class="subtitle mb5">{{ 'dashboard_Orders_Oee' | translate }}</h5>
                <p class="mb15"></p>
                <nvd3 options="options_multiBarChart1" data="summary_GraphBar"></nvd3>
            </div>
        </div>
    </div>
    <!--<div class="row">

        <div class="panel-body">
            <h5 class="subtitle mb5">{{ 'dashboard_Orders_Oee' | translate }}</h5>
            <p class="mb15"></p>
            <nvd3 options="options_multiBarChart1" data="data_multiBarChart1"></nvd3>
        </div>
    </div>-->


</div>

<div ng-show="currentItem.stato == null || currentItem.stato =='inModifica' || currentItem.stato =='inAttesa' ">
    <h4>Attenzione dati non disponibili, ordine non avviato</h4>
</div>

<style>
    ul#analisiBatch_ListInfo li {
        display: inline-block;
        width: 100%
    }

    ul#analisiBatch_ListInfo li {
        display: inline-block;
        width: 100%
    }

        ul#analisiBatch_ListInfo li span.leftInfo {
            float: left;
        }

        ul#analisiBatch_ListInfo li span.rightInfo {
            float: right;
            line-height: 1;
        }
</style>