﻿<!DOCTYPE html>
<html lang="it" ng-app="AppMacchine">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <title>{{ 'production' | translate }}</title>

    <link href="css/style.default.css" rel="stylesheet">
    <link href="css/jquery.datatables.css" rel="stylesheet">
    <link rel="stylesheet" href="css/jquery.tagsinput.css" />
    <link rel="stylesheet" href="css/colorpicker.css" />
    <link rel="stylesheet" href="css/dropzone.css" />

    <link rel="stylesheet" type="text/css" href="css/tree-control.css">
    <link rel="stylesheet" href="css/select2.css">
    <link rel="stylesheet" href="css/selectize.default.css">
    <!--<link rel="stylesheet" href="css/nv.d3.min.css" />-->
    <link rel="stylesheet" href="css/select.css" />
    <link rel="stylesheet" href="css/dx.common.css">
    <link rel="stylesheet" href="css/dx.light.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <link rel=" stylesheet" href="css/_bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/_bootstrap-datetimepicker.css">
    <!--<link rel="stylesheet" href="js/nv.d3_1.8.6.css">-->


</head>
<body>



    <div id="preloader">
        <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
    </div>

    <!-- leftpanel -->
    <div class="leftpanel" ng-controller="menuCtrl" ng-include="'left-side.html'"> </div>
    <!-- leftpanel -->

    <div class="mainpanel" style="background-color:white">
        <!-- toppanel -->
        <div ng-controller="AccessiCtrl" ng-include="'top-side.html'"></div>
        <!-- toppanel -->
        <!--<div ng-app="DemoApp" ng-controller="DemoController">-->
        <div ng-controller="ProduzioneCtrl">

            <!--<div class="pageheader">
                <h2><i class="fa fa-list-alt"></i> Produzione <span>{{currentItem.odP}}</span></h2>
            </div>-->
            <div class="contentpanel" id="divPrincipale">
                <div class="row">
                    <div class="loader" style="z-index: 10;display:none">
                        <div class="fa fa-spinner fa-spin fa-5x" display="none"></div>
                    </div>
                    <div ng-class="IsFullScreenOnEdit ? 'col-md-12' : 'col-md-8'" ng-show="!IsFullScreenOnEdit || (IsFullScreenOnEdit && viewState=='R')">
                        <fieldset ng-disabled="viewState=='U' || viewState=='C'">
                            <div class="panel panel-default" ng-disabled="true">
                                <div class="panel-heading padding10">
                                    <div class="row">
                                        <div ng-class="ViewAsInModifica ? 'col-md-7' : 'col-md-10'">
                                            <h3 class="panel-title">{{ 'production' | translate }} "<b>{{currentItem.odP}}</b>"</h3>
                                        </div>
                                        <div class="col-md-2">
                                            <div ng-if="listaAziende.length  > 0">
                                                <select class="form-control chosen-select" chosen ng-change="reload()" ng-model="MainFilter.filterByCompanyId" ng-disabled="MainFilter.disableFilterByCompanyId">
                                                    <option value="">{{ 'registry_DropDownSelectOne_Company' | translate }}</option>
                                                    <option ng-repeat="azienda in listaAziende" value="{{azienda.id}}"
                                                            ng-selected="MainFilter.filterByCompanyId === azienda.id">
                                                        {{azienda.value}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3" ng-show="ViewAsInModifica">
                                            <button type="button" class="btn btn-primary ng-binding" style="width: 48%;" title="{{ btnImportDowncounterValue ? ('general_Title_The_Imported_Orders_Will_Be_Available_In' | translate) + btnImportDowncounterValue : ''}}" ng-disabled="btnImportIsDisabled" ng-click="import()"><span class="fas fa-file-import"></span> {{ 'general_Button_Import' | translate }} <span style="font-size:10px">{{btnImportDowncounterValue}}</span></button>
                                            <button type="button" class="btn btn-default" style="width: 48%;" ng-click="insert()"><span class="fa fa-plus"></span> {{ 'general_Button_Add' | translate }}</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div id="gridContainer" dx-data-grid="gridOptions" dx-item-alias="discount">
                                        <div data-options="dxTemplate:{ name:'discountCellTemplate' }" class="ng-hide" ng-show="true">
                                            <div class="chart-cell">
                                                <div dx-bullet="{onIncidentOccurred: null, size: {width: 150, height: 35 }, margin: { top: 5, bottom: 0, left: 5}, showTarget: false, showZeroLevel: true, value: discount.value, startScaleValue: 0, color: '#337ab7', endScaleValue: 100, tooltip: { enabled: true, font: { size: 18 }, paddingTopBottom: 2, customizeTooltip: customizeTooltip, zIndex: 5, } }">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--<div class="table-responsive">
                    <table class="table" id="mainTable" datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance">
                        <thead>
                            <tr>
                                <th>{{ 'general_Label_State' | translate }}</th>
                                <th ng-show="!ViewAsInModifica">{{ 'production_OEE' | translate }}</th>
                                <th>{{ 'production_Odp' | translate }}</th>
                                <th>{{ 'production_Odp_Partial' | translate }}</th>
                                <th>{{ 'production_Odv' | translate }}</th>
                                <th>{{ 'production_OdvDesc' | translate }}</th>
                                <th>{{ 'production_CodeMat' | translate }}</th>
                                <th>{{ 'production_Base' | translate }}</th>
                                <th>{{ 'production_Piece' | translate }}</th>
                                <th ng-show="ViewAsInModifica">{{ 'production' | translate }}</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="{{ item.id }}" ng-repeat="item in items track by item.id" ng-click="showItemDetail(item)" ng-dblclick="update()" ng-class="{'selected': currentItem.id === item.id}">
                            <tr id="{{ item.id }}" ng-repeat="item in items track by item.id" ng-repeat-steps="20" ng-click="update($event, item)" ng-class="{'selected': currentItem.id === item.id}">
                                <td>
                                    <i ng-show="item.stato === 'inLavorazione'" class="fas fa-check" title="{{ item.stato }}"></i>
                                    <i ng-show="item.stato === 'inLavorazioneInPausa'" class="fas fa-pause" title="{{ item.stato }}"></i>
                                    <i ng-show="item.stato === 'inLavorazioneInEmergenza'" class="fas fa-exclamation" title="{{ item.stato }}"></i>
                                    <i ng-show="item.stato === 'inAttesa'" class="fas fa-flag" title="{{ item.stato }}"></i>
                                    <i ng-show="item.stato === 'inLavorazioneInIdle'" class="fas fa-flag" title="{{ item.stato }}"></i>
                                    <i ng-show="item.stato === 'terminatoAbortito'" class="fas fa-ban" title="{{ item.stato }}"></i>
                                    <i ng-show="item.stato === 'terminato'" class="fas fa-check-double" title="{{ item.stato }}"></i>
                                    <i ng-show="item.stato === 'inModifica'" class="fas fa-edit" title="{{ item.stato }}"></i>
                                </td>

                                <th ng-show="!ViewAsInModifica">{{ item.oee }} %</th>
                                <td>{{ item.odP }}</td>
                                <td>{{ item.odPParziale }}</td>
                                <td>{{ item.odV }}</td>
                                <td>{{ item.odV_DescrizioneCliente }}</td>
                                <td>{{ item.materiale.toString }}</td>
                                <td>{{ item.distintaBase.codice }}</td>
                                <td>{{ item.pezziDaProdurre }}</td>
                                <td ng-show="ViewAsInModifica">
                                    <button id="launch" ng-disabled="! isOdpSelected(item)" ng-click="changevariable(true)" type="button" class="btn btn-default" data-toggle="modal" data-target="#modalConfirmChangeState">{{ 'production_launching' | translate }}</button>
                                    <button id="launch" ng-disabled="! isOdpSelected(item)" ng-type="button" class="btn btn-default" data-toggle="modal" data-target="#modalConfirmChangeState">{{ 'production_launching' | translate }}</button>
                                </td>
                            </tr>-->
                                    <!--Modal-->
                                    <!--</tbody>
                        </table>
                    </div>-->
                                    <!--table-responsive-->

                                </div><!-- panel-body -->
                            </div><!-- panel -->
                        </fieldset>
                    </div>
                    <div ng-class="IsFullScreenOnEdit ? 'col-md-12' : 'col-md-4'" ng-show="!IsFullScreenOnEdit || (IsFullScreenOnEdit && (viewState=='U' || viewState=='C') )">
                        <div class="panel panel-default">

                            <div class="panel-heading padding10">
                                <div class="row">
                                    <div class="col-md-6" style="margin-top:20px;">
                                        <h3 class="panel-title">{{ 'production_Order' | translate }} "<b>{{currentItem.odP}}</b>"</h3>
                                    </div>
                                    <div class="col-md-6">
                                        <div style="padding: 10px;text-align:right;">
                                            <div id="buttonContainer"></div>
                                            <button ng-hide="!isEnableWrite" ng-disabled="pviewState!='R'" class="btn btn-primary" ng-click="confirm()"><span class="fa fa-save"></span> {{ 'general_Button_Save' | translate }}</button>
                                            <button ng-hide="!isEnableWrite" ng-disabled="pviewState!='R'" class="btn btn-primary" ng-click="confirmAndClose()"><span class="fa fa-save"></span> {{ 'general_Label_SaveClose' | translate }}</button>
                                            <button ng-hide="ViewFromDashboard" class="btn btn-white" data-toggle="modal" data-target="#modalConfirmUndo"><span class="fa  fa-undo"></span> {{ 'general_Label_AnnulClose' | translate }}</button>
                                            <button ng-hide="!isEnableWrite && !ViewAsInModifica" ng-disabled="pviewState!='R'" class="btn btn-danger" data-toggle="modal" data-target="#modalConfirmDelete"><span class="fa fa-trash-o"></span> {{ 'general_General_Button_Delete' | translate }}</button>
                                            <button ng-show="!isEnableWrite" class="btn btn-info" ng-click="refresh()"><span class="fa fa-sync"></span>{{ 'general_Label_Refresh' | translate }}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <fieldset>
                                <div class="panel-body">
                                    <!-- BASIC WIZARD -->
                                    <div id="basicWizard" class="basic-wizard">

                                        <ul class="nav nav-tabs">
                                            <li class="nav-item">
                                                <a class="nav-link" href="#tab1" data-toggle="tab">
                                                    <span>{{ 'production_heading' | translate }}</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#tab2" data-toggle="tab">
                                                    <span>{{ 'production_details' | translate }}</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#tab3" data-toggle="tab">
                                                    <span>{{ 'production_Parameters' | translate }}</span>
                                                </a>
                                            </li>

                                            <li class="nav-item">
                                                <a class="nav-link" href="#tab8" data-toggle="tab">
                                                    <span>{{ 'production_analysisBatch' | translate }}</span>
                                                </a>
                                            </li>

                                            <li class="nav-item" onclick="document.getElementById('defaultOpenFasiRiepilogo').click();">
                                                <a class="nav-link" href="#tab5" data-toggle="tab" ng-click="refreshGrafici()">
                                                    <span>{{ 'production_analysis' | translate }}</span>
                                                </a>
                                            </li>

                                            <li class="nav-item" onclick="document.getElementById('defaultOpenFermi').click();">
                                                <a class="nav-link" href="#tab7" data-toggle="tab">
                                                    <span>{{ 'production_Analysis' | translate }}</span>
                                                </a>
                                            </li>

                                            <li class="nav-item" onclick="document.getElementById('defaultOpenScarti').click();">
                                                <a class="nav-link" href="#tab9" data-toggle="tab">
                                                    <span>{{ 'production_analysisScrap' | translate }}</span>
                                                </a>
                                            </li>

                                            <li class="nav-item">
                                                <a class="nav-link" href="#tab6" data-toggle="tab">
                                                    <span>{{ 'production_Trend' | translate }}</span>
                                                </a>
                                            </li>

                                            <!--<li class="nav-item">
                        <a class="nav-link" href="#tab10" data-toggle="tab">
                            <span>Fascicoli Qualità</span>
                        </a>
                    </li>-->
                                        </ul>

                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab1">
                                                <fieldset ng-disabled="!isEnableWrite">
                                                    <!--<div class="dx-viewport" ng-show="currentItem.stato === 'inLavorazione' || currentItem.stato === 'inLavorazioneInEmergenza' || currentItem.stato === 'terminato'">
                                <div class="row">
                                    <div class="col-md-4" id="pie" dx-pie-chart="pie"></div>
                                    <div class="col-md-4" id="gauge1" dx-circular-gauge="gauge" style="align-content:center"></div>
                                </div>
                            </div>-->
                                                    <div class="row">
                                                        <div class="form-group col-md-3">
                                                            <label>{{ 'production_OrderODP' | translate }} (*)</label>
                                                            <div>
                                                                <input type="text" name="odp" class="form-control" ng-model="currentItem.odP" ng-disabled="isBatchAutoCounterEnabled" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label>{{ 'production_Odp_Partial' | translate }}</label>
                                                            <div>
                                                                <input type="text" name="odp" class="form-control" ng-model="currentItem.odPParziale" ng-disabled="isBatchAutoCounterEnabled" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label>{{ 'production_Odv' | translate }}</label>
                                                            <div>
                                                                <input type="text" name="odv" class="form-control" ng-model="currentItem.odV" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label>{{ 'production_job' | translate }}</label>
                                                            <div>
                                                                <input type="text" name="commessa" class="form-control" ng-model="currentItem.commessa" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <!--------------------------------------->
                                                        <!--SELEZIONE PER AZIENDA-->
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label class="control-label">{{ 'registry_DropDownTitle_Company' | translate }}</label>
                                                                <div class="form-group">
                                                                    <select class="form-control chosen-select" chosen
                                                                            ng-model="currentItem.azienda.id" ng-disabled="(viewState=='R') || (MainFilter.disableFilterByCompanyId) || !isEnableWrite">

                                                                        <!--<option value="">{{ 'registry_DropDownSelectOne_Company' | translate }}</option>-->
                                                                        <option ng-repeat="azienda in listaAziende" value="{{azienda.id}}"
                                                                                ng-selected="currentItem.azienda.id === azienda.id">

                                                                            {{azienda.value}}
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--------------------------------------->
                                                        <div class="form-group col-md-1">
                                                            <label>{{ 'general_Label_State' | translate }}</label>
                                                            <div>
                                                                <input type="text" name="stato" ng-disabled="true" class="form-control" ng-model="currentStatus" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-md-2">
                                                            <label>{{ 'production_Piece' | translate }}</label>
                                                            <div>
                                                                <input type="number" name="pzi" min="1" class="form-control" ng-model="currentItem.pezziDaProdurre" ng-change="calculateTheoreticalTime()" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label>{{ 'production_Materials' | translate }} (*)</label>
                                                            <div>
                                                                <select class="form-control chosen-select" chosen ng-change="loadDistintaBaseFromMateriale(currentItem.materiale.id)"
                                                                        ng-model="currentItem.materiale.id" ng-disabled="!isEnableWrite">
                                                                    <option ng-repeat="materiale in ListaMateriali | orderBy : 'codice'  " value="{{materiale.id}}" ng-selected="currentItem.materiale.id === materiale.id">
                                                                        {{materiale.toString }}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label>{{ 'production_Base' | translate }} (*)</label>
                                                            <div>
                                                                <select class="form-control chosen-select" id="selDistintaBase" chosen ng-change="changeDistintaBase(currentItem.distintaBase)"
                                                                        ng-model="currentItem.distintaBase.id" ng-disabled="!isEnableWrite || (ListaDistintaBase === null)">
                                                                    <option value="-1">{{ 'designer_ListBase_Phases_Select' | translate }}</option>
                                                                    <option ng-repeat="db in ListaDistintaBase" value="{{db.id}}" ng-selected="currentItem.distintaBase.id === db.id">
                                                                        {{db.nome}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="form-group col-md-12">
                                                            <label>{{ 'production_detailClient' | translate }}</label>
                                                            <div>
                                                                <textarea id="ckeditor" class="form-control" rows="10" ng-model="currentItem.odV_DescrizioneCliente"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <i ng-class="{'s3alt' : currentItem.stato === 'inLavorazioneInEmergenza', 's3' : currentItem.stato !== 'inLavorazioneInEmergenza'}" style="font-size: 20px; text-transform: none; font-style: italic; vertical-align: middle; letter-spacing: 0;"> {{ 'production_TimeTheoretical' | translate }}:  </i>
                                                        <i ng-show=" theoreticalTime.day===1" ng-class="{'s3alt' : currentItem.stato === 'inLavorazioneInEmergenza', 's3' : currentItem.stato !== 'inLavorazioneInEmergenza'}" style="font-size: 20px; text-transform: none; font-style: italic; vertical-align: middle; letter-spacing: 0;"> {{theoreticalTime.day}} {{ 'production_day' | translate }}</i>
                                                        <i ng-show="theoreticalTime.day>1" ng-class="{'s3alt' : currentItem.stato === 'inLavorazioneInEmergenza', 's3' : currentItem.stato !== 'inLavorazioneInEmergenza'}" style="font-size: 20px; text-transform: none; font-style: italic; vertical-align: middle; letter-spacing: 0;"> {{theoreticalTime.day}} {{ 'production_days' | translate }}</i>
                                                        <i ng-show=" theoreticalTime.hh===1" ng-class="{'s3alt' : currentItem.stato === 'inLavorazioneInEmergenza', 's3' : currentItem.stato !== 'inLavorazioneInEmergenza'}" style="font-size: 20px; text-transform: none; font-style: italic; vertical-align: middle; letter-spacing: 0;">{{theoreticalTime.day >= 1 ? ',' : ''}} {{theoreticalTime.hh}} {{ 'production_hour' | translate }}</i>
                                                        <i ng-show="theoreticalTime.hh>1" ng-class="{'s3alt' : currentItem.stato === 'inLavorazioneInEmergenza', 's3' : currentItem.stato !== 'inLavorazioneInEmergenza'}" style="font-size: 20px; text-transform: none; font-style: italic; vertical-align: middle; letter-spacing: 0;">{{theoreticalTime.day >= 1 ? ',' : ''}} {{theoreticalTime.hh}} {{ 'production_hours' | translate }} </i>
                                                        <i ng-show="theoreticalTime.mm===1" ng-class="{'s3alt' : currentItem.stato === 'inLavorazioneInEmergenza', 's3' : currentItem.stato !== 'inLavorazioneInEmergenza'}" style="font-size: 20px; text-transform: none; font-style: italic; vertical-align: middle; letter-spacing: 0;">{{theoreticalTime.hh >= 1 ? ',' : ''}} {{theoreticalTime.mm}} {{ 'production_minute' | translate }}</i>
                                                        <i ng-show="theoreticalTime.mm>1" ng-class="{'s3alt' : currentItem.stato === 'inLavorazioneInEmergenza', 's3' : currentItem.stato !== 'inLavorazioneInEmergenza'}" style="font-size: 20px; text-transform: none; font-style: italic; vertical-align: middle; letter-spacing: 0;">{{theoreticalTime.hh >= 1 ? ',' : ''}} {{theoreticalTime.mm}} {{ 'production_minutes' | translate }}</i>
                                                        <i ng-show="theoreticalTime.mm<1" ng-class="{'s3alt' : currentItem.stato === 'inLavorazioneInEmergenza', 's3' : currentItem.stato !== 'inLavorazioneInEmergenza'}" style="font-size: 20px; text-transform: none; font-style: italic; vertical-align: middle; letter-spacing: 0;">{{theoreticalTime.mm >= 1 ? ',' : ''}} {{theoreticalTime.ss}} {{ 'production_seconds' | translate }} </i>
                                                    </div>
                                                </fieldset>
                                            </div>

                                            <div class="tab-pane" id="tab2">
                                                <fieldset ng-disabled="!isEnableWrite">
                                                    <div ng-include="'produzione-fasi.html'"></div>
                                                </fieldset>
                                            </div>

                                            <div class="tab-pane" id="tab3">
                                                <fieldset ng-disabled="!isEnableWrite">
                                                    <div ng-include="'produzione-parametri.html'"></div>
                                                </fieldset>
                                            </div>

                                            <!--<div class="tab-pane" id="tab4">
                        <div ng-include="'produzione-riepilogo.html'"></div>
                    </div>-->

                                            <div class="tab-pane" id="tab5">
                                                <div ng-include="'produzione-analisi.html'"></div>
                                            </div>

                                            <div class="tab-pane" id="tab6">
                                                <div ng-include="'produzione-trend.html'"></div>
                                            </div>

                                            <div class="tab-pane" id="tab7">
                                                <div ng-include="'produzione-analisiFermi.html'"></div>
                                            </div>

                                            <div class="tab-pane" id="tab8">
                                                <div ng-include="'produzione-analisiBatch.html'"></div>
                                            </div>

                                            <div class="tab-pane" id="tab9">
                                                <div ng-include="'produzione-analisiScarti.html'"></div>
                                            </div>

                                            <!--<div class="tab-pane" id="tab10">
                        <div ng-include="'produzione-analisiQualita.html'"></div>
                    </div>-->

                                        </div><!-- tab-content -->
                                    </div><!-- #basicWizard -->
                                </div><!-- panel-body -->
                            </fieldset>
                            <div class="panel-footer" style="padding: 10px;">
                                <button ng-show="isEnableWrite" ng-disabled="pviewState!='R'" class="btn btn-primary" ng-click="confirm()"><span class="fa fa-save"></span> {{ 'general_Button_Save' | translate }}</button>
                                <button ng-show="isEnableWrite" ng-disabled="pviewState!='R'" class="btn btn-primary" ng-click="confirmAndClose()"><span class="fa fa-save"></span> {{ 'general_Label_SaveClose' | translate }}</button>
                                <button ng-hide="ViewFromDashboard" class="btn btn-white" data-toggle="modal" data-target="#modalConfirmUndo"><span class="fa  fa-undo"></span> {{ 'general_Label_AnnulClose' | translate }}</button>
                                <button ng-show="ViewAsInLavorazione || ViewAsInAttesa" class="btn btn-warning" data-toggle="modal" data-target="#modalConfirmPause"><span class="fa  fa-pause" style="color: black !important"></span> {{ 'general_Label_Pause_Order' | translate }}</button>
                                <button ng-show="currentItem.stato === 'inSospensione'" class="btn btn-warning" data-toggle="modal" data-target="#modalConfirmRestart"><span class="fa  fa-refresh" style="color: black !important"></span> {{ 'general_Label_Resume_Order' | translate }}</button>
                                <button ng-show="isEnableWrite || IsOnTerminato()" ng-disabled="pviewState!='R'" class="btn btn-danger" data-toggle="modal" data-target="#modalConfirmDelete"><span class="fa fa-trash-o"></span> {{ 'general_General_Button_Delete' | translate }}</button>
                                <button ng-show="IsOnLavorazione()" class="btn btn-danger" data-toggle="modal" data-target="#modalConfirmAbort"><span class="fa fa-trash-o"></span> {{ 'production_Delete' | translate }}</button>
                                <!--<button ng-show="IsOnLavorazione() || IsOnTerminato()" class="float-rigth" excel-export export-data="exportData" file-name="{{fileName}}">Esporta 1</button>
        <button ng-show="IsOnLavorazione() || IsOnTerminato()" class="float-rigth" excel-export export-data="exportDataTrend"  export-title="Titolo" file-name="{{fileNameTrend}}"></button>-->
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    od
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel">{{'general_General_Label_Conf_Delete' | translate }}</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            {{ 'production_Alert2' | translate }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'general_General_Button_No' | translate }}</button>
                                            <button type="button" class="btn btn-primary" ng-click="delete()">{{ 'general_General_Button_Ok' | translate }}</button>
                                        </div>
                                    </div><!-- modal-content -->
                                </div><!-- modal-dialog -->
                            </div><!-- modal -->
                            <!-- Modal -->
                            <div class="modal fade" id="modalConfirmUndo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel">{{ 'production_AnnulOrder' | translate }}</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            {{ 'production_Alert3' | translate }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'general_General_Button_No' | translate }}</button>
                                            <button type="button" class="btn btn-primary" ng-click="cancel()">{{ 'general_General_Button_Ok' | translate }}</button>
                                        </div>
                                    </div><!-- modal-content -->
                                </div><!-- modal-dialog -->
                            </div><!-- modal -->
                            <!-- Modal -->
                            <!-- Modal -->
                            <div class="modal fade" id="modalConfirmPause" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel">{{ 'general_Label_Pause_Order' | translate }}</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            {{ 'production_Alert5' | translate }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'general_General_Button_No' | translate }}</button>
                                            <button type="button" class="btn btn-primary" ng-click="pause()">{{ 'general_General_Button_Ok' | translate }}</button>
                                        </div>
                                    </div><!-- modal-content -->
                                </div><!-- modal-dialog -->
                            </div><!-- modal -->
                            <!-- Modal -->
                            <div class="modal fade" id="modalConfirmPauseEnd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel">{{ 'general_Label_Pause_Order' | translate }}</h4>
                                        </div>
                                        <div class="modal-body">
                                            {{ 'production_Alert7' | translate }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="reloadInterface()">{{ 'general_General_Button_Ok' | translate }}</button>
                                        </div>
                                    </div><!-- modal-content -->
                                </div><!-- modal-dialog -->
                            </div><!-- modal -->
                            <div class="modal fade" id="modalConfirmRestartEnd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel">{{ 'general_Label_Pause_Order' | translate }}</h4>
                                        </div>
                                        <div class="modal-body">
                                            {{ 'production_Alert8' | translate }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="reloadInterface()">{{ 'general_General_Button_Ok' | translate }}</button>
                                        </div>
                                    </div><!-- modal-content -->
                                </div><!-- modal-dialog -->
                            </div><!-- modal -->

                            <div class="modal fade" id="modalConfirmRestart" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel">{{ 'general_Label_Resume_Order' | translate }}</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            {{ 'production_Alert6' | translate }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'general_General_Button_No' | translate }}</button>
                                            <button type="button" class="btn btn-primary" ng-click="restart()">{{ 'general_General_Button_Ok' | translate }}</button>
                                        </div>
                                    </div><!-- modal-content -->
                                </div><!-- modal-dialog -->
                            </div><!-- modal -->
                            <!-- Modal -->
                            <div class="modal fade" id="modalConfirmAbort" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">{{ 'production_CloseOrder' | translate }}</h4>
                                        </div>
                                        <div class="modal-body">
                                            {{ 'production_Alert4' | translate }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'general_General_Button_No' | translate }}</button>
                                            <button type="button" class="btn btn-primary" ng-click="abort()">{{ 'general_General_Button_Ok' | translate }}</button>
                                        </div>
                                    </div><!-- modal-content -->
                                </div><!-- modal-dialog -->
                            </div><!-- modal -->
                            <div class="modal fade" id="modalConfirmChangeState" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel">{{ 'general_Label_Confirm' | translate }}</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        </div>
                                        <div class="modal-body" style="color:#000;">
                                            {{ 'production_Alert1' | translate }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'general_General_Button_No' | translate }}</button>
                                            <button type="button" class="btn btn-primary" ng-click="launch()">{{ 'general_General_Button_Ok' | translate }}</button>
                                        </div>
                                    </div><!-- modal-content -->
                                </div><!-- modal-dialog -->
                            </div><!-- modal -->
                        </div><!-- panel -->
                    </div>
                </div>
            </div>
            <!-- finestre di messaggistica-->
            <div ng-include="'common-messages.html'"></div>
        </div>
        <!-- mainpanel -->
    </div>
    <script src="js/loadAllScript.js"></script>
    <script src=" js/moment.min.js"></script>
    <script src="js/_bootstrap-datepicker.js"></script>
    <script src="js/_bootstrap-datepicker.it.min.js"></script>
    <script src="js/_bootstrap-datetimepicker.js"></script>
    <script src="js/_bootstrap-datetimepicker.it.js"></script>
    <script src="js/jszip.min.js"></script>
    <script src="js/xlsx.js"></script>
    <script src="js/FileSaver.js"></script>
    <script src="app/controllers/accessi/accessi.controller.js"></script>
    <script src="app/controllers/produzione/produzione.controller.js"></script>
</body>
</html>
<style>
    .fa-flag {
        color: black !important;
    }
    .fa-check {
        color: green !important;
    }

    .fa-exclamation {
        color: red !important;
    }

    .fa-pause {
        color: orange !important;
    }

    .fa-hand-paper {
        color: yellow !important;
    }

    .task-info {
        font-family: Segoe UI;
        min-height: 200px;
        display: flex;
        flex-wrap: nowrap;
        border: 2px solid rgba(0, 0, 0, 0.1);
        padding: 16px;
        box-sizing: border-box;
        align-items: baseline;
        justify-content: space-between;
    }

    #taskSubject {
        line-height: 29px;
        font-size: 18px;
        font-weight: bold;
    }

    #taskDetails {
        line-height: 22px;
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .progress {
        display: flex;
        flex-direction: column;
        white-space: pre;
        min-width: 105px;
    }

    .info {
        margin-right: 40px;
    }

    #taskProgress {
        line-height: 42px;
        font-size: 40px;
        font-weight: bold;
    }

    .options {
        margin-top: 20px;
        padding: 20px;
        background-color: rgba(191, 191, 191, 0.15);
        position: relative;
    }

    .caption {
        font-size: 18px;
        font-weight: 500;
    }

    .option {
        margin-top: 10px;
        margin-right: 40px;
        display: inline-block;
    }

        .option:last-child {
            margin-right: 0;
        }

        .option > .dx-numberbox {
            width: 200px;
            display: inline-block;
            vertical-align: middle;
        }

        .option > span {
            margin-right: 10px;
        }

    .demo-container {
        height: 570px;
    }

    #gridContainer {
        height: 440px;
    }

    .dx-filterbuilder-overlay .dx-scrollable-container {
        max-height: 400px;
    }


    .dx-datagrid .dx-data-row > td.bullet {
        padding-top: 0;
        padding-bottom: 0;
    }



    .loader {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #f1f1f1;
        padding: 20px;
    }


    #gridContainer span.current-value {
        display: inline-block;
        margin-right: 5px;
    }

    #gridContainer span.diff {
        width: 50px;
        display: inline-block;
    }

    #gridContainer .inc {
        fill: #f00;
    }

    #gridContainer .dec {
        fill: #f00;
    }

        #gridContainer .inc .arrow,
        #gridContainer .dec .arrow {
            display: inline-block;
            height: 10px;
            width: 10px;
            background-repeat: no-repeat;
            background-size: 10px 10px;
        }
</style>
