﻿<!DOCTYPE html>
<html lang="it" ng-app="AppMacchine">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <title>{{ 'production_Sequence' | translate }}</title>

    <link href="css/style.default.css" rel="stylesheet">
    <link href="css/jquery.datatables.css" rel="stylesheet">
    <link rel="stylesheet" href="css/jquery.tagsinput.css" />
    <link rel="stylesheet" href="css/colorpicker.css" />
    <link rel="stylesheet" href="css/dropzone.css" />

    <link rel="stylesheet" type="text/css" href="css/tree-control.css">
    <link rel="stylesheet" href="css/select2.css">
    <link rel="stylesheet" href="css/selectize.default.css">
    <!--<link rel="stylesheet" href="css/nv.d3.min.css" />-->
    <link rel="stylesheet" href="css/select.css" />
    <link rel="stylesheet" href="css/dx.common.css">
    <link rel="stylesheet" href="css/dx.light.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <link rel=" stylesheet" href="css/_bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/_bootstrap-datetimepicker.css">
    <!--<link rel="stylesheet" href="js/nv.d3_1.8.6.css">-->


</head>
<body>

    <div id="preloader">
        <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
    </div>

    <!-- leftpanel -->
    <div class="leftpanel" ng-controller="menuCtrl" ng-include="'left-side.html'"> </div>
    <!-- leftpanel -->

    <div class="mainpanel" style="background-color:white">
        <!-- toppanel -->
        <div ng-controller="AccessiCtrl" ng-include="'top-side.html'"></div>
        <!-- toppanel -->
        <!--<div ng-app="DemoApp" ng-controller="DemoController">-->
        <div ng-controller="ProduzionePrioritaCtrl">

            <!--<div class="pageheader">
                <h2><i class="fa fa-list-alt"></i> Produzione <span>{{currentItem.odP}}</span></h2>
            </div>-->
            <div class="contentpanel">
                <div class="row">
                    <div ng-class="IsFullScreenOnEdit ? 'col-md-12' : 'col-md-8'" ng-show="!IsFullScreenOnEdit || (IsFullScreenOnEdit && viewState=='R')">
                        <fieldset ng-disabled="viewState=='U' || viewState=='C'">
                            <div class="panel panel-default" ng-disabled="true">
                                <div class="panel-heading padding10">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <h3 class="panel-title">{{ 'production_Sequence' | translate }}</h3>
                                        </div>
                                        <div class="col-md-2">
                                            <div ng-if="listaAziende.length  > 0">
                                                <select class="form-control chosen-select" chosen ng-change="reload()" ng-model="MainFilter.filterByCompanyId" ng-disabled="MainFilter.disableFilterByCompanyId">
                                                    <option value="">{{ 'registry_DropDownSelectOne_Company' | translate }}</option>
                                                    <option ng-repeat="azienda in listaAziende" value="{{azienda.id}}"
                                                            ng-selected="MainFilter.filterByCompanyId === azienda.id">
                                                        {{azienda.value}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <button type="button" class="btn btn-primary ng-binding" style="width: 100%;" ng-click="savePriority()"><span class="fas fa-save"></span> {{ 'general_Button_Save_Sequence' | translate }}</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div id="gridContainer" dx-data-grid="gridOptions" dx-item-alias="discount">
                                        <div data-options="dxTemplate:{ name:'discountCellTemplate' }" class="ng-hide" ng-show="true">
                                            <div class="chart-cell">
                                                <div dx-bullet="{onIncidentOccurred: null, size: {width: 150, height: 35 }, margin: { top: 5, bottom: 0, left: 5}, showTarget: false, showZeroLevel: true, value: discount.value, startScaleValue: 0, color: '#337ab7', endScaleValue: 100, tooltip: { enabled: true, font: { size: 18 }, paddingTopBottom: 2, customizeTooltip: customizeTooltip, zIndex: 5, } }">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- panel-body -->
                            </div><!-- panel -->
                        </fieldset>
                    </div>
                </div>
            </div>
            <!-- finestre di messaggistica-->
            <div ng-include="'common-messages.html'"></div>
        </div>
        <!-- mainpanel -->
    </div>
    <script src="js/loadAllScript.js"></script>
    <script src=" js/moment.min.js"></script>
    <script src="js/_bootstrap-datepicker.js"></script>
    <script src="js/_bootstrap-datepicker.it.min.js"></script>
    <script src="js/_bootstrap-datetimepicker.js"></script>
    <script src="js/_bootstrap-datetimepicker.it.js"></script>
    <script src="js/jszip.min.js"></script>
    <script src="js/xlsx.js"></script>
    <script src="js/FileSaver.js"></script>
    <script src="app/controllers/accessi/accessi.controller.js"></script>
    <script src="app/controllers/produzione/produzione-priorita.controller.js"></script>
</body>
</html>
<style>
    .fa-flag {
        color: black !important;
    }

    .fa-check {
        color: green !important;
    }

    .fa-exclamation {
        color: red !important;
    }

    .fa-pause {
        color: orange !important;
    }

    .fa-hand-paper {
        color: yellow !important;
    }

    .task-info {
        font-family: Segoe UI;
        min-height: 200px;
        display: flex;
        flex-wrap: nowrap;
        border: 2px solid rgba(0, 0, 0, 0.1);
        padding: 16px;
        box-sizing: border-box;
        align-items: baseline;
        justify-content: space-between;
    }

    #taskSubject {
        line-height: 29px;
        font-size: 18px;
        font-weight: bold;
    }

    #taskDetails {
        line-height: 22px;
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .progress {
        display: flex;
        flex-direction: column;
        white-space: pre;
        min-width: 105px;
    }

    .info {
        margin-right: 40px;
    }

    #taskProgress {
        line-height: 42px;
        font-size: 40px;
        font-weight: bold;
    }

    .options {
        margin-top: 20px;
        padding: 20px;
        background-color: rgba(191, 191, 191, 0.15);
        position: relative;
    }

    .caption {
        font-size: 18px;
        font-weight: 500;
    }

    .option {
        margin-top: 10px;
        margin-right: 40px;
        display: inline-block;
    }

        .option:last-child {
            margin-right: 0;
        }

        .option > .dx-numberbox {
            width: 200px;
            display: inline-block;
            vertical-align: middle;
        }

        .option > span {
            margin-right: 10px;
        }

    .demo-container {
        height: 570px;
    }

    #gridContainer {
        height: 440px;
    }

    .dx-filterbuilder-overlay .dx-scrollable-container {
        max-height: 400px;
    }


    .dx-datagrid .dx-data-row > td.bullet {
        padding-top: 0;
        padding-bottom: 0;
    }






    #gridContainer span.current-value {
        display: inline-block;
        margin-right: 5px;
    }

    #gridContainer span.diff {
        width: 50px;
        display: inline-block;
    }

    #gridContainer .inc {
        fill: #f00;
    }

    #gridContainer .dec {
        fill: #f00;
    }

        #gridContainer .inc .arrow,
        #gridContainer .dec .arrow {
            display: inline-block;
            height: 10px;
            width: 10px;
            background-repeat: no-repeat;
            background-size: 10px 10px;
        }
</style>
