﻿<div class="row">
    <div class="form-group col-md-3" context-menu="myContextDiv">
        <treecontrol class="tree-light"
                     tree-model="dataForTheTree"
                     on-selection="showSelected(node)"
                     expanded-nodes="defaultExpanded" options="treeOptions">
            <span ng-switch="" on="node.isCiclica">
                <span ng-switch-when="-1" class="fa fa-gear" aria-hidden="true"></span>
                <span ng-switch-when="true" class="fa fa-gears" aria-hidden="true"></span>
                <span ng-switch-when="false" class="fa fa-tag" aria-hidden="true"></span>
            </span>
            {{node.numeroFase}} {{node.nome}}
        </treecontrol>
        <div>
            <div class="panel-footer" style="margin-top:40px; text-align: center">
                <label>{{ 'designer_ListBase_Phases_Times' | translate }}</label>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ 'designer_ListBase_Phases_hh' | translate }}
                    <input type="number" ng-disabled=true ng-model="tothh" max="23" min="0" class="form-control" />
                </div>
                <div class="col-md-4">
                    {{ 'designer_ListBase_Phases_mm' | translate }}
                    <input type="number" ng-disabled=true ng-model="totmm" max="59" min="0" class="form-control" />
                </div>
                <div class="col-md-4">
                    {{ 'designer_ListBase_Phases_ss' | translate }}
                    <input type="number" ng-disabled=true ng-model="totss" max="59" min="0" class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <div class="form-group col-md-9" ng-keyup="globalChange()" ng-mouseup="globalChange()" ng-disabled="!$parent.isEnableWrite">
        <div ng-show="isEnabledDettagliFase" style="border-left: solid 1px #3c3b3b">
            <fieldset ng-disabled="true" style="margin:10px">
                <div class="row">
                    <div class="col-md-2">
                        <label>{{ 'designer_ListBase_Phases_NPhase' | translate }}</label>
                        <div>
                            <input type="number" name="numeroFase" class="form-control" min="1" ng-model="$parent.numeroFase" />
                        </div>
                    </div>
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-7">
                        <label>{{ 'designer_ListBase_Phases_Name' | translate }}</label>
                        <div>
                            <input type="text" name="nomeFase" class="form-control" ng-model="$parent.nomeFase" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>{{ 'designer_ListBase_Phases_Desc' | translate }}</label>
                        <div>
                            <input type="text" name="descrizioneFase" class="form-control" ng-model="$parent.descrizioneFase" />
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset ng-disabled="true">
                <div class="panel-body" style="margin-top:10px;">
                    <div id="basicWizard_2" class="basic-wizard">
                        <ul class="nav nav-tabs">
                            <li class="nav-item" ng-repeat="causale in CausaliFase track by causale.id" class="{{causale.id == 0 ? 'active' : ''}}"><a class="nav-link" href="#tab_{{causale.value}}" data-toggle="tab"><span>{{causale.value}}</span></a></li>
                        </ul>
                        <div class="tab-content col-md-12">
                            <div id="tab_{{causale.value}}" ng-repeat="causale in CausaliFase track by causale.id" class="{{causale.id == 0 ? 'tab-pane ng-scope active' : 'tab-pane'}} col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <b>{{ 'designer_ListBase_Phases_Man' | translate }}</b>
                                    </div>
                                    <div class="col-md-6">
                                        <b>{{ 'designer_ListBase_Phases_Machine' | translate }}</b>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        {{ 'designer_ListBase_Phases_Competence' | translate }}
                                        <select class="form-control chosen-select" chosen ng-disabled="linkedFase || !$parent.isEnableWrite"
                                                ng-model="modelsSelCompetenzaOperatore[causale.id]" id="sel_competenzaOperatore_{{causale.id}}">
                                            <option value="">{{ 'designer_ListBase_Phases_Select' | translate }}</option>
                                            <option ng-repeat="competenza in CompetenzeOperatori" value="{{competenza.id}}"
                                                    ng-selected="modelsSelCompetenzaOperatore[causale.id] === competenza.id">
                                                {{competenza.nome}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        {{ 'designer_ListBase_Phases_Machine2' | translate }}
                                        <select class="form-control chosen-select" chosen ng-change="selectionMacchine(causale.id,$parent.numeroFase)"
                                                ng-model="modelsSelMacchine[causale.id]" ng-disabled="!isEnabledMacchinaSelection[causale.id] || linkedFase || !$parent.isEnableWrite" id="sel_macchina_{{causale.id}}">
                                            <option value="-1">{{ 'designer_ListBase_Phases_Select' | translate }}</option>
                                            <option ng-repeat="macchina in Macchine" value="{{macchina.id}}"
                                                    ng-selected="modelsSelMacchine[causale.id] === macchina.id">
                                                {{macchina.nome}}
                                            </option>
                                        </select>
                                        {{ 'designer_ListBase_Phases_CompetenceMachine' | translate }}
                                        <select class="form-control chosen-select" chosen ng-change="selectionCompetenzaMacchine(causale.id)" id="sel_competenzaMacchina_{{causale.id}}"
                                                ng-model="modelsSelCompetenzaMacchine[causale.id]" ng-disabled="!isEnabledcompentenzaMacchineSelection[causale.id]  || linkedFase || !$parent.isEnableWrite">
                                            <option value="-1">{{ 'designer_ListBase_Phases_Select' | translate }}</option>
                                            <option ng-repeat="competenzaMacchine in CompetenzeMacchine" value="{{competenzaMacchine.id}}"
                                                    ng-selected="currentItem.competenza.id === competenzaMacchine.id">
                                                {{competenzaMacchine.nome}}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <div style="margin-top:5px;"></div>
                                        <i class="fas fa-level-up" aria-hidden="true"></i> <b>{{'production_SingleCycleTime' | translate }}</b>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:10px">
                                    <div class="col-md-2">
                                        {{ 'designer_ListBase_Phases_hh' | translate }}
                                        <input type="number" id="oreUomo_{{causale.id}}" ng-disabled="linkedFase" ng-model="modelsOreUomo[causale.id]" max="23" min="0" class="form-control" />
                                    </div>
                                    <div class="col-md-2">
                                        {{ 'designer_ListBase_Phases_mm' | translate }}
                                        <input type="number" name="minutiUomo_{{causale.id}}" ng-disabled="linkedFase" id="minutiUomo_{{causale.id}}" ng-model="modelsMinutiUomo[causale.id]" max="59" min="0" class="form-control" />
                                    </div>
                                    <div class="col-md-2">
                                        {{ 'designer_ListBase_Phases_ss' | translate }}
                                        <input type="number" name="secondiUomo_{{causale.id}}" ng-disabled="linkedFase" id="secondiUomo_{{causale.id}}" ng-model="modelsSecondiUomo[causale.id]" max="59" min="0" class="form-control" />
                                    </div>
                                    <div class="col-md-2">
                                        {{ 'designer_ListBase_Phases_hh' | translate }}
                                        <input type="number" id="oreMacchina_{{causale.id}}" max="23" min="0" ng-model="modelsOreMacchina[causale.id]" class="form-control" ng-disabled="linkedFase" />
                                    </div>
                                    <div class="col-md-2">
                                        {{ 'designer_ListBase_Phases_mm' | translate }}
                                        <input type="number" id="minutiMacchina_{{causale.id}}" max="59" min="0" ng-model="modelsMinutiMacchina[causale.id]" class="form-control" ng-disabled="linkedFase" />
                                    </div>
                                    <div class="col-md-2">
                                        {{ 'designer_ListBase_Phases_ss' | translate }}
                                        <input type="number" id="secondiMacchina_{{causale.id}}" max="59" min="0" ng-model="modelsSecondiMacchina[causale.id]" class="form-control" ng-disabled="linkedFase" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div>
                                        <div style="margin-top:10px"><i class="fa fa-retweet" aria-hidden="true"></i> <b>{{'production_TheoreticalProductionTime' | translate }}</b></div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:15px">
                                    <div class="col-md-2">
                                        {{ 'designer_ListBase_Phases_hh' | translate }}
                                        <input type="number" id="oreUomoTotale_{{causale.id}}" ng-disabled="linkedFase" ng-model="modelsOreUomoTotale[causale.id]" max="23" min="0" class="form-control" />
                                    </div>
                                    <div class="col-md-2">
                                        {{ 'designer_ListBase_Phases_mm' | translate }}
                                        <input type="number" name="minutiUomoTotale_{{causale.id}}" ng-disabled="linkedFase" id="minutiUomo_{{causale.id}}" ng-model="modelsMinutiUomoTotale[causale.id]" max="59" min="0" class="form-control" />
                                    </div>
                                    <div class="col-md-2">
                                        {{ 'designer_ListBase_Phases_ss' | translate }}
                                        <input type="number" name="secondiUomoTotale_{{causale.id}}" ng-disabled="linkedFase" id="secondiUomo_{{causale.id}}" ng-model="modelsSecondiUomoTotale[causale.id]" max="59" min="0" class="form-control" />
                                    </div>
                                    <div class="col-md-2">
                                        {{ 'designer_ListBase_Phases_hh' | translate }}
                                        <input type="number" id="oreMacchinaTotale_{{causale.id}}" max="23" min="0" ng-model="modelsOreMacchinaTotale[causale.id]" class="form-control" ng-disabled="linkedFase" />
                                    </div>
                                    <div class="col-md-2">
                                        {{ 'designer_ListBase_Phases_mm' | translate }}
                                        <input type="number" id="minutiMacchinaTotale_{{causale.id}}" max="59" min="0" ng-model="modelsMinutiMacchinaTotale[causale.id]" class="form-control" ng-disabled="linkedFase" />
                                    </div>
                                    <div class="col-md-2">
                                        {{ 'designer_ListBase_Phases_ss' | translate }}
                                        <input type="number" id="secondiMacchinaTotale_{{causale.id}}" max="59" min="0" ng-model="modelsSecondiMacchinaTotale[causale.id]" class="form-control" ng-disabled="linkedFase" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <!-- Modal -->
            <div class="modal fade" id="modalConfirmDeleteFase" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">{{ 'general_General_Label_Conf_Delete' | translate }}</h4>
                        </div>
                        <div class="modal-body">
                            {{ 'general_General_Label_Alert' | translate }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'general_General_Button_No' | translate }}</button>
                            <button type="button" class="btn btn-primary" ng-click="deleteFase()">{{ 'general_General_Button_Ok' | translate }}</button>
                        </div>
                    </div><!-- modal-content -->
                </div><!-- modal-dialog -->
            </div><!-- modal -->
        </div>
    </div>
</div>

<style>
    #contextmenu-node {
        position: absolute;
        background-color: white;
        border: solid #CCCCCC 1px;
    }

    .contextmenu-item {
        margin: 0.5em;
        padding-left: 0.5em;
    }

        .contextmenu-item:hover {
            background-color: #CCCCCC;
            cursor: default;
        }
</style>
