﻿<div class="row">

    <div class="panel panel-default">

        <!--<div id="tab_{{causale.value}}" ng-repeat="causale in CausaliFase track by causale.id" class="{{causale.id == 0 ? 'tab-pane ng-scope active' : 'tab-pane'}}">-->
        <fieldset ng-disabled="true">

            <div class="col-md-5">
                <b>Tempi Teorici</b>
            </div>
            <div class="col-md-5">
                <b>Tempi Effettivi</b>
            </div>

            <div class="form-group col-md-5" style="border: 1px solid gray; padding:5px; margin:5px">
                [Uomo]
                <div class="row">
                    <div class="col-md-3">
                        HH
                        <input type="number" id="oreUomo_{{causale.id}}" ng-disabled="linkedFase" ng-model="oreUomo" max="23" min="0" class="form-control" />
                    </div>
                    <div class="col-md-3">
                        mm
                        <input type="number" ng-disabled="linkedFase" id="minutiUomo_{{causale.id}}" ng-model="minutiUomo" max="59" min="0" class="form-control" />
                    </div>
                    <div class="col-md-3">
                        ss
                        <input type="number" ng-disabled="linkedFase" id="secondiUomo_{{causale.id}}" ng-model="secondiUomo" max="59" min="0" class="form-control" />
                    </div>
                </div>
                [Macchina]
                <div class="row">
                    <div class="col-md-3">
                        HH
                        <input type="number" id="oreUomo_{{causale.id}}" ng-disabled="linkedFase" ng-model="oreMacchina" max="23" min="0" class="form-control" />
                    </div>
                    <div class="col-md-3">
                        mm
                        <input type="number" ng-disabled="linkedFase" id="minutiUomo_{{causale.id}}" ng-model="minutiMacchina" max="59" min="0" class="form-control" />
                    </div>
                    <div class="col-md-3">
                        ss
                        <input type="number" ng-disabled="linkedFase" id="secondiUomo_{{causale.id}}" ng-model="secondiMacchina" max="59" min="0" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="form-group col-md-5" style="border: 1px solid gray; padding:5px; margin:5px">
                [Uomo]
                <div class="row">
                    <div class="col-md-3">
                        HH
                        <input type="number" id="oreMacchina_{{causale.id}}" max="23" min="0" ng-model="oreUomoR" class="form-control" ng-disabled="linkedFase" />
                    </div>
                    <div class="col-md-3">
                        mm
                        <input type="number" id="minutiMacchina_{{causale.id}}" max="59" min="0" ng-model="minutiUomoR" class="form-control" ng-disabled="linkedFase" />
                    </div>
                    <div class="col-md-3">
                        ss
                        <input type="number" id="secondiMacchina_{{causale.id}}" max="59" min="0" ng-model="secondiUomoR" class="form-control" ng-disabled="linkedFase" />
                    </div>
                </div>

                [Macchina]
                <div class="row">
                    <div class="col-md-3">
                        HH
                        <input type="number" id="oreUomo_{{causale.id}}" ng-disabled="linkedFase" ng-model="oreMacchinaR" max="23" min="0" class="form-control" />
                    </div>
                    <div class="col-md-3">
                        mm
                        <input type="number" ng-disabled="linkedFase" id="minutiUomo_{{causale.id}}" ng-model="minutiMacchinaR" max="59" min="0" class="form-control" />
                    </div>
                    <div class="col-md-3">
                        ss
                        <input type="number" ng-disabled="linkedFase" id="secondiUomo_{{causale.id}}" ng-model="secondiMacchinaR" max="59" min="0" class="form-control" />
                    </div>
                </div>
            </div>


            <div class="col-md-5">
                <b>Tempo Warning</b>
            </div>
            <div class="col-md-5">
                <b>Tempo Allarme</b>
            </div>

            <div class="form-group col-md-5" style="border: 1px solid gray; padding:5px; margin:5px; background-color:#f0f0f0">
                <div class="row">
                    <div class="col-md-3">
                        HH
                        <input type="number" id="oreUomo_{{causale.id}}" ng-disabled="linkedFase" ng-model="modelsOreUomo[causale.id]" max="23" min="0" class="form-control" />
                    </div>
                    <div class="col-md-3">
                        mm
                        <input type="number" name="minutiUomo_{{causale.id}}" ng-disabled="linkedFase" id="minutiUomo_{{causale.id}}" ng-model="modelsMinutiUomo[causale.id]" max="59" min="0" class="form-control" />
                    </div>
                    <div class="col-md-3">
                        ss
                        <input type="number" name="secondiUomo_{{causale.id}}" ng-disabled="linkedFase" id="secondiUomo_{{causale.id}}" ng-model="modelsSecondiUomo[causale.id]" max="59" min="0" class="form-control" />
                    </div>
                    <div class="col-md-3">
                        N° eventi
                        <input type="number" name="secondiUomo_{{causale.id}}" ng-disabled="linkedFase" id="secondiUomo_{{causale.id}}" ng-model="modelsSecondiUomo[causale.id]" max="59" min="0" class="form-control" />
                    </div>
                </div>
            </div>

            <br />

            <div class="form-group col-md-5" style="border: 1px solid gray; padding:5px; margin:5px; background-color:#f0f0f0">
                <div class="row">
                    <div class="col-md-3">
                        HH
                        <input type="number" id="oreUomo_{{causale.id}}" ng-disabled="linkedFase" ng-model="modelsOreUomo[causale.id]" max="23" min="0" class="form-control" />
                    </div>
                    <div class="col-md-3">
                        mm
                        <input type="number" name="minutiUomo_{{causale.id}}" ng-disabled="linkedFase" id="minutiUomo_{{causale.id}}" ng-model="modelsMinutiUomo[causale.id]" max="59" min="0" class="form-control" />
                    </div>
                    <div class="col-md-3">
                        ss
                        <input type="number" name="secondiUomo_{{causale.id}}" ng-disabled="linkedFase" id="secondiUomo_{{causale.id}}" ng-model="modelsSecondiUomo[causale.id]" max="59" min="0" class="form-control" />
                    </div>
                    <div class="col-md-3">
                        N° eventi
                        <input type="number" name="secondiUomo_{{causale.id}}" ng-disabled="linkedFase" id="secondiUomo_{{causale.id}}" ng-model="modelsSecondiUomo[causale.id]" max="59" min="0" class="form-control" />
                    </div>
                </div>
            </div>

            </fieldset>
            <!--</div>-->


</div><!-- panel -->
</div>


<script>
    //https://uxsolutions.github.io/bootstrap-datepicker/?markup=input&format=&weekStart=&startDate=&endDate=&startView=0&minViewMode=0&maxViewMode=4&todayBtn=false&clearBtn=true&language=it&orientation=auto&multidate=&multidateSeparator=&autoclose=on&keyboardNavigation=on&forceParse=on&toggleActive=on#sandbox
    //https://media.readthedocs.org/pdf/bootstrap-datepicker/latest/bootstrap-datepicker.pdf
    $('#dp-container .date').datepicker({
        clearBtn: true,
        language: "it",
        autoclose: true,
        toggleActive: true,
        //daysOfWeekDisabled: "6,7",
        todayHighlight: true,
    });



    //https://www.malot.fr/bootstrap-datetimepicker/demo.php?utm_source=siteweb&utm_medium=demo&utm_campaign=Site%2BWeb
    //https://www.malot.fr/bootstrap-datetimepicker/
    $(".form_datetime").datetimepicker({
        format: "dd/mm/yyyy hh:ii",
        autoclose: true,
        todayBtn: true,
        startDate: "2017-01-01 00:00",
        minuteStep: 10,
        language: "it",
        toggleActive: true,
        //daysOfWeekDisabled: "6,7",
        todayHighlight: true,
    });



    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var ch = (evt.which) ? evt.which : evt.keyCode;
        if ((ch > 31 && ch < 45) || ch == 47 || ch > 57) {
            return false;
        }
        return true;
    }

</script>

