﻿
<div class="row" style="background-color: #f1f1f1;" ng-show="currentItem.stato != null && currentItem.stato !=='inModifica' && currentItem.stato !== 'inAttesa' ">
    <div class="col-md-2">
        <div class="tab">
            <button class="tablinks" onclick="openTab2(event, 'analisiFermiRiepilogo')" id="defaultOpenFermi"><i class="fas fa-chart-bar fa-2x" style="margin-right:5px"></i>{{ 'production_SummaryChart' | translate }}</button>
            <button class="tablinks" onclick="openTab2(event, 'analisiFermiElenco')"><i class="fas fa-table fa-2x" style="margin-right:5px"></i> {{ 'production_SummaryData' | translate }}</button>
        </div>
    </div>

    <div class="col-md-10" style="background-color: white">
        <div id="analisiFermiRiepilogo" class="tabcontent col-md-12">
            <h3>Riepilogo Fermi</h3>
            <div class="row">
                <div class="col-md-7">
                    <h5 class="subtitle mb5"> {{ 'production_Histogram' | translate }}</h5>
                    <div class="dx-viewport">
                        <div id="istogrammaFermi" dx-chart="istogrammaFermi"></div>
                    </div>
                </div>
                <div class="col-md-5">
                    <h5 class="subtitle mb5">{{ 'production_NumberStop' | translate }}</h5>
                    <div class="col-md-4" id="pieFermi" dx-pie-chart="pieFermi"></div>
                </div><!-- col-sm-6 -->
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div style="float:right;">
                        <div style="float:right; margin-bottom:10px" excel-export export-data="exportDataSummaryFermi" file-name="{{fileNameSummary}}"></div>
                    </div>
                    <div class="table-responsive" ng-if="(fermiSummary)">
                        <table class="table" id="mainTable2" datatable="ng" dt-options="dtOptions2" dt-columns="dtColumns" dt-instance="dtInstance2">
                            <thead>
                                <tr>
                                    <th>{{ 'production_CausalStop' | translate }}</th>
                                    <th>{{ 'production_NumbersStop' | translate }}</th>
                                    <th>{{ 'production_TotalDurationStop' | translate }}</th>
                                    <th>{{ 'production_PercentageStop' | translate }}</th>
                                </tr>
                            </thead>
                            <tbody style="font-size:20px;">
                                <tr ng-repeat="item in fermiSummary ">
                                    <td>{{ item.nomeCausale }}</td>
                                    <td>{{ item.totaleFermi }}</td>
                                    <td>
                                        <i ng-show=" item.totaleTempo.day===1"> {{item.totaleTempo.day}} {{ 'production_day' | translate }}  </i>
                                        <i ng-show="item.totaleTempo.day>1"> {{item.totaleTempo.day}} {{ 'production_days' | translate }}</i>
                                        <i ng-show=" item.totaleTempo.hh===1"> {{item.totaleTempo.hh}} {{ 'production_hour' | translate }} </i>
                                        <i ng-show="item.totaleTempo.hh>1"> {{item.totaleTempo.hh}} {{ 'production_hours' | translate }} </i>
                                        <i ng-show="item.totaleTempo.mm===1"> {{item.totaleTempo.mm}} {{ 'production_minute' | translate }}</i>
                                        <i ng-show="item.totaleTempo.mm>1"> {{item.totaleTempo.mm}} {{ 'production_minutes' | translate }}</i>
                                        <i ng-show="item.totaleTempo.mm<1"> {{item.totaleTempo.ss}} {{ 'production_seconds' | translate }} </i>
                                        <!--{{ item.totaleTempo.day }} Giorni {{ item.totaleTempo.hh }} Ore {{ item.totaleTempo.mm }} Minuti {{ item.totaleTempo.ss }} Secondi-->
                                    </td>
                                    <td>{{ item.percentuale }} %</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div id="analisiFermiElenco" class="tabcontent">
            <h3>Elenco Fermi</h3>
            <div class="col-sm-12">
                <div class="row" style="padding-bottom:10px;padding-right:10px;float:right;">
                    <div style="float:right;" excel-export export-data="exportDataFermi" file-name="{{fileNameDataFermi}}"></div>
                </div>
                <div class="table-responsive" ng-if="(currentItem.fermi)">
                    <table class="table" id="mainTable3" datatable="ng" dt-options="dtOptions3" dt-columns="dtColumns" dt-instance="dtInstance3">
                        <thead>
                            <tr>
                                <!--<th>{{ 'production_Odp' | translate }}</th>-->
                                <th>{{ 'production_phase' | translate }}</th>
                                <th>{{ 'registry_workshift_start' | translate }}</th>
                                <th>{{ 'registry_workshift_stop' | translate }}</th>
                                <th>{{ 'tables_RestartCause_Cause' | translate }}</th>
                                <th>{{ 'production_Analysis_userLocked' | translate }}</th>
                                <th>{{ 'production_Analysis_userUnLocked' | translate }}</th>
                                <th>{{ 'production_Analysis_duration' | translate }}</th>
                                <th>{{ 'production_Workshift' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody style="font-size:15px;">
                            <tr ng-repeat="item in currentItem.fermi">
                                <!--<td>{{ currentItem.odP }}</td>-->
                                <td>{{ currentItem.fasi[item.numeroFase-1].distintaBaseFase.nome }}</td>
                                <td>{{ item.inizio | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                                <td>{{ item.fine | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                                <td>{{ item.causaliRiavvio.item.causale }}</td>
                                <td>{{ item.userLocked }}</td>
                                <td>{{ item.userUnLocked }}</td>
                                <!--<td>{{ item.totaleTempo }}</td>-->
                                <td>{{ item.timeToString }}</td>
                                <td>{{ item.turno.codice}}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    

</div>
<div ng-show="currentItem.stato == null || currentItem.stato =='inModifica' || currentItem.stato =='inAttesa' ">
    <h4>Attenzione dati non disponibili, ordine non avviato</h4>
</div>




<style>
    * {
        box-sizing: border-box
    }

    body {
        font-family: "Lato", sans-serif;
    }

    /* Style the tab */
    .tab {
        /*float: left;*/
        border-bottom: 1px solid #ccc;
        background-color: #f1f1f1;
        /*width: 30%;
            height: 600px;*/
    }

        /* Style the buttons inside the tab */
        .tab button {
            display: block;
            background-color: inherit;
            color: black;
            padding: 20px 36px;
            width: 100%;
            border: none;
            outline: none;
            text-align: left;
            cursor: pointer;
            transition: 0.3s;
            font-size: 13px;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #ddd;
            }

            /* Create an active/current "tab button" class */
            .tab button.active {
                background-color: #ccc;
            }

    /* Style the tab content */
    .tabcontent {
        float: left;
        padding: 0px 12px;
        border-left: 1px solid #ccc;
        /*width: 70%;*/
        /*height: 600px;*/
    }

    .rectangle {
        stroke: #000000;
        stroke-width: 2;
        fill: rgba(0,0,0,0);
        stroke-dasharray: 5;
    }
</style>
<script>
    function openTab2(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }
    $(document).ready(function () {
        document.getElementById("defaultOpenFermi").click();
    });


</script>