﻿
<div class="row" style="background-color: #f1f1f1;" ng-show="currentItem.stato != null && currentItem.stato !=='inModifica' && currentItem.stato !== 'inAttesa' ">
    <div class="col-md-2">
        <div class="tab">
            <button class="tablinks" onclick="openTab3(event, 'RiepilogoScarti')" id="defaultOpenScarti"><i class="fas fa-chart-bar fa-2x" style="margin-right:5px"></i> {{ 'production_SummaryChart' | translate }} </button>
            <button class="tablinks" onclick="openTab3(event, 'Scarti')"><i class="fas fa-table fa-2x" style="margin-right:5px"></i> {{ 'production_SummaryData' | translate }} </button>
        </div>
    </div>

    <div class="col-md-10" style="background-color: white">

        <div id="RiepilogoScarti" class="tabcontent" selected style="height:auto; width: 100%;">

            <h3>{{ 'production_Summary' | translate }} </h3>
            <div class="row">
                <div class="col-md-12">
                    <h5 class="subtitle mb5">{{ 'production_NumberScrap' | translate }}</h5>
                    <div class="col-md-4" id="pieScarti" dx-pie-chart="pieScarti"></div>
                </div><!-- col-sm-6 -->

            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div ng-if="(currentItem.eventi)" class="table-responsive">
                        <table ng-if="(currentItem.eventi)" class="table" id="mainTable4" datatable="ng" dt-options="dtOptions4" dt-columns="dtColumns" dt-instance="dtInstance4">
                            <thead>
                                <tr>
                                    <th>{{ 'production_ScrapJustify' | translate }}</th>
                                    <th>{{ 'production_Quantita' | translate }}</th>
                                </tr>
                            </thead>
                            <tbody style="font-size:20px;">
                                <tr ng-repeat="item in scartiSummary ">
                                    <td>{{ item.codiceCausale }}</td>
                                    <td>{{ item.totaleScarti }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <div id="Scarti" class="tabcontent" style="height:auto; width: 100%;">
            <h3>{{ 'production_SummaryScrap' | translate }}</h3>
            <div class="col-sm-12">
                <div class="row" style="padding-bottom:10px;padding-right:10px;">
                    <!--<div style="float:right;" excel-export export-data="exportDataFermi" file-name="{{fileNameDataFermi}}"></div>-->
                </div>
                <div ng-if="(currentItem.eventi)" class="table-responsive">

                    <table  ng-if="(currentItem.eventi)" class="table" id="mainTable5" datatable="ng" dt-options="dtOptions5" dt-columns="dtColumns" dt-instance="dtInstance5">
                        <thead>
                            <tr>


                                <th>{{ 'production_TimeEvent' | translate }} </th>
                                <th>{{ 'production_MachineScrap' | translate }}</th>
                                <th>{{ 'production_Justify' | translate }}</th>
                                <th>{{ 'production_UserScarp' | translate }}</th>
                                <th>{{ 'production_ValueScrap' | translate }}</th>
                                <th>{{ 'production_Workshift' | translate }}</th>
                                <!--<th>{{ 'production_UnitScrap' | translate }}</th>-->
                              

                            </tr>
                        </thead>
                        <tbody style="font-size:15px;">
                            <tr ng-repeat="item in currentItem.eventi">

                                <td>{{ item.oraEvento.toLocaleString() | date: 'dd/MM/yyyy hh:mm:ss'}}</td>
                                <td>{{ item.macchina.item.nome}}</td>
                                <td>{{ item.tipoValore.item.descrizione}}</td>
                                <td ng-if="item.operatore.item.username.length">{{ item.operatore.item.username }}</td>
                                <td ng-if="!item.operatore.item.username.length">{{ item.macchina.item.nome}}</td>
                                <!--<td>{{ item.fase.numeroFase }}</td>-->
                                <td>{{ item.valore}}</td>
                                <td>{{ item.turno.codice}}</td>
                                <!--<td>{{ item.unitaDiMisura.item.nome}}</td>-->

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="ScartiDaGiustificare" class="tabcontent" style="height:auto; width: 100%;">
            <h3>Elenco Scarti Giustificati</h3>
            <div class="col-sm-12">
                <div class="row" style="padding-bottom:10px;padding-right:10px;">
                    Bottone Add
                </div>
                <div class="table-responsive">

                    <table class="table" id="mainTable3" datatable="ng" dt-options="dtOptions3" dt-columns="dtColumns" dt-instance="dtInstance3">
                        <thead>
                            <tr>

                                <!--<th>{{ 'production_Odp' | translate }}</th>-->
                                <th>{{ 'production_phase' | translate }}</th>
                                <th>{{ 'registry_workshift_start' | translate }}</th>
                                <th>{{ 'registry_workshift_stop' | translate }}</th>
                                <th>{{ 'tables_RestartCause_Cause' | translate }}</th>
                                <th>{{ 'production_Analysis_userLocked' | translate }}</th>
                                <th>{{ 'production_Analysis_userUnLocked' | translate }}</th>
                                <th>{{ 'production_Analysis_duration' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody style="font-size:15px;">
                            <tr ng-repeat="item in currentItem.fermi">
                                <!--<td>{{ currentItem.odP }}</td>-->
                                <td>{{ currentItem.fasi[item.numeroFase-1].distintaBaseFase.nome }}</td>
                                <td>{{ item.inizio | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                                <td>{{ item.fine | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                                <td>{{ item.causaliRiavvio.item.causale }}</td>
                                <td>{{ item.userLocked }}</td>
                                <td>{{ item.userUnLocked }}</td>
                                <!--<td>{{ item.totaleTempo }}</td>-->
                                <td>{{ item.timeToString }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


</div>
<div ng-show="currentItem.stato == null || currentItem.stato =='inModifica' || currentItem.stato =='inAttesa' ">
    <h4>Attenzione dati non disponibili, ordine non avviato</h4>
</div>
<!--<div ng-show="currentItem.stato == 2">
    <h4>Attenzione dati non disponibili, ordine non avviato</h4>
</div>-->



<!--<style>
    * {
        box-sizing: border-box
    }

    body {
        font-family: "Lato", sans-serif;
    }

    /* Style the tab */
    .tab {
        /*float: left;*/
        border-bottom: 1px solid #ccc;
        background-color: #f1f1f1;
        /*width: 30%;
            height: 600px;*/
    }

        /* Style the buttons inside the tab */
        .tab button {
            display: block;
            background-color: inherit;
            color: black;
            padding: 20px 36px;
            width: 100%;
            border: none;
            outline: none;
            text-align: left;
            cursor: pointer;
            transition: 0.3s;
            font-size: 13px;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #ddd;
            }

            /* Create an active/current "tab button" class */
            .tab button.active {
                background-color: #ccc;
            }

    /* Style the tab content */
    .tabcontent {
        float: left;
        padding: 0px 12px;
        border-left: 1px solid #ccc;
        /*width: 70%;*/
        /*height: 600px;*/
    }

    .rectangle {
        stroke: #000000;
        stroke-width: 2;
        fill: rgba(0,0,0,0);
        stroke-dasharray: 5;
    }
</style>-->
<script>
    function openTab3(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }
    document.getElementById("defaultOpenScarti").click();
</script>
<style>
    .notification {
        background-color: #555;
        color: white;
        text-decoration: none;
        padding: 15px 26px;
        position: relative;
        display: inline-block;
        border-radius: 2px;
    }

        .notification:hover {
            background: red;
        }

        .notification .badge {
            position: absolute;
            top: -10px;
            right: -10px;
            padding: 5px 10px;
            border-radius: 50%;
            background: red;
            color: white;
        }
</style>