﻿<div class="row" style="background-color: #f1f1f1;" ng-show="currentItem.stato != null && currentItem.stato !=='inModifica' && currentItem.stato !== 'inAttesa' ">
    <div class="col-md-2">
        <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'analisiFasiRiepilogo')" ng-click="refreshGrafici()" id="defaultOpenFasiRiepilogo"><i class="fas fa-chart-bar fa-2x" style="margin-right:5px"></i>{{ 'production_SummaryChart' | translate }}</button>
            <button class="tablinks" onclick="openTab(event, 'analisiFasiElenco')"><i class="fas fa-table fa-2x" style="margin-right:5px"></i> {{ 'production_SummaryData' | translate }}</button>
        </div>
    </div>
    <div class="col-md-10" style="background-color: white">
        <div id="analisiFasiRiepilogo" class="tabcontent">
            <h3>Riepilogo grafico</h3>
            <div class="dx-viewport">
                <div class="row" style="margin-bottom:10px">
                    <input class="col-md-2" type="datetime-local" id="filtroDal"  ng-model="filtroDal"/>
                    <div class="text-center" style="margin-right: 5px;margin-left: 5px;margin-bottom: auto;margin-top: auto;">{{ 'production_To' | translate }}</div>
                    <!--<div class="col-md-1 text-center" style="margin: auto;">al</div>-->
                    <input class="col-md-2" type="datetime-local" id="filtroAl"  ng-model="filtroAl"/>
                    <select class="form-control col-md-2" id="macchina" style="margin-left:5px"  ng-model="macchina">
                        <!--listaMacchineBatch-->
                        <option value="">{{ 'production_ItemStandardMachine' | translate }}</option>
                        <option ng-repeat="macchina in listaMacchineBatch" value="{{macchina.id}}">{{macchina.nome}}</option>
                    </select>
                    <select class="form-control col-md-2" id="turno" style="margin-left:5px" ng-model="turno">
                        <option value="">{{ 'production_ItemStandardShift' | translate }}</option>
                        <option ng-repeat="turno in listaTurniBatch" value="{{turno.id}}">{{turno.codice}}</option>
                    </select>
                    <!--<div class="col-md-2"></div>-->
                    <!-- 17a2b8 -->
                    <button type="button" class="btn btn-info col-md-1 float-rigth" style="margin-left:5px" ng-click="filtredDatiGrafici()">{{ 'production_Filter' | translate }}</button>
                </div>
                <div class="row">
                    <div class="col-md-8" id="grigliaLavorazione" dx-data-grid="grigliaLavorazione"></div>
                    <div class="col-md-4" id="chart_istogramma_fasi_raggruppamenti" dx-chart="chart_istogramma_fasi_raggruppamenti" style=""></div>
                </div>
                <div class="row">
                    <div class="col-md-12" id="chart_fasi_tempi" dx-chart="chart_fasi_tempi"></div>
                </div>
                <div class="d-flex justify-content-center">
                    <div style="float: left;padding:15px">{{ 'production_LabelWork' | translate }}<br><div style="float: left;margin:5px;background-color:#97c95c;width:12px;height:12px;align-content:center"></div></div>
                    <div style="float: left;padding:15px">{{ 'production_LabelAllarm' | translate }}<br><div style="float: left;margin:5px;background-color:#f5564a;width:12px;height:12px"></div></div>
                    <div style="float: left;padding:15px">{{ 'production_LabelPause' | translate }}<br><div style="float: left;margin:5px;background-color:#ffc720;width:12px;height:12px"></div></div>
                </div>
            </div>
        </div>
        <div id="analisiFasiElenco" class="tabcontent">
            <h3>Riepilogo dati</h3>
            <select class="form-control col-md-2" ng-change="updateFase(faseSelezionata)"  ng-model="faseSelezionata">
                <option value="null" selected="selected">Elenco fasi</option>
                <option ng-repeat="fase in listFasi"  value="{{fase}}">{{fase.nome}}</option>
            </select>
            <div class="row">
                <!--<div class="col-md-2" ng-show="currentItem.stato != null">
            <table class="table-hover table-bordered" id="mytable" style="width: auto">
                <tbody>
                    <treecontrol class="tree-light"
                                    tree-model="dataForTheTree"
                                    options="treeOptions"
                                    on-selection="AnalisiPhaseRowSelected(node)"
                                    expanded-nodes="expandedNodes_1">
                        <span ng-switch="" on="node.isCiclica">
                            <span ng-switch-when="-1" class="fa fa-gear" aria-hidden="true"></span>
                            <span ng-switch-when="true" class="fa fa-gears" aria-hidden="true"></span>
                            <span ng-switch-when="false" class="fa fa-tag" aria-hidden="true"></span>
                        </span>
                        {{node.numeroFase}} {{node.nome}}
                    </treecontrol>
                </tbody>
            </table>
        </div>-->

                <div class="col-md-12" style="border-top: solid 1px #3c3b3b;margin-top:20px">

                    <div class="col-md-12" style="margin-top:10px">
                        <div style="float:left;"><h4>{{ 'production_Events' | translate }} <b>{{AnalisiPhaseSelected.name}}</b></h4></div>
                        <div style="float:left;margin-left:20px;"><h4>{{ 'production_piecesProduced' | translate }}: <b>{{currentItem.pezziDaProdurre}}</b></h4></div>
                        <div style="float:left;margin-left:20px;"><h4>{{ 'production_plannedPieces' | translate }}: <b>{{currentItem.pezziProdotti}}</b></h4></div>
                        <div style="float:right;" excel-export export-data="exportData" file-name="{{fileName}}"></div>
                    </div>
                    <div class="table-responsive">
                        <table class="table" id="evmainTable" datatable="ng" dt-options="pdtOptions" dt-columns="dtColumns" dt-instance="pdtInstance">
                            <thead>
                                <tr>

                                    <th>{{ 'production_phase' | translate }}</th>
                                    <th>{{ 'production_Action' | translate }}</th>
                                    <th>{{ 'production_Start' | translate }}</th>
                                    <th>{{ 'production_Stop' | translate }}</th>
                                    <th>{{ 'production_DurationMin' | translate }}</th>
                                    <th>{{ 'production_Duration' | translate }}</th>
                                    <th>{{ 'production_MachineScrap' | translate }}</th>
                                    <th>{{ 'registry_Service_Operator' | translate }}</th>
                                    <th>{{ 'registry_Workshift' | translate }}</th>
                                    <th>{{ 'registry_Service_NoteService' | translate }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="{{ pitem.id }}" ng-repeat="pitem in AnalisiData" ng-click="evshowItemDetail(pitem)"
                                    ng-class="{'selected': evcurrentItem.numeroFase === pitem.numeroFase}">

                                    <td>{{ pitem.codiceFase}} ({{ pitem.numeroFase }}) </td>
                                    <td ng-if="pitem.stato=='inLavorazione'">{{ 'production_StateStart' | translate }}</td>
                                    <td ng-if="pitem.stato=='inLavorazioneInPausa'">{{ 'production_StateStop' | translate }}</td>
                                    <td ng-if="pitem.stato=='inLavorazioneInEmergenza'">{{ 'production_StateAllarm' | translate }}</td>
                                    <td ng-if="pitem.stato=='terminato'">{{ 'production_StateClose' | translate }}</td>

                                    <td>{{ dFormat(pitem.inizio,pitem.nota) }}</td>
                                    <td>{{ dFormat(pitem.fine,pitem.nota) }}</td>
                                    <td>{{ getDurataMin(getDurataSec(pitem.inizio,pitem.fine)) }}</td>
                                    <td>{{ getDurataFormattata(getDurataSec(pitem.inizio,pitem.fine)) }}</td>
                                    <td>{{ pitem.batchFaseMacchina.macchina.nome }}</td>
                                    <td>{{ pitem.batchFaseManoDopera.operatore.nome }} {{ pitem.batchFaseManoDopera.operatore.cognome }}</td>
                                    <td>{{ pitem.turno.codice }}</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </div>
<div ng-show="currentItem.stato == null || currentItem.stato =='inModifica' || currentItem.stato =='inAttesa' ">
    <h4>Attenzione dati non disponibili, ordine non avviato</h4>
</div>

<script src="js/jszip.min.js"></script>
<script src="js/xlsx.js"></script>
<script src="js/FileSaver.js"></script>


<style>
    .exportExcel {
        padding: 5px;
        border: 1px solid grey;
        margin: 5px;
        cursor: pointer;
    }

    #mytable tbody span.title {
        font-size: 120%;
        cursor: pointer;
        line-height: 30px;
        font-weight: 500;
    }

    .level0 {
        text-indent: 0px;
        color: #428bca;
    }

    .level1 {
        text-indent: 20px;
        color: #428bca;
    }

    .level2 {
        text-indent: 40px;
        color: #428bca;
    }

    .level3 {
        text-indent: 60px;
        color: #428bca;
    }

    .level4 {
        text-indent: 80px;
        color: #428bca;
    }

    .level5 {
        text-indent: 100px;
        color: #428bca;
    }

    .level6 {
        text-indent: 120px;
        color: #428bca;
    }

    .hasDropdown {
        color: #428bca;
    }

    .noDropdown {
        color: #808080;
    }

    div.tooltip-inner {
        text-align: center;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        margin-bottom: 6px;
        background-color: #505050;
        font-size: 14px;
    }
</style>
<script>
    function openTab(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }
    $(document).ready(function () {
        document.getElementById("defaultOpenFasiRiepilogo").click();
    });
</script>

