﻿<div class="headerbar">
    <a class="menutoggle"><i class="fa fa-bars"></i></a>
    <div class="navicon-left hidden-md-down"><a id="btnLeftMenu" href=""><i class="icon ion-navicon-round"></i></a></div>
    <div class="navicon-left hidden-lg-up"><a id="btnLeftMenuMobile" href=""><i class="icon ion-navicon-round"></i></a></div>

    <div class="header-right">
        <ul class="headermenu">
            <li>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <img src="images/photos/user.png" alt="" />
                    {{LoggedUser}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                    <li><a ng-click="logOut()"><i class="glyphicon glyphicon-log-out"></i> {{ 'dashboard_Logout' | translate }}</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div><!-- headerbar -->


<!--<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <button class="dropdown-item" type="button">Action</button>
        <button class="dropdown-item" type="button">Another action</button>
        <button class="dropdown-item" type="button">Something else here</button>
    </div>
</div>-->