﻿.pform-control{
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
   padding: 10px;
   height: auto;
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
   box-shadow: none;
   font-size: 13px;
   width:220px;
  /*position: relative;*/
  /*display: block;*/
  float: right;
  /*margin: auto;
  padding: 0px;
  top: 50%;
  transform: translateY(-50%);*/

}

.alert-dismissable .alertclose {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}



