﻿<!DOCTYPE html>
<html lang="it">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <title>Anagrafica macchine</title>

    <link href="css/style.default.css" rel="stylesheet">
    <link href="css/jquery.datatables.css" rel="stylesheet">
    <link rel="stylesheet" href="css/jquery.tagsinput.css" />
    <link rel="stylesheet" href="css/colorpicker.css" />
    <link rel="stylesheet" href="css/dropzone.css" />
                            <!--NOCDN<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
                            <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">-->
    <link rel="stylesheet" href="css/select2.css">
    <link rel="stylesheet" href="css/selectize.default.css">
    <link rel="stylesheet" href="css/select.css" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="css/_bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/_bootstrap-datetimepicker.css">


</head>
<body ng-app="AppMacchineRuntime">
    <!-- Preloader -->
    <div id="preloader">
        <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
    </div>
    <div class="mainpanel">
        <!-- toppanel -->
        <div class="row headerbar">
            <div class="pageheader col-md-6">
                <h2><i class="fa fa-list-alt"></i> Shop Floor Order <span>Elenco ordini</span></h2>
            </div>
            <div class="col-md-6" ng-controller="AccessiCtrl" ng-include="'top-side.html'">

            </div>
        </div>

        <!-- toppanel -->

        <div ng-controller="AllSfoCtrl">
            <div>
                <div class="contentpanel">
                    <div class="row">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <!--<a href="elenco-macchine.html" class="btn btn-default pull-left"><span class="fa fa-arrow-left" style="margin-right:15px;"></span>INDIETRO</a>-->
                                <button id="b1" class="btn btn-default-filter pull-left" style="line-height: 30px;font-size:120%;border:3px solid" ng-click="filterState('-1',lUser);"><span class="fa fa-tasks" style="margin-right:15px;"></span>TUTTI ({{countTutti}})</button>
                                <button id="b2" class="btn btn-default-coda pull-left" style="line-height: 30px;margin-left:15px;border:3px solid; border-color: #428bca; font-size:120%;" ng-click="filterState('1',lUser);"><span class="fa fa-list-ul" style="margin-right:15px;"></span>IN CODA ({{countCoda}})</button>
                                <button id="b3" class="btn btn-default-produzione pull-left" style="line-height: 30px;margin-left:15px; font-size:120%;border:3px solid; border-color: #008000" ng-click="filterState('2',lUser);"><span class="fa fa-play" style="margin-right:15px;"></span>IN PRODUZIONE ({{countProduzione}})</button>
                                <button id="b4" class="btn btn-default-pausa pull-left" style="line-height: 30px;margin-left:15px;border:3px solid; border-color: #f4a560; font-size:120%" ng-click="filterState('3',lUser);"><span class="fa fa-pause" style="margin-right:15px;"></span>IN PAUSA S. ({{countPausa}})</button>
                                <button id="b5" class="btn btn-default-emergenza pull-left" style="line-height: 30px;margin-left:15px;border:3px solid; border-color: #ff3838; font-size:120%;" ng-click="filterState('5',lUser);"><span class="fa fa-warning" style="margin-right:15px;"></span>IN EMERGENZA ({{countEmergenza}})</button>


                                <!--<button class="btn btn-default pull-right" style="margin-left:15px;" onclick="location.href='allService.html'">  <span class="fa fa-wrench" style="margin-right:15px;"> </span>  MANUTENZIONE</button>-->

                                <div class="form-group col-sm-2 pull-right" ng-if="Macchine.length > 0">
                                    <div style="border: 3px solid; border-color: #1caf9a;  font-size: 20px !important;">
                                        <select class="chosen-select" id="e1" data-placeholder="Filtra per Macchina" chosen ng-model="macchineFilter.value" ng-change="filterState(filterIdStato,lUser,macchineFilter.value)" style="font-size: 20px !important;">
                                            <option selected value="-1">Tutte</option>
                                            <option ng-repeat="macchina in Macchine | orderBy" value="{{macchina.id}}">
                                                {{macchina.nome}}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group col-sm-2 pull-right" >
                                    <div style="border: 3px solid; border-color: #1caf9a;">
                                        <select id="odpString" class="chosen-select" data-placeholder="Filtra per Odp"  ng-model="filterForOdpVariable" ng-change="filterForOdp(filterForOdpVariable);" style="font-size: 20px !important;">
                                            <option selected value="-1">Tutti</option>
                                            <!--<option ng-repeat="item in OdpString| orderBy" value="{{item.key}}">
                                                {{item.key}}
                                            </option>-->
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div vs-repeat class="row">
                        <div class="col-sm-12 col-md-12" ng-repeat="item in items | limitTo:50 | orderBy : 'priorita' track by item.id">

                            <!--<a href="dettaglio-sfo.html#?idBatch={{item.id}}&idMacchina={{idMacchina}}">-->
                            <a href="sfofasi.html#?idBatch={{item.id}}">

                                <div class="panel panel-default" style="min-height:210px;">
                                    <div class="panel-body">
                                        <div class="row">
                                            <!--ng-class="{'batchAlarm' : item.stato === 'inLavorazioneInEmergenza', 'titleGray' : item.stato != 'inLavorazioneInEmergenza'}">-->
                                            <div class="col-xs-4" style="color:#242121; border: 1px solid lightgray"
                                                 ng-class="{'batchAlarm' : item.stato === 'inLavorazioneInEmergenza',
                                                'titleGrayAndColor' : item.stato === 'inAttesa', 'titleOrange' : item.stato === 'inLavorazioneInPausa',
                                                'titleGreen' : item.stato === 'inLavorazione','titleYellow' : item.stato === 'inLavorazioneInIdle'}">
                                                <!--<div class="col-xs-12">
                                                <h3 style="text-decoration:unset ;font-size:300%;">{{item.commessa}}</h3>
                                            </div>-->
                                                <div class="col-xs-12">
                                                    <!--<h1 style="text-decoration:unset ;font-size:280%;">Odp:{{item.odP}} ({{item.odPParziale}}), {{item.materiale.codice}}</h1>
    <h4 ng-if="item.odV != 0" style="text-decoration:unset;">Lancio:{{item.odV}} ({{item.odV_DescrizioneCliente}})</h4>-->

                                                    <h1 style="text-decoration:unset ;font-size:250%;">{{item.distintaBase.materialeInUscita.item.descrizione}}</h1>
                                                    <h2 style="text-decoration:unset;">{{item.distintaBase.materialeInUscita.item.nome}},({{item.distintaBase.materialeInUscita.item.codice}})</h2>
                                                    <h3 style="text-decoration:unset;">{{item.revisione}}</h3>
                                                </div>
                                                <div class="col-xs-12">
                                                    <h3>Pezzi pianificati: {{item.pezziDaProdurre}} &nbsp;&nbsp;&nbsp; prodotti: {{item.pezziProdotti}} &nbsp;&nbsp; ({{item.percCompletamento}} %)</h3>
                                                </div>
                                            </div>

                                            <div class="col-xs-1" style="border: 1px solid lightgray">
                                                <div class="col-xs-12">
                                                    <h3 style="text-decoration: unset;font-size:370%;"> {{item.oee}} %</h3>
                                                </div>
                                                <div class="col-xs-12" style="font-size:18px;">
                                                    <h4> OEE </h4>
                                                </div>
                                            </div>
                                            <div class="col-xs-7">
                                                <div class="row col-xs-12" style="border-top: 1px solid lightgray;font-size:8px">
                                                    <div class="col-xs-4">
                                                        <h4>Tempo teorico di prod.: {{getBatchTime(item.id, 1)}}</h4>
                                                    </div>

                                                    <div class="col-xs-4">
                                                        <h4>Data Obiettivo: {{item.odV_DataConsegna | date: 'dd/MM/yyyy'}}</h4>
                                                    </div>

                                                    <div class="col-xs-4">
                                                        <h4>Avviato il: {{item.inizio | date: 'dd/MM/yyyy HH:mm:ss'}}</h4>
                                                    </div>
                                                </div>
                                                <div class="row col-xs-12" style="border-top: 1px solid lightgray" ng-repeat="x in  item.fasi">
                                                    <div class="row " ng-hide="x.stato!='inLavorazione'">
                                                        <div class="col-xs-4">
                                                            <h4>Fase: {{x.distintaBaseFase.nome}} [{{x.stato}}]</h4>
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <h4>Pezzi prod: {{x.pezziProdotti}}</h4>
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <h4>Avviata il: {{x.userLockedDate | date: 'dd/MM/yyyy HH:mm:ss'}}</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--<div class="col-xs-12" style="border: 1px solid lightgray">

                                            </div>-->
                                            </div>
                                        </div>


                                        <!--<div class="row" style="margin-top:10px;">
                                        <div class="col-md-4" style="padding-left:0px;">
                                            <div class="panel panel-default" style="color:#fff;">
                                                <div class="panel-body"
                                                     ng-class="{'batchAlarm' : item.stato === 'inLavorazioneInEmergenza',
                                                            'titleGrayAndColor' : item.stato === 'inAttesa' || item.stato === 'inLavorazioneInPausa',
                                                            'titleGreen' : item.stato === 'inLavorazione'}"
                                                     style="padding:10px;">
                                                    <span>{{item.stato}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>-->


                                        <div class="row" style="margin-top:5px;">
                                            <div class="col-xs-12" style="padding:0;">
                                                <div class="progress">
                                                    <!--<span style="border: 1px solid lightgray" class="badge ">{{ item.percCompletamento }} %</span>-->
                                                    <!--<div id="proBar" class="progress"><div ng-class="{'progress-bar':true ,'progress-bar-success': item.stato !== 'inLavorazioneInEmergenza',  'progress-bar-danger': item.stato === 'inLavorazioneInEmergenza'}" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100" ng-style="{width: item.percCompletamento  + '%'}"></div></div>-->
                                                    <!--<div class="progress"><div ng-class="progress-bar-success" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 77%"></div></div>-->

                                                    <span style="border: 1px solid lightgray" class="badge ">{{ item.percCompletamento }} %</span>
                                                    <!--<div id="proBar" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" ng-style="{width: item.percCompletamento  + '%'}"></div>-->
                                                    <div id="proBar" ng-class="{'progress-bar':true ,'progress-bar-success': item.stato !== 'inLavorazioneInEmergenza',  'progress-bar-danger': item.stato === 'inLavorazioneInEmergenza'}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" ng-style="{width: item.percCompletamento  + '%'}"></div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </a>
                        </div>
                    </divvs-repeat>

                </div>

            </div>
        </div><!-- mainpanel -->

        <script src="js/loadAllScript.js"></script>
        <script src="js/moment.min.js"></script>
        <script src="js/_bootstrap-datepicker.js"></script>
        <script src="js/_bootstrap-datepicker.it.min.js"></script>
        <script src="js/_bootstrap-datetimepicker.js"></script>
        <script src="js/_bootstrap-datetimepicker.it.js"></script>
        <script src="app/controllers/produzione/allsfo.controller.js"></script>
        <script src="app/controllers/accessi/accessi.controller.js"></script>

        <script>
            jQuery(document).ready(function () {

                // Chosen Select
                jQuery(".chosen-select").chosen({ 'width': '100%', 'white-space': 'nowrap'});
                
            });


        </script>

        <style>
 
            /* Creo css bottoni per filtrare */
            .btn-default-coda {
                background: #e4e7ea;
                color: #636e7b;
            }

                .btn-default-coda:hover,
                .btn-default-coda:focus,
                .btn-default-coda:active,
                .btn-default-coda.active,
                .open .dropdown-toggle.btn-default-filter {
                    background: #428bca;
                    border-color: #ccc;
                    -moz-box-shadow: none;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                }

            .btn-default-produzione {
                background: #e4e7ea;
                color: #636e7b;
            }

                .btn-default-produzione:hover,
                .btn-default-produzione:focus,
                .btn-default-produzione:active,
                .btn-default-produzione.active,
                .open .dropdown-toggle.btn-default-filter {
                    background: #008000;
                    border-color: #ccc;
                    -moz-box-shadow: none;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                }

            .btn-default-pausa {
                background: #e4e7ea;
                color: #636e7b;
            }

                .btn-default-pausa:hover,
                .btn-default-pausa:focus,
                .btn-default-pausa:active,
                .btn-default-pausa.active,
                .open .dropdown-toggle.btn-default-filter {
                    background: #f4a560;
                    border-color: #ccc;
                    -moz-box-shadow: none;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                }

            .btn-default-emergenza {
                background: #e4e7ea;
                color: #636e7b;
            }

                .btn-default-emergenza:hover,
                .btn-default-emergenza:focus,
                .btn-default-emergenza:active,
                .btn-default-emergenza.active,
                .open .dropdown-toggle.btn-default-filter {
                    background: #ff3838;
                    border-color: #ccc;
                    -moz-box-shadow: none;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                }



            .chosen-select2 {
                width: 100%;
                height: 84px;
                padding: 6px 12px;
                font-size: 40px;
                line-height: 1.428571429;
                color: #555;
                vertical-align: middle;
                background-color: #fff;
                border: 1px solid #ccc;
                border-radius: 4px;
                -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
                box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
                -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
                transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
                background-image: none;
            }

            .chosen-container .chosen-results li {
                font-size: 25px;
                line-height: 25px !important;
            }
        </style>
</body>
</html>
