﻿<!DOCTYPE html>
<html lang="it">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <title>Manutenzione Macchine</title>

    <link href="css/style.default.css" rel="stylesheet">
    <link href="css/jquery.datatables.css" rel="stylesheet">
    <link rel="stylesheet" href="css/jquery.tagsinput.css" />
    <link rel="stylesheet" href="css/colorpicker.css" />
    <link rel="stylesheet" href="css/dropzone.css" />
    <!--NOCDN<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">-->
    <link rel="stylesheet" href="css/select2.css">
    <link rel="stylesheet" href="css/selectize.default.css">
    <link rel="stylesheet" href="css/select.css" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="css/_bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/_bootstrap-datetimepicker.css">


</head>
<body ng-app="AppMacchineRuntime">
    <!-- Preloader -->
    <div id="preloader">
        <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
    </div>
    <div class="mainpanel">
        <!-- toppanel -->
        <div class="row headerbar">
            <div class="pageheader col-md-6">
                <h2><i class="fa fa-wrench"></i> Manutenzione Macchine</h2>
            </div>
            <div class="col-md-6" ng-controller="AccessiCtrl" ng-include="'top-side.html'">

            </div>
        </div>

        <!-- toppanel -->

        <div ng-controller="AllServiceCtrl">
            <div class="contentpanel">

                <div class="row" style="margin-bottom:1px">
                    <div class="panel panel-default">
                        <div class="panel-body" ng-show="viewState=='R'">
                            <button class="btn btn-default pull-left" style="margin-left:15px;" ng-click="filterState('-1',lUser);"><span class="fa fa-tasks" style="margin-right:15px;"></span>TUTTI</button>
                            <button class="btn btn-default pull-left" style="margin-left:15px;" ng-click="filterState('inAttesa',lUser);"><span class="fa fa-flag" style="margin-right:15px;"></span>IN CODA</button>
                            <button class="btn btn-default pull-left" style="margin-left:15px;" ng-click="filterState('inLavorazione',lUser);"><span class="fa fa-play" style="margin-right:15px;"></span>IN LAVORAZIONE</button>
                            <button class="btn btn-default pull-left" style="margin-left:15px;" ng-click="filterState('inAttesa',lUser);"><span class="fa fa-pause" style="margin-right:15px;"></span>IN PAUSA</button>


                            <select class="btn btn-default pull-left" style="margin-left:15px; height:35px; margin-right:15px; text-transform: uppercase;" ng-model="idMachine" ng-change="filterState(filterIdStato,lUser,Macchine.id)">
                                <option value="-1" selected>Seleziona...</option>
                                <option ng-repeat="macchina in Macchine" value="{{macchina.id}}" style="text-transform: uppercase;">
                                    {{macchina.nome}}
                                </option>
                            </select>
                            <button class="btn btn-default pull-right" style="margin-left:15px;" ng-click="insert()"> <span class="fa fa-plus" style="margin-right:15px;"> </span> NUOVA MANUTENZIONE</button>

                        </div>
                    </div>
                </div>

                <div class="row" >


                    <div class="form-group-alt col-md-12">
                        <div class="panel panel-default">
                            <table class="table" id="c" datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance">
                                <thead>
                                    <tr style="font-size:medium">
                                        <th>Stato</th>
                                        <th>Tipo Manutenzione </th>
                                        <th>Macchina</th>
                                        <th>Tipo di Guasto</th>
                                        <th>Tipo Segnalazione</th>
                                        <th>Data Creazione </th>
                                        <th>Inizio</th>
                                        <th>Tempo Presa in Carico</th>
                                        <!--<th>Avvia</th>
    <th>Pausa</th>
    <th>Termina</th>-->

                                    </tr>
                                </thead>
                                <tbody style="font-size:20px;">
                                    <tr id="{{ item.id }}" ng-repeat="item in items track by item.id" style="color:#242121; border: 1px solid lightgray; height:70px;" ng-class="{'batchAlarm' : item.stato === 'inLavorazioneInEmergenza',
                                                'titleGrayAndColor' : item.stato === 'inAttesa', 'titleOrang' : item.stato === 'inLavorazioneInPausa',
                                                'titleGreen' : item.stato === 'inLavorazione'}" ng-dblclick="update(item.id)">

                                        <td><span style="font-size: 20px;" ng-class="{'glyphicon glyphicon-exclamation-sign red': item.stato === 'inLavorazioneInEmergenza',  'glyphicon glyphicon-ok green': item.stato === 'inLavorazione',  'glyphicon glyphicon-pause yellow': item.stato === 'inLavorazioneInPausa' , 'glyphicon glyphicon-flag': item.stato === 'inAttesa', 'glyphicon glyphicon-edit': item.stato === 'inModifica', 'glyphicon glyphicon-ok': item.stato === 'terminato', 'glyphicon glyphicon-ban-circle red': item.stato === 'terminatoAbortito','glyphicon glyphicon-flag yellow': item.stato === 'inLavorazioneInIdle'  }" title="{{ item.stato }}"></span>   </td>

                                        <td>{{ item.tipoManutenzione.item.nome }}</td>
                                        <td>{{ item.macchina.item.nome }}</td>
                                        <td>{{ item.tipoGuastoManutenzione.item.nome }}</td>
                                        <td>{{ item.tipoSegnalazioneManutenzione.item.nome }}</td>
                                        <td>{{item.creazione | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                        <td>{{ item.inizio | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                                        <td>{{ item.durataPresaInCarico }}</td>

                                        <!--<td>  <img src="images/play.png" style="height: 35px;" [disabled]="true" ng-click="changeStatus(item,1)"></td>
    <td>  <img src="images/pause.png" style="height: 35px;" ng-disabled="true" ng-click="changeStatus(item,2)"> </td>
    <td> <img src="images/stop.png" style="height: 35px;" ng-disabled="true" ng-click="changeStatus(item,3)" /> </td>-->
                                    </tr>


                                </tbody>
                            </table>


                        </div><!-- col-sm-7 -->


                    </div>

                </div>



               
            </div>

        </div>
        <div id="footer" class="row">
            <div style="margin:5px;padding:0px">
                <a href="allsfo.html" class="btn btn-default pull-left" style="line-height: 50px; font-size: 20px;"><span class="fa fa-arrow-left"></span>INDIETRO</a>
            </div>


        </div>
    </div><!-- mainpanel -->

    <script src="js/loadAllScript.js"></script>



    <script src="js/moment.min.js"></script>

    <script src="js/_bootstrap-datepicker.js"></script>
    <script src="js/_bootstrap-datepicker.it.min.js"></script>

    <script src="js/_bootstrap-datetimepicker.js"></script>
    <script src="js/_bootstrap-datetimepicker.it.js"></script>



    <script src="app/controllers/produzione/allservice.controller.js"></script>
    <script src="app/controllers/accessi/accessi.controller.js"></script>

    <script>



        $(window).bind("resize", function () { contsize(); });
        $(document).ready(function () { contsize(); });
        //$('#content').ready(function () { contsize(); });

        function contsize() {
            var availableSize = window.innerHeight - $('#footer').innerHeight() - $('#header').innerHeight() + 58;  // == Fixed div (header,foter) Size  (200)!!!
            $('#content').height(availableSize);

            var a = $('#rowAvanzamenti').innerHeight();
            var b = $('#rowPulsanti').innerHeight();
            var c = $('#txtBarcode').innerHeight();
            var x = availableSize - a - b;
            $('#docBody').height(x);
            $('#tableMateriali').height(x - c);
            $('#tableParametri').height(x);


        };




        $(".form_datetime").datetimepicker({
            format: "dd-mm-yyyy hh:ii:ss",
            autoclose: true,
            todayBtn: "linked",
            //todayBtn: true,
            startDate: new Date(),
            minuteStep: 5,
            language: "it",
            //toggleActive: true,
            todayHighlight: true,
            pickerPosition: "bottom-left",
            //initialDate: new Date()
        });

        jQuery('.thmb').hover(function () {
            var t = jQuery(this);
            t.find('.ckbox').show();
            t.find('.fm-group').show();
        }, function () {
            var t = jQuery(this);
            if (!t.closest('.thmb').hasClass('checked')) {
                t.find('.ckbox').hide();
                t.find('.fm-group').hide();
            }
        });

        jQuery('.ckbox').each(function () {
            var t = jQuery(this);
            var parent = t.parent();
            if (t.find('input').is(':checked')) {
                t.show();
                parent.find('.fm-group').show();
                parent.addClass('checked');
            }
        });


        jQuery('.ckbox').click(function () {
            var t = jQuery(this);
            if (!t.find('input').is(':checked')) {
                t.closest('.thmb').removeClass('checked');
                enable_itemopt(false);
            } else {
                t.closest('.thmb').addClass('checked');
                enable_itemopt(true);
            }
        });

        jQuery('#selectall').click(function () {
            if (jQuery(this).is(':checked')) {
                jQuery('.thmb').each(function () {
                    jQuery(this).find('input').attr('checked', true);
                    jQuery(this).addClass('checked');
                    jQuery(this).find('.ckbox, .fm-group').show();
                });
                enable_itemopt(true);
            } else {
                jQuery('.thmb').each(function () {
                    jQuery(this).find('input').attr('checked', false);
                    jQuery(this).removeClass('checked');
                    jQuery(this).find('.ckbox, .fm-group').hide();
                });
                enable_itemopt(false);
            }
        });

        function enable_itemopt(enable) {
            if (enable) {
                jQuery('.itemopt').removeClass('disabled');
            } else {

                // check all thumbs if no remaining checks
                // before we can disabled the options
                var ch = false;
                jQuery('.thmb').each(function () {
                    if (jQuery(this).hasClass('checked'))
                        ch = true;
                });

                if (!ch)
                    jQuery('.itemopt').addClass('disabled');
            }
        }

        //Replaces data-rel attribute to rel.
        //We use data-rel because of w3c validation issue
        jQuery('a[data-rel]').each(function () {
            jQuery(this).attr('rel', jQuery(this).data('rel'));
        });






    </script>

</body>
</html>
<style>

    div::-webkit-scrollbar {
        width: 24px;
        background-color: #fff;
    }

    div::-webkit-scrollbar-thumb {
        background-color: #8bcee2;
        border-radius: 0px;
    }

        div::-webkit-scrollbar-thumb:hover {
            background-color: #8bcee2;
            border: 1px solid #333333;
        }

        div::-webkit-scrollbar-thumb:active {
            background-color: #8bcee2;
            border: 1px solid #1d2939;
        }


    .datetimepicker table {
        width: 100%;
        margin: 0;
    }

    .datetimepicker.dropdown-menu {
        width: 18em;
        height: auto;
        font-size: 30px;
    }

    #contextmenu-node {
        position: absolute;
        background-color: white;
        border: solid #CCCCCC 1px;
    }

    .contextmenu-item {
        margin: 0.5em;
        padding-left: 0.5em;
    }

        .contextmenu-item:hover {
            background-color: #CCCCCC;
            cursor: default;
        }

    .form-group-alt {
        overflow-y: scroll !important;
        height: 100%;
        max-height: 100%;
    }

    .form-group-alt2 {
        /*overflow-y: scroll !important;*/
        height: 100%;
        max-height: 100%;
    }

    #header {
        width: 100%;
        height: 50px;
        position: fixed;
        top: 0;
        z-index: 100;
        box-shadow: -1px -4px 20px 12px rgba(12,12,12,0.13);
        margin-left: 0px;
    }

    #content {
        width: 100%;
        margin: 0 auto;
        padding-right: 0;
        padding-left: 0;
        padding-top: 51px;
        z-index: 0;
        /*border:solid;border-width:2px;border-color:blue;*/ /*test*/
    }

    #footer {
        width: 100%;
        /*height: 75px;*/
        background: white !important;
        position: fixed;
        bottom: 0;
        z-index: 100;
        padding: 5px;
        box-shadow: -1px -4px 20px 12px rgba(12,12,12,0.13);
        margin-left: 0px;
    }


    .mainpanel-sf {
        background: #e4e7ea;
        /*min-height: 1000px;*/
        height: 100%;
    }

    #docHeader {
        width: 100%;
        /*height: 150px;*/
        position: fixed;
        z-index: 100;
    }

    #docBody {
        /*width: 41.66%;*/ /*col-md-5*/
        /* top: 380px;*/
        position: fixed;
        z-index: 0;
        /*overflow-y: scroll !important;*/
        /*height:150px;*/
        /*border:solid;border-width:2px;border-color:blue;*/ /*test*/
    }

    .table {
        margin-bottom: 0px;
        background-color: white;
    }

    .blink {
        animation: blink-animation 1s steps(5, start) infinite;
        -webkit-animation: blink-animation 1s steps(5, start) infinite;
    }

    @keyframes blink-animation {
        to {
            visibility: hidden;
        }
    }

    @-webkit-keyframes blink-animation {
        to {
            visibility: hidden;
        }
    }

    .red {
        color: red;
    }
</style>
