﻿<!DOCTYPE html>
<html lang="it">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <title>Autenticazione</title>
    <link href="css/style.default.css" rel="stylesheet" />


</head>
<body  ng-app="rfidApp" style="background-color:ghostwhite">

    <div ng-controller="rfidController">

        <div ng-hide="!isLoaderActiveWrite" class="overlay-loader-write"></div>
        <div ng-hide="!isLoaderActiveWrite" class="overlay-gray"></div>

        <div ng-hide="!isLoaderActiveRead" class="overlay-loader-read"></div>
        <div ng-hide="!isLoaderActiveRead" class="overlay-gray"></div>

        <div style="vertical-align: middle;     margin: auto;     width: 50%;">

            <h2>Barcode in scrittura </h2>
            <div>
                <input style="font-size: 35px;margin:10px;" type="text" name="username" id="username" class="form-control uname" ng-model="barcodeWrite" required placeholder="digitare qui il codice ..." />
            </div>

            <button style="font-size: 35px;margin:10px;" class="btn btn-warning" ng-click="clickSendBarcode();"><span class="fa fa-arrow-circle-o-down"></span>Scrivi</button>
            {{resWrite}}
            <br />  <br /> <br /> <br />
            <h2>Barcode in lettura </h2>
            <input style="font-size: 35px;margin:10px;" type="text" name="username" id="username" class="form-control uname" ng-model="barcodeRead" readonly />
            <button style="font-size: 35px;margin:10px;" class="btn btn-warning" ng-click="clickReadBarcode();"><span class="fa fa-arrow-circle-o-down"></span>Leggi</button>
            {{resRead}}
        </div>

    </div>



<script src="js/loadAllScript.js"></script>
<script src="app/controllers/rfidController.js"></script>

</body>
</html>
