﻿<!DOCTYPE html>
<html lang="it">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <title>Manutenzione Macchine</title>

    <link href="css/style.default.css" rel="stylesheet">
    <link href="css/jquery.datatables.css" rel="stylesheet">
    <link rel="stylesheet" href="css/jquery.tagsinput.css" />
    <link rel="stylesheet" href="css/colorpicker.css" />
    <link rel="stylesheet" type="text/css" href="css/tree-control.css">
    <link rel="stylesheet" href="css/dropzone.css" />
    <link rel="stylesheet" href="css/select2.css">
    <link rel="stylesheet" href="css/selectize.default.css">
    <link rel="stylesheet" href="css/select.css" />
    <link rel="stylesheet" href="css/bootstrap337.css" />
    <link rel="stylesheet" href="css/bootstrap-sidebar.css" />
    <link rel="stylesheet" href="css/_bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/_bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="css/prettyPhoto.css" />
    <link rel="stylesheet" href="css/jquery.fancybox.css" />
    <link rel="stylesheet" href="css/angular-growl.css" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body ng-app="AppMacchineRuntime">
    <!-- Preloader -->
    <div id="preloader">
        <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
    </div>


    <div class="mainpanel-sf" ng-controller="ServiceDetail">

        <div ng-hide="!isLoaderActiveWrite" class="overlay-loader-write"></div>
        <div ng-hide="!isLoaderActiveWrite" class="overlay-gray"></div>

        <div ng-hide="!isLoaderActiveRead" class="overlay-loader-read"></div>
        <div ng-hide="!isLoaderActiveRead" class="overlay-gray"></div>

        <!-- toppanel -->
        <div id="header" class="row headerbar" ng-class="{'batchAlarm' : currentItem.stato === 'inLavorazioneInEmergenza'}">
            <!--, navbar-fixed-top-->
            <div class="pageheader col-md-10">
                <h2>
                    <i class="fa fa-wrench"></i> Manutenzione STRAORDINARIA del 03/09/2020
                </h2>
            </div>
            <div class="col-md-2" ng-controller="AccessiCtrl" ng-include="'top-side.html'">

            </div>


        </div>

        <div class="row, contentpanel" id="content">

            <!--==============================================================================================================================-->
            <div class="form-group-alt col-md-6" id="sidebar">


                <div class="row" style="margin-top:10px">

                    <div class="form-group col-md-12">
                        <h1 style="text-align-last: center;"> Dati Manutenzione</h1>
                    </div>


                </div>


                <div class="row" style="margin-top:10px">

                    <div class="form-group col-md-6">
                        <label>Tipo Manutenzione (*)</label>
                        <div>
                            <!--<select id="tipomanutenzione" name="tipomanutenzione" class="btn btn-default" style="height:45px; width:400px" text-transform: uppercase;" ng-model="currentItem.tipoManutenzione.id">
                                <option ng-repeat="tipomanutenzione in Tipomanutenzioni" value="{{tipomanutenzione.id}}" ng-selected="currentItem.tipoManutenzione.id === tipomanutenzione.id" style="text-transform: uppercase;">
                                    {{tipomanutenzione.nome}}
                                </option>
                            </select>-->

                            <select id="tipomanutenzione" name="tipomanutenzione" class="btn btn-default" style="height:45px; width:400px" text-transform: uppercase;" ng-model="currentItem.tipoManutenzione.id">
                                <option value="-1" selected>Ordinaria</option>
                                <option value="-1" selected>Straordinaria</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label>Macchina (*)</label>
                        <div>
                            <!--<select id="macchina" name="macchina" class="btn btn-default" style="height:45px; width:400px" text-transform: uppercase;" ng-model="currentItem.macchina.id">
                                <option ng-repeat="macchina in Macchine" value="{{macchina.id}}" ng-selected="currentItem.macchina.id === macchina.id" style="text-transform: uppercase;">
                                    {{macchina.nome}}
                                </option>
                            </select>-->
                            <select id="macchina" name="macchina" class="btn btn-default" style="height:45px; width:400px" text-transform: uppercase;" ng-model="currentItem.macchina.id">
                                <option value="-1" selected>Macchina di piegatura, linea Standard</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="row">


                    <div class="form-group col-md-6">
                        <label>Tipo Guasto</label>
                        <div>
                            <select id="macchina" name="macchina" class="btn btn-default" style="height:45px; width:400px" text-transform: uppercase;" ng-model="currentItem.macchina.id">
                                <option value="-1" selected>Guasto Generico</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label>Nome</label>
                        <div>
                            <input type="text" name="name" class="form-control" style="height:45px; width:400px" text-transform: uppercase;" ng-model="currentItem.nome" />
                        </div>
                    </div>

                </div>

                <div class="row">


                    <div class="form-group col-md-6">
                        <label>Tipo Segnalazione </label>
                        <div>
                            <select id="macchina" name="macchina" class="btn btn-default" style="height:45px; width:400px" text-transform: uppercase;" ng-model="currentItem.macchina.id">
                                <option value="-1" selected>Bloccante</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Competenza Segnalazione</label>
                        <div>
                            <select id="macchina" name="macchina" class="btn btn-default" style="height:45px; width:400px" text-transform: uppercase;" ng-model="currentItem.macchina.id">
                                <option value="-1" selected>Meccanico</option>
                            </select>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <!--------------------------------------->
                    <!--SELEZIONE PER AZIENDA-->

                    <div class="form-group col-md-6">
                        <label>Azienda</label>
                        <div class="form-group">
                            <select class="btn btn-default" style="height:45px; width:400px" text-transform: uppercase;">
                                <option value="-1" selected>Rossi Spa</option>
                            </select>
                        </div>


                    </div>
                    <!--------------------------------------->

                    <div class="form-group col-md-6">
                        <label>Operatore</label>
                        <div>
                            <input type="text" name="operatore" class="form-control" style="height:45px; width:400px" text-transform: uppercase;" ng-model="currentItem.operatore" />
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Stato</label>
                        <div>
                            <input type="text" name="stato" class="form-control" style="height:45px; width:400px" text-transform: uppercase;" ng-model="currentItem.stato" />
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Data Creazione</label>
                        <div>
                            <input type="text" name="creazione" class="form-control" style="height:45px; width:400px" text-transform: uppercase;"   />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Data Ora Inizio Manutenzione</label>
                        <div>
                            <input type="text" name="inizio" class="form-control" style="height:45px; width:400px" text-transform: uppercase;"  />
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label>Data Ora Fine Manutenzione</label>
                        <div>
                            <input type="text" name="fine" class="form-control" style="height:45px; width:400px" text-transform: uppercase;" />
                        </div>
                    </div>
                </div>

            </div>


            <!--==============================================================================================================================-->
            <!--isEnabledDettagliFase-->
            <div class="form-group-alt2 col-md-6">

                <div class="row" id="rowAvanzamenti" style="border-left: solid 1px #3c3b3b;">
                    <div style="background-color:white;padding-left:20px;padding-top: 5px;padding-bottom: 5px;">
                        <button style="font-size: 35px;" class="btn btn-default" ng-click="changeStateToStart('2');"><span class="fa fa-play"></span> Start</button>
                        <!--<button  style="font-size: 35px;" class="btn btn-default"  data-toggle="modal" data-target="#modalRestartFase"><span class="fa fa-play"></span> Start</button>-->

                        <button style="font-size: 35px;margin-left:10px;" class="btn btn-warning" ng-click="changeState('3');"><span class="fa fa-pause"></span> Sospendi</button>
                        <button style="font-size: 35px;margin-left:10px; color:white" class="btn btn-success" data-toggle="modal" data-target="#modalClosePhase"><span class="fa fa-check" style="color:white;"></span> Concludi</button>
                        <!--<button style="font-size: 35px;margin-left:10px;" class="btn btn-danger" ng-disabled="!btnStateAbort" style="color:white;" ng-click="changeState('8');"><span class="fa fa-stop" style="color:white;"></span> Abortisci</button>-->
                        <!--<h4><span style="font-weight:bold;">Stato: {{selectedBatchPhase.stato}}</span> </h4>
                        <h4><span style="font-weight:bold;" class="blink red">{{selectedBatchPhase.distintaBaseFase.campo5}}</span></h4>-->
                        <!--PEZZI VERSATI  ===================================================== -->
                        <!--<label class="control-label" style="font-size: 20px; font-weight:bold; margin-right:15px; margin-bottom:0px">Quantità Versata <br /> <span style="font-size: 20px;font-weight:bold; margin:0px"> {{selectedBatchPhase.pezziProdotti}} </span></label>-->
                        <!--PEZZI VERSATI  =============================fa-plus-square======================== -->

                    </div>

                    <div style="border-top:2px solid gray"></div>
                    <div class="column" style="background-color:white;display:grid;padding-left:20px;">
                        <h4>
                            <span ng-hide="selectedBatchPhase.stato == 'inAttesa'" style="font-weight:bold; margin:0px;padding:0px;color:gray">Avviata il: {{selectedBatchPhase.inizio | date: 'dd/MM/yyyy HH:mm:ss'}}</span>
                            <span ng-hide="selectedBatchPhase.stato != 'terminato'" style="font-weight:bold; margin:0px;padding:0px;color:gray"> &nbsp; &nbsp; &nbsp; Conclusa il: {{selectedBatchPhase.fine | date: 'dd/MM/yyyy HH:mm:ss'}}</span>
                        </h4>
                        <h4 ng-hide="(!selectedBatchPhase.isCiclica) || selectedBatchPhase.stato == 'inAttesa'">
                            <span style="font-weight:bold; margin:0px;padding:0px;color:gray">Numero pezzi prodotti: {{selectedBatchPhase.pezziProdotti}} &nbsp; &nbsp; di: {{selectedBatchPhase.pezziPianificati}} &nbsp; &nbsp; &nbsp; avanzamento %: {{(selectedBatchPhase.pezziProdotti/selectedBatchPhase.pezziPianificati*100).toFixed(2)}}</span>
                        </h4>
                    </div>
                </div>

                <div id="rowPulsanti" class="row" style="border-left: solid 1px #3c3b3b;padding-left:10px;padding-top:10px;background:#8bcee2;padding-bottom: 10px;box-shadow: 0px 5px 5px rgba(12,12,12,0.13);">
                    <div layout="column" layout-align="center center">
                        <button id="b1" ng-style="set_color('2',isEnabledMateriali,this)" class="btn btn-default" style="font-size: 25px; width:auto;margin-right:10px;" ng-click="switchDetail(this,'1');"><span class="fa fa-list-ol" style="margin-right:15px;"></span>Materiali</button>
                        <button id="b2" ng-style="set_color('1',isEnabledMateriali,this)" class="btn btn-default" style="font-size: 25px; width:auto;margin-right:10px;" ng-click="switchDetail(this,'2');"><span class="fa fa-clipboard" style="margin-right:15px;"></span>Note</button>
                        <button id="b3" ng-style="set_color('1',isEnabledMateriali,this)" class="btn btn-default" style="font-size: 25px; width:auto;margin-right:10px;" ng-click="switchDetail(this,'3');"><span class="fa fa-clipboard" style="margin-right:15px;"></span>Dettagli</button>
                        <button id="b4" ng-disabled="shDetail!='1' && shDetail!='2'" data-toggle="modal" data-target="#modalAdd{{shDetail}}" class="btn btn-default" style="font-size: 25px; width:auto;margin-right:10px;"><span class="fa fa-plus"></span></button>
                    </div>

                </div>

                <div class="row" style="border-left:solid 1px whitesmoke">


                    <!--==============================================================================================================================-->
                    <!-- ELENCO MATERIALI -->
                    <!--==============================================================================================================================-->
                    <div ng-show="shDetail=='1'">

                        <div id="tableMateriali" style="width:auto;height:100%; overflow-x:scroll; overflow-y:scroll;border:1px solid whitesmoke;">
                            <table class="table table-email" border="0">

                                <thead>
                                    <tr style="font-size:180%" class="text-primary">
                                        <th>Quantità</th>
                                        <th>Materiale</th>
                                        <th>Unità di Misura</th>
                                        <th>Prezzo Unitario</th>


                                    </tr>
                                </thead>
                                <tr style="width: 60px;">
                                    2020-08-31 12:53:39
                                    <td style="font-size:200%" class="text-primary">1</td>
                                    <td style="font-size:200%" class="text-primary">Lama</td>
                                    <td style="font-size:200%" class="text-primary">Pezzo</td>
                                    <td style="font-size:200%" class="text-primary">100€/Pezzo</td>

                                </tr>

                                <tr style="width: 60px;">

                                    <td style="font-size:200%" class="text-primary">10</td>
                                    <td style="font-size:200%" class="text-primary">Olio</td>
                                    <td style="font-size:200%" class="text-primary">Litri</td>
                                    <td style="font-size:200%" class="text-primary">30€/l</td>

                                </tr>
                                <tr style="width: 60px;">

                                    <td style="font-size:200%" class="text-primary">1</td>
                                    <td style="font-size:200%" class="text-primary">Guarnizione</td>
                                    <td style="font-size:200%" class="text-primary">Pezzo</td>
                                    <td style="font-size:200%" class="text-primary">10€/Pezzo</td>

                                </tr>

                            </table>
                        </div>

                    </div>

                    <!--==============================================================================================================================-->
                    <!-- ELENCO NOTE -->
                    <!--==============================================================================================================================-->
                    <div ng-show="shDetail=='2'">
                        <div id="tableParametri" style="width:auto; overflow-x:  scroll; overflow-y:scroll; border:1px solid black;">
                            <table class="table table-email" border="0">

                                <thead>
                                    <tr style="font-size:180%" class="text-primary">
                                        <th></th>
                                        <th>Operatore</th>
                                        <th>Data</th>
                                        <th>Nota</th>
                                    </tr>
                                </thead>


                                <tr style="width: 60px;">
                                    <td style="font-size:200%" class="text-primary"></td>
                                    <td style="font-size:200%" class="text-primary">Op1</td>
                                    <td style="font-size:200%" class="text-primary">03/09/2020 12:50:30</td>
                                    <td style="font-size:200%" class="text-primary">Rottura Lama</td>


                                </tr>
                                <tr style="width: 60px;">
                                    <td style="font-size:200%" class="text-primary"></td>
                                    <td style="font-size:200%" class="text-primary">Op1</td>
                                    <td style="font-size:200%" class="text-primary">03/09/2020 16:00:30</td>
                                    <td style="font-size:200%" class="text-primary">Nuova Lama ...</td>


                                </tr>

                            </table>
                        </div>

                    </div>


                    <div ng-show="shDetail=='3'">
                        <div id="tableParametri" style="width:auto; overflow-x:  scroll; overflow-y:scroll; border:1px solid black;">
                            <table class="table table-email" border="0">



                                <tr style="width: 60px;">
                                    <td style="font-size:200%; width: 60px;" class="text-primary">Tempo di Presa In Carico: 1 Ora e 5 Minuti</td>
                                </tr>
                                <tr style="width: 60px;">
                                    <td style="font-size:200%; width: 60px;" class="text-primary">Tempo Totale Di Manutenzione: 2 Ore e 5 Minuti e 10 Secondi</td>
                                </tr>
                                <tr style="width: 60px;">
                                    <td style="font-size:200%; " class="text-primary">Prezzo Stimato Materiali : 410€</td>
                                </tr>



                            </table>
                        </div>

                    </div>
                </div>

            </div> <!--docBody-->

        </div>

    </div>


    <div id="footer" class="row">
        <button class="btn pull-right {{!stateBatchStart ? 'btn-primary':' btn-primary'}}" style="margin-left: 15px; line-height: 50px; font-size: 20px;" ng-click="changeStateBatch('2');"><span class="fa fa-save" style="     margin-right: 15px; margin-right:15px;"></span>Salva </button>
        <button data-toggle="modal" data-target="#modalSetCausaleEmergenza" class="btn btn-default pull-right" style="margin-left: 15px; line-height: 50px; font-size: 20px;"><span class="fa fa-share" style="margin-right:15px;"></span>Annulla</button>
        <a href="allService.html" class="btn btn-default pull-left" style="line-height: 50px; font-size: 20px;"><span class="fa fa-arrow-left" style="margin-right:15px;"></span>INDIETRO</a>
    </div>


    </div>


    <!---------------------------------------------------------------------------------------------->
    <!-- Modal -->

    <div class="modal fade" id="modalConfirmUndo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Annulla Ordine</h4>
                </div>
                <div class="modal-body">
                    Sei sicuro di voler annullare?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-primary" ng-click="cancel()">Si</button>
                </div>
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal -->

    <div class="modal fade" id="modalAdd1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Aggiungi Materiale</h4>
                </div>
                <div class="modal-body" style="color:#000; height:135px; font-size: 20px;">
                    <div class="form-group col-md-2">
                        <label>Quantità(*)</label>
                        <div>
                            <input type="number" name="pzi" min="1" class="form-control" ng-model="FormaddMateriali.pezziDaProdurre" />
                        </div>
                    </div>

                    <div class="form-group col-md-3" style="margin-left:20px">
                        <label>Materiale(*)</label>
                        <div>
                            <select class="btn btn-default" style="height:40px; width:285px" text-transform: uppercase;" ng-model="FormaddMateriali.codiceMateriale">
                                <option value="-1" selected>Seleziona</option>
                                <option ng-repeat="Materiale in Materiali" value="{{Materiale.codice}} ({{Materiale.um}})" style="text-transform: uppercase;">
                                    {{Materiale.codice}} ({{Materiale.um}})
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-3" style="margin-left:120px">
                        <label>Prezzo Unitario(*)</label>
                        <div>
                            <input type="text" name="prezzo" min="1" class="form-control" ng-model="FormaddMateriali.pezziDaProdurre"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>
                    <button type="button" class="btn btn-primary" ng-click="addMaterial()">Aggiungi</button>
                </div>
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal -->


    <div class="modal fade" id="modalAdd2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Aggiungi Nota</h4>
                </div>
                <div class="modal-body" style="color:#000; height:135px; font-size: 20px;">
                    <div class="form-group col-md-12">
                        <label>Nota(*)</label>
                        <div>
                            <textarea type="text" cols="40" rows="3" name="descrizione" class="form-control" ng-model="FormaddMateriali.nota"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>
                    <button type="button" class="btn btn-primary" ng-click="addNote()">Aggiungi</button>
                </div>
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal -->
    <!-- Modal -->
    <!-- Modal -->
    <!---------------------------------------------------------------------------------------------->
    </div><!-- mainpanel -->



    <script src="js/loadAllScript.js"></script>
    <script src="app/controllers/produzione/sfofasi.controller.js"></script>
    <script src="app/controllers/accessi/accessi.controller.js"></script>
    <script src="js/jquery.fancybox.js"></script>

    <script>

        $.fancybox.defaults.buttons = ['fullScreen', 'zoom', 'close'];
        $.fancybox.defaults.lang = 'it';
        $.fancybox.defaults.i18n = {
            'it': {
                CLOSE: 'Chiudi',
                NEXT: 'Prossimo',
                PREV: 'Precedente',
                ERROR: 'Il documento richiesto non può essere caricato<br/> Riprovare più tardi',
                PLAY_START: 'Avvia slideshow',
                PLAY_STOP: 'PAusa slideshow',
                FULL_SCREEN: 'Tutto schermo',
                THUMBS: 'Thumbnails',
                DOWNLOAD: 'Download',
                SHARE: 'Share',
                ZOOM: 'Zoom'
            }
        };


        $(window).bind("resize", function () { contsize(); });
        $(document).ready(function () { contsize(); });
        //$('#content').ready(function () { contsize(); });

        function contsize() {
            var availableSize = window.innerHeight - $('#footer').innerHeight() - $('#header').innerHeight() + 58;  // == Fixed div (header,foter) Size  (200)!!!
            $('#content').height(availableSize);

            var a = $('#rowAvanzamenti').innerHeight();
            var b = $('#rowPulsanti').innerHeight();
            var c = $('#txtBarcode').innerHeight();
            var x = availableSize - a - b;
            $('#docBody').height(x);
            $('#tableMateriali').height(x - c);
            $('#tableParametri').height(x);


        };




        $(".form_datetime").datetimepicker({
            format: "dd-mm-yyyy hh:ii:ss",
            autoclose: true,
            todayBtn: "linked",
            //todayBtn: true,
            startDate: new Date(),
            minuteStep: 5,
            language: "it",
            //toggleActive: true,
            todayHighlight: true,
            pickerPosition: "bottom-left",
            //initialDate: new Date()
        });

        jQuery('.thmb').hover(function () {
            var t = jQuery(this);
            t.find('.ckbox').show();
            t.find('.fm-group').show();
        }, function () {
            var t = jQuery(this);
            if (!t.closest('.thmb').hasClass('checked')) {
                t.find('.ckbox').hide();
                t.find('.fm-group').hide();
            }
        });

        jQuery('.ckbox').each(function () {
            var t = jQuery(this);
            var parent = t.parent();
            if (t.find('input').is(':checked')) {
                t.show();
                parent.find('.fm-group').show();
                parent.addClass('checked');
            }
        });


        jQuery('.ckbox').click(function () {
            var t = jQuery(this);
            if (!t.find('input').is(':checked')) {
                t.closest('.thmb').removeClass('checked');
                enable_itemopt(false);
            } else {
                t.closest('.thmb').addClass('checked');
                enable_itemopt(true);
            }
        });

        jQuery('#selectall').click(function () {
            if (jQuery(this).is(':checked')) {
                jQuery('.thmb').each(function () {
                    jQuery(this).find('input').attr('checked', true);
                    jQuery(this).addClass('checked');
                    jQuery(this).find('.ckbox, .fm-group').show();
                });
                enable_itemopt(true);
            } else {
                jQuery('.thmb').each(function () {
                    jQuery(this).find('input').attr('checked', false);
                    jQuery(this).removeClass('checked');
                    jQuery(this).find('.ckbox, .fm-group').hide();
                });
                enable_itemopt(false);
            }
        });

        function enable_itemopt(enable) {
            if (enable) {
                jQuery('.itemopt').removeClass('disabled');
            } else {

                // check all thumbs if no remaining checks
                // before we can disabled the options
                var ch = false;
                jQuery('.thmb').each(function () {
                    if (jQuery(this).hasClass('checked'))
                        ch = true;
                });

                if (!ch)
                    jQuery('.itemopt').addClass('disabled');
            }
        }

        //Replaces data-rel attribute to rel.
        //We use data-rel because of w3c validation issue
        jQuery('a[data-rel]').each(function () {
            jQuery(this).attr('rel', jQuery(this).data('rel'));
        });






    </script>


</body>
</html>





<style>

    div::-webkit-scrollbar {
        width: 24px;
        background-color: #fff;
    }

    div::-webkit-scrollbar-thumb {
        background-color: #8bcee2;
        border-radius: 0px;
    }

        div::-webkit-scrollbar-thumb:hover {
            background-color: #8bcee2;
            border: 1px solid #333333;
        }

        div::-webkit-scrollbar-thumb:active {
            background-color: #8bcee2;
            border: 1px solid #1d2939;
        }




    .datetimepicker table {
        width: 100%;
        margin: 0;
    }

    .datetimepicker.dropdown-menu {
        width: 18em;
        height: auto;
        font-size: 30px;
    }

    #contextmenu-node {
        position: absolute;
        background-color: white;
        border: solid #CCCCCC 1px;
    }

    .contextmenu-item {
        margin: 0.5em;
        padding-left: 0.5em;
    }

        .contextmenu-item:hover {
            background-color: #CCCCCC;
            cursor: default;
        }

    .form-group-alt {
        overflow-y: scroll !important;
        height: 100%;
        max-height: 100%;
    }

    .form-group-alt2 {
        /*overflow-y: scroll !important;*/
        height: 100%;
        max-height: 100%;
    }

    #header {
        width: 100%;
        height: 50px;
        position: fixed;
        top: 0;
        z-index: 100;
        box-shadow: -1px -4px 20px 12px rgba(12,12,12,0.13);
        margin-left: 0px;
    }

    #content {
        width: 100%;
        margin: 0 auto;
        padding-right: 0;
        padding-left: 0;
        padding-top: 51px;
        z-index: 0;
        /*border:solid;border-width:2px;border-color:blue;*/ /*test*/
    }

    #footer {
        width: 100%;
        /*height: 75px;*/
        background: white !important;
        position: fixed;
        bottom: 0;
        z-index: 100;
        padding: 5px;
        box-shadow: -1px -4px 20px 12px rgba(12,12,12,0.13);
        margin-left: 0px;
    }


    .mainpanel-sf {
        background: #e4e7ea;
        /*min-height: 1000px;*/
        height: 100%;
    }

    #docHeader {
        width: 100%;
        /*height: 150px;*/
        position: fixed;
        z-index: 100;
    }

    #docBody {
        /*width: 41.66%;*/ /*col-md-5*/
        /* top: 380px;*/
        position: fixed;
        z-index: 0;
        /*overflow-y: scroll !important;*/
        /*height:150px;*/
        /*border:solid;border-width:2px;border-color:blue;*/ /*test*/
    }

    .table {
        margin-bottom: 0px;
        background-color: white;
    }

    .blink {
        animation: blink-animation 1s steps(5, start) infinite;
        -webkit-animation: blink-animation 1s steps(5, start) infinite;
    }

    @keyframes blink-animation {
        to {
            visibility: hidden;
        }
    }

    @-webkit-keyframes blink-animation {
        to {
            visibility: hidden;
        }
    }

    .red {
        color: red;
    }
</style>
