﻿<!DOCTYPE html>
<html lang="it">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <title>SFO Fasi</title>

    <link href="css/style.default.css" rel="stylesheet">
    <link href="css/jquery.datatables.css" rel="stylesheet">
    <link rel="stylesheet" href="css/jquery.tagsinput.css" />
    <link rel="stylesheet" href="css/colorpicker.css" />
    <link rel="stylesheet" type="text/css" href="css/tree-control.css">
    <link rel="stylesheet" href="css/dropzone.css" />
    <link rel="stylesheet" href="css/select2.css">
    <link rel="stylesheet" href="css/selectize.default.css">
    <link rel="stylesheet" href="css/select.css" />
    <link rel="stylesheet" href="css/bootstrap337.css" />
    <link rel="stylesheet" href="css/bootstrap-sidebar.css" />
    <link rel="stylesheet" href="css/_bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/_bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="css/prettyPhoto.css" />
    <link rel="stylesheet" href="css/jquery.fancybox.css" />
    <link rel="stylesheet" href="css/angular-growl.css" />
    <link rel="stylesheet" href="css/angular-virtual-keyboard.css" />

</head>
<body ng-app="AppMacchineRuntime" id="bodyTest">
    <!-- Preloader -->
    <div id="preloader">
        <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
    </div>
    <div style="overflow:hidden !important;background-color:white" ng-controller="SfoFasiCtrl">

        <div ng-hide="!isLoaderActiveWrite" class="overlay-loader-write"></div>
        <div ng-hide="!isLoaderActiveWrite" class="overlay-gray"></div>
        <div ng-hide="!isLoaderActiveRead" class="overlay-loader-read"></div>
        <div ng-hide="!isLoaderActiveRead" class="overlay-gray"></div>

        <!-- toppanel -->
        <div id="header" class="row headerbar" ng-class="{'batchAlarm' : currentItem.stato === 'inLavorazioneInEmergenza'}">
            <!--, navbar-fixed-top-->
            <div class="pageheader col-md-10">
                <h2>
                    <i class="fa fa-list-alt"></i> {{batch.commessa}}
                    <!--<span ng-class="{'s1alt' : currentItem.stato === 'inLavorazioneInEmergenza', 's1' : currentItem.stato !== 'inLavorazioneInEmergenza'}">Shop Floor Order</span>-->
                    <!--<span class="s2">{{batch.odP}}, {{batch.materiale.codice}}</span>-->
                    <!--<span class="s3"> avviato il: {{batch.inizio | date: 'dd/MM/yyyy HH:mm:ss'}}</span>-->
                    <span ng-class="{'s2alt' : currentItem.stato === 'inLavorazioneInEmergenza', 's2' : currentItem.stato !== 'inLavorazioneInEmergenza'}">{{batch.odP}}, {{batch.revisione}}</span>
                    <span ng-class="{'s3alt' : currentItem.stato === 'inLavorazioneInEmergenza', 's3' : currentItem.stato !== 'inLavorazioneInEmergenza'}"> avviato il: {{batch.inizio | date: 'dd/MM/yyyy HH:mm'}}</span>
                    <span ng-show="currentItem.stato === 'inLavorazioneInEmergenza' " ng-class="{'s3alt' : currentItem.stato === 'inLavorazioneInEmergenza', 's3' : currentItem.stato !== 'inLavorazioneInEmergenza'}"> in Emergenza da:  </span>
                    <i ng-show="currentItem.stato === 'inLavorazioneInEmergenza' &&  timeAllarme.hh===1" ng-class="{'s3alt' : currentItem.stato === 'inLavorazioneInEmergenza', 's3' : currentItem.stato !== 'inLavorazioneInEmergenza'}" style="font-size: 28px; text-transform: none;color: #ffffff; font-style: italic; vertical-align: middle; letter-spacing: 0;"> {{timeAllarme.hh}} Ora  </i>
                    <i ng-show="currentItem.stato === 'inLavorazioneInEmergenza' &&  timeAllarme.hh>1" ng-class="{'s3alt' : currentItem.stato === 'inLavorazioneInEmergenza', 's3' : currentItem.stato !== 'inLavorazioneInEmergenza'}" style="font-size: 28px; text-transform: none;color: #ffffff; font-style: italic; vertical-align: middle; letter-spacing: 0;"> {{timeAllarme.hh}} Ore  </i>
                    <i ng-show="currentItem.stato === 'inLavorazioneInEmergenza' &&  timeAllarme.mm===1" ng-class="{'s3alt' : currentItem.stato === 'inLavorazioneInEmergenza', 's3' : currentItem.stato !== 'inLavorazioneInEmergenza'}" style="font-size: 28px; text-transform: none;color: #ffffff; font-style: italic; vertical-align: middle; letter-spacing: 0;"> {{timeAllarme.mm}} Minuto  </i>
                    <i ng-show="currentItem.stato === 'inLavorazioneInEmergenza' &&  timeAllarme.mm>1" ng-class="{'s3alt' : currentItem.stato === 'inLavorazioneInEmergenza', 's3' : currentItem.stato !== 'inLavorazioneInEmergenza'}" style="font-size: 28px; text-transform: none;color: #ffffff; font-style: italic; vertical-align: middle; letter-spacing: 0;"> {{timeAllarme.mm}} Minuti  </i>
                    <i ng-show="currentItem.stato === 'inLavorazioneInEmergenza' && timeAllarme.mm<1" ng-class="{'s3alt' : currentItem.stato === 'inLavorazioneInEmergenza', 's3' : currentItem.stato !== 'inLavorazioneInEmergenza'}" style="font-size: 28px; text-transform: none;color: #ffffff; font-style: italic; vertical-align: middle; letter-spacing: 0;"> {{timeAllarme.ss}} Secondi </i>
                </h2>
            </div>
            <div class="col-md-2" ng-controller="AccessiCtrl" ng-include="'top-side.html'">

            </div>
        </div>

        <div class="row, contentpanel" id="content" style="overflow:hidden !important">
            <!--==============================================================================================================================-->
            <div class="form-group-alt col-md-3" id="sidebar" style="border:1px solid;height:100%">

                <table style="width:100%">
                    <!--https://github.com/wix/angular-tree-control-->
                    <tr>
                        <td id="trId">
                            <treecontrol class="tree-boot"
                                         tree-model="dataForTheTree"
                                         options="treeOptions"
                                         on-selection="showSelected(node)"
                                         ng-dblclick="nodeDoubleClick()"
                                         expanded-nodes="defaultExpanded"
                                         selected-node="selectedNode">

                                <span ng-switch="" on="node.tipo">
                                    <span ng-switch-when="-1" class="fa fa-gear" aria-hidden="true"></span>
                                    <span ng-switch-when="1" class="fa fa-gears" aria-hidden="true"></span>
                                    <span ng-switch-when="0" class="fa fa-tag" aria-hidden="true"></span>
                                </span>

                                {{node.nome}}

                                <span ng-switch="" on="node.statoOperativo" style="float:right;font-size:50px">
                                    <span ng-switch-when="inLavorazione" class="fa fa-play" aria-hidden="true" style="color:green"></span>
                                    <span ng-switch-when="inLavorazioneInPausa" class="fa fa-pause" aria-hidden="true" style="color:sandybrown"></span>
                                    <span ng-switch-when="terminato" class="fa fa-check" aria-hidden="true" style="color:black"></span>
                                    <span ng-switch-when="abortito" class="fa fa-stop" aria-hidden="true"></span>
                                    <span ng-switch-when="inLavorazioneInEmergenza" class="fa fa-warning" aria-hidden="true" style="color:red"></span>
                                    <span ng-switch-when="inLavorazioneInIdle" class="fa fa-flag" aria-hidden="true" style="color:yellow"></span>
                                    <span ng-switch-when="terminatoParzialmente" class="fa fa-check-circle" aria-hidden="true" style="color:blue"></span>
                                    <span ng-switch-when="inSospensione" class="fa fa-hand" aria-hidden="true" style="color:#65350F"></span>
                                    <!--<span ng-switch-when="inAttesa" class=" fa fa-mail-forward" aria-hidden="true"></span>-->
                                </span>
                            </treecontrol>
                        </td>
                        <!--<td style="vertical-align:top">

                            <button ng-disabled="!sidebar2Show" type="button" id="sidebarCollapse" class="btn btn-info" style="font-size:35px;padding-left:10px;margin-right:-20px;margin-left:10px">
                                <i class="glyphicon glyphicon-align-left"></i>
                            </button>
                        </td>-->
                    </tr>
                </table>

            </div>


            <!--==============================================================================================================================-->
            <!--isEnabledDettagliFase-->
            <div class="form-group-alt2 col-md-7">

                <div class="row" id="rowAvanzamenti" ng-show="isEnabledDettagliFase">
                    <div style="padding-top: 5px;padding-bottom: 5px;" class="col-md-10">
                        <!--<button style="font-size: 35px;margin-left:10px;" class="btn btn-danger" ng-disabled="!btnStateAbort" style="color:white;" ng-click="changeState('8');"><span class="fa fa-stop" style="color:white;"></span> Abortisci</button>-->
                        <!--<div class="row">
                                                <label class="control-label" style="font-size: 20px; font-weight:bold; margin-bottom:0px;float:left">Tempo teorico: </label>
                        <input ng-disabled="true" class="btn btn-default " type="text" style="font-size: 13px; width:120px; " ng-model="tempiTeoriciDistintaBaseFase" />

                        <label class="control-label" style="font-size: 20px; font-weight:bold; margin-bottom:0px;float:left">Tempo effettivo: </label>
                        <input ng-disabled="true" class="btn btn-default " type="text" style="font-size: 13px; width:120px; " ng-model="tempiEffettivoDistintaBaseFase" />

                        <label class="control-label " style="font-size: 20px; font-weight:bold; margin-bottom:0px;float:left">Stato: </label>
                        <input ng-disabled="true" class="btn btn-default " type="text" style="font-size: 13px; width:120px; " ng-model="selectedBatchPhase.stato" />

                                            </div>-->

                        <h4><span style="font-weight:bold;">Tempo teorico: {{tempiTeoriciDistintaBaseFase}},Tempo effettivo: {{tempiEffettivoDistintaBaseFase}}, Stato: {{selectedBatchPhase.stato}} </span> </h4>
                        <h4><span style="font-weight:bold;" class="blink red">{{selectedBatchPhase.distintaBaseFase.campo5}}</span></h4>
                        <div class="row" ng-if="(selectedBatchPhase.distintaBaseFase.abilitaVersamentiManuali || selectedBatchPhase.distintaBaseFase.abilitaVersamentiAutomatici)">
                            <label class="control-label col-md-3 " style="font-size: 20px; font-weight:bold; margin-bottom:0px;float:left">Quantità pianificata: </label>
                            <input class="btn btn-default col-md-1 " numeric-keyboard-input="" ng-disabled="true" id="Text1" type="text" style="font-size: 13px; width:120px; " ng-model="selectedBatchPhase.pezziPianificati" />

                        </div>
                        <div class="row" ng-if="(selectedBatchPhase.distintaBaseFase.abilitaVersamentiManuali || selectedBatchPhase.distintaBaseFase.abilitaVersamentiAutomatici) && !abilitaFaseTerminataParzialmente">
                            <label class="control-label col-md-3" style="font-size: 20px; font-weight:bold;  margin-bottom:0px;">Quantità effettiva:</label>
                            <button ng-show="selectedBatchPhase.distintaBaseFase.abilitaVersamentiManuali" id="bminus" class="btn btn-default col-md-1" style="font-size: 13px; width:auto" ng-click="numpadMinus();"><span class="fa fa-minus-square" style="margin-left:10px;margin-right:15px;"></span></button>
                            <input class="btn btn-default col-md-2" id="Text1" type="text" style="font-size: 13px; width:120px; " ng-model="selectedBatchPhase.pezziProdotti" ng-virtual-keyboard="{kt: 'Numerico'}" />
                            <button ng-show="selectedBatchPhase.distintaBaseFase.abilitaVersamentiManuali" id="bbplus" class="btn btn-default col-md-1" style="font-size: 13px; width:auto" ng-click="numpadPlus();"><span class="fa fa-plus-square" style="margin-left:10px;margin-right:15px;"></span></button>
                        </div>
                        <div class="row" ng-if="(selectedBatchPhase.distintaBaseFase.abilitaVersamentiManuali || selectedBatchPhase.distintaBaseFase.abilitaVersamentiAutomatici) && abilitaFaseTerminataParzialmente">
                            <label class="control-label col-md-3" style="font-size: 20px; font-weight:bold;  margin-bottom:0px;">Quantità Parziale:</label>
                            <button ng-show="selectedBatchPhase.distintaBaseFase.abilitaVersamentiManuali" ng-disabled="selectedBatchPhase.stato != 'inLavorazione'" id="bminus" class="btn btn-default col-md-1" style="font-size: 13px; width:auto" ng-click="numpadMinusPart();"><span class="fa fa-minus-square" style="margin-left:10px;margin-right:15px;"></span></button>
                            <input class="btn btn-default col-md-2" onblur="updatePezziProdotti()" id="Text1" type="text" style="font-size: 13px; width:120px; " ng-model="selectedBatchPhase.pezziParziali" ng-virtual-keyboard="{kt: 'Numerico'}" ng-disabled="selectedBatchPhase.stato != 'inLavorazione'" />
                            <button ng-show="selectedBatchPhase.distintaBaseFase.abilitaVersamentiManuali" ng-disabled="selectedBatchPhase.stato != 'inLavorazione'" id="bbplus" class="btn btn-default col-md-1" style="font-size: 13px; width:auto" ng-click="numpadPlusPart();"><span class="fa fa-plus-square" style="margin-left:10px;margin-right:15px;"></span></button>
                            <label class="control-label col-md-3" style="font-size: 20px; font-weight:bold;  margin-bottom:0px;">Quantità Tot Versata:</label>
                            <input class="btn btn-default col-md-2" id="Text2" type="text" style="font-size: 13px; width:120px; " ng-disabled="true" ng-model="selectedBatchPhase.pezziProdotti" ng-virtual-keyboard="{kt: 'Numerico'}" ng-disabled="selectedBatchPhase.stato != 'inLavorazione'" />
                        </div>
                        <!--PEZZI VERSATI  =============================fa-plus-square======================== -->
                    </div>
                    <div style="background-color:white;padding-left:20px;padding-top: 5px;padding-bottom: 5px; height: 100%;" class="col-md-2">
                        <label class="col-md-12" style="font-size: 20px; font-weight:bold;  margin-bottom:0px;">OEE {{currentItem.oee}} %</label>
                    </div>

                    <div style="border-top:2px solid gray" class="col-md-12"></div>
                    <div class="column" style="background-color:white;display:grid;padding-left:20px;">
                        <h4>
                            <span ng-hide="selectedBatchPhase.stato == 'inAttesa'" style="font-weight:bold; margin:0px;padding:0px;color:gray">Avviata il: {{selectedBatchPhase.inizio | date: 'dd/MM/yyyy HH:mm:ss'}}</span>
                            <span ng-hide="selectedBatchPhase.stato != 'terminato'" style="font-weight:bold; margin:0px;padding:0px;color:gray"> &nbsp; &nbsp; &nbsp; Conclusa il: {{selectedBatchPhase.fine | date: 'dd/MM/yyyy HH:mm:ss'}}</span>
                        </h4>
                        <h4 ng-hide="(!selectedBatchPhase.isCiclica) || selectedBatchPhase.stato == 'inAttesa'">
                            <span style="font-weight:bold; margin:0px;padding:0px;color:gray">Numero pezzi prodotti: {{selectedBatchPhase.pezziProdotti}} &nbsp; &nbsp; di: {{selectedBatchPhase.pezziPianificati}} &nbsp; &nbsp; &nbsp; avanzamento %: {{(selectedBatchPhase.pezziProdotti/selectedBatchPhase.pezziPianificati*100).toFixed(2)}}</span>
                        </h4>
                    </div>
                </div>

                <div id="rowPulsanti" class="row" style="padding-left:10px;padding-top:10px;background:#8bcee2;padding-bottom: 10px;box-shadow: 0px 5px 5px rgba(12,12,12,0.13);">
                    <div layout="column" layout-align="center center">
                        <button id="b3" class="btn btn-default" style="font-size: 25px; width:auto;margin-right:10px;" ng-click="switchDetail(this,'2');"><span class="fa fa-list-ol" style="margin-right:15px;"></span>Parametri</button>
                        <button id="b2" ng-show="isEnabledMateriali" class="btn btn-default" style="font-size: 25px; width:auto;margin-right:10px;" ng-click="switchDetail(this,'1');"><span class="fa fa-folder-open" style="margin-right:15px;"></span>Materiali</button>
                        <button id="b1" ng-show="isEnabledMultimedia" class="btn btn-default" style="font-size: 25px; width:auto;margin-right:10px;" ng-click="switchDetail(this,'0');"><span class="fa fa-camera" style="margin-right:15px;"></span>Multimedia</button>
                        <button id="b4" ng-show="true" class="btn btn-default" style="font-size: 25px; width:auto;margin-right:10px;" ng-click="switchDetail(this,'3');"><span class="fa fa-pencil" style="margin-right:15px;"></span>Pezzi Scarto <span ng-show="pzScaNotUnjustified>0" class="badge badge-danger ml-2">{{pzScaNotUnjustified}}</span></button>
                        <button id="b5" ng-show="shDetail=='3'" class="btn btn-default pull-right" style="font-size: 25px; width:auto;margin-right:10px;" data-toggle="modal" data-target="#modalConfirmAddPzSca"><span class="fa fa-plus" style="margin-right:15px;"></span>Aggiungi Pezzi</button>
                        <button id="b5" ng-show="shDetail=='3' && preliovocomponenti.isEnable" class="btn btn-default pull-right" style="font-size: 25px; width:auto;margin-right:10px;" data-toggle="modal" data-target="#modalConfirmAddPzScaComponent"><span class="fa fa-plus" style="margin-right:15px;"></span>Scarta Componente</button>
                        <button id="b6" ng-show="preliovocomponenti.isEnable" class="btn btn-default" style="font-size: 25px; width:auto;margin-right:10px;" ng-click="switchDetail(this,'4');"><span class="fa fa-gear" style="margin-right:15px;"></span>Componenti </button>
                        <button id="b7" ng-show="shDetail=='4'" class="btn btn-default pull-right" style="font-size: 25px; width:auto;margin-right:10px;" data-toggle="modal" data-target="#modalConfirmAddPzComponent"><span class="fa fa-plus" style="margin-right:15px;"></span>Aggiungi Componente</button>
                        <button id="b8" class="btn btn-default" style="font-size: 25px; width:auto;margin-right:10px;" ng-click="switchDetail(this,'6');"><span class="fa fa-warning" style="margin-right:15px;"></span>Fermi <span ng-show="fermiNotUnjustified>0" class="badge badge-danger ml-2">{{fermiNotUnjustified}}</span></button>
                    </div>
                </div>






                <div class="row" style="border-left:solid 1px whitesmoke">
                    <!--==============================================================================================================================-->
                    <!-- ELENCO ELEMENTI MULTIMEDIALI -->
                    <!--==============================================================================================================================-->
                    <div ng-show="shDetail=='0'">
                        <div class="row filemanager">
                            <div ng-repeat="item in multimediaPerFase" class="col-xs-6 col-sm-4 col-md-3">
                                -
                                <div class="thmb" ng-switch="" on=item.tipo>
                                    <!--Immagine-->
                                    <a ng-switch-when="immagine" data-fancybox data-type="iframe" data-src="{{item.url}}" href="{{item.url}}">
                                        <div class="thmb-prev">
                                            <img src="images/photos/media-image.png" class="img-responsive" />
                                        </div>
                                        <h5 class="fm-title" style="font-size: 26px;"> {{item.descrizione}}</h5>
                                    </a>

                                    <!--Pdf-->
                                    <a ng-switch-when="pdf" data-fancybox data-type="iframe" data-src="{{item.url}}" href="{{item.url}}">
                                        <div class="thmb-prev">
                                            <img src="images/photos/media-pdf.png" class="img-responsive" />
                                        </div>
                                        <h5 class="fm-title" style="font-size: 26px;"> {{item.descrizione}}</h5>
                                    </a>

                                    <div class="thmb-prev" ng-switch-when="none">
                                        <img src="images/close-white.png" class="img-responsive" alt="" style="height:60px" />
                                        <h5 class="fm-title" style="font-size: 26px;"> {{item.descrizione}}</h5>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!--==============================================================================================================================-->
                    <!-- ELENCO MATERIALI -->
                    <!--==============================================================================================================================-->
                    <div ng-show="shDetail=='1'">
                        <input id="txtBarcode" type="text" ng-show="abilitabarcode" ng-model="barcode" ng-keypress="onKeyPress($event);"
                               style="padding-left:70px; width:100%;font-size:34px;float:left;background:url('images/honeywell-barcode-icon-1.png') no-repeat left; background-color:white; background-size:7%;" />
                        <div id="tableMateriali" style="width:auto; overflow-x:  scroll; overflow-y:scroll;">

                            <!--<div id="tableMateriali" style="width:auto;height:100%; overflow-x:scroll; overflow-y:scroll;border:1px solid whitesmoke;">-->
                            <table class="table table-email" border="0">

                                <tr ng-repeat="item in materialiPerFase track by item.barcode" style="display:table-row">
                                    <td>
                                        <div class="ckbox ckbox-success">
                                            <input type="checkbox" id={{item.barcode}}
                                                   ng-checked="item.batchMaterialiStato==='completato'"
                                                   ng-click="clickBatchFaseMateriale(this)"
                                                   ng-disabled="true">
                                            <label for={{item.materiale.id}}></label>
                                        </div>
                                    </td>
                                    <td style="width: 60px;">
                                        <div class="media">
                                            <h4>
                                                <span style="font-size:24px">{{item.qntEffettiva}} </span>
                                                <span style="font-size:16px">{{item.materiale.um}}</span>
                                            </h4>
                                            <span>di  <span style="font-size:18px;">{{item.qntPrevista}}</span></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div ng-switch="" on=item.batchMaterialiTipo>
                                            <img style="width:30px;" ng-switch-when="carico" src="images/mat-carico.png" />
                                            <img style="width:30px;" ng-switch-when="scarico" src="images/mat-scarico.png" />
                                        </div>
                                    </td>

                                    <td>
                                        <div class="media">
                                            <div class="media-body">
                                                <h4 style="font-size:150%" class="text-primary">{{item.materiale.codice}}</h4>
                                                <small class="text-muted">Barcode:{{item.barcode}} <span ng-show="(item.tipoGestione === 'rfid')">,Rfid: {{item.barcodeRfid}}</span></small>

                                                <p class="email-summary"><strong>{{item.materiale.descrizione}} - {{item.fase.nome}}</strong></p>

                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div ng-show="(item.tipoGestione === 'rfid') && (item.tagAzione === 'scrittura')">
                                            <img style="width:30px;" src="images/logo-rfid.png" class="pull-right" ng-class="{'blink-image': item.isOnAction}" />
                                            <a class="btn btn-success pull-right" ng-click="clickSendBarcode(item.barcodeRfid, true, item )">Scrivi</a>
                                        </div>
                                    </td>
                                    <td>
                                        <div ng-show="(item.tipoGestione === 'rfid') && (item.tagAzione === 'lettura')">
                                            <img style="width:30px;" src="images/logo-rfid.png" class="pull-right" />
                                            <a class="btn btn-info pull-right" ng-click="clickReadBarcode(item.barcodeRfid, true, item)">Leggi</a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>

                    </div>

                    <!--==============================================================================================================================-->
                    <!-- ELENCO PARAMETRI -->
                    <!--==============================================================================================================================-->
                    <div ng-show="shDetail=='2'">
                        <div id="tableParametri" style="width:auto; overflow-x:  scroll; overflow-y:scroll; border:1px solid black;">
                            <table class="table " border=0">
                                <tr ng-repeat="item in currentItem.distintaBase.distintaBaseParametri  | filter:{visibilita:true} | orderBy:['ordineIdx','nome'] " style="display:table-row">
                                    <td>
                                        <h4 style="font-size:240%" class="text-primary">{{item.nome}}=</h4>

                                    </td>
                                    <td>

                                        <h4>
                                            <span style="font-size:240%">{{item.valoreDefault}} </span>
                                            <span style="font-size:16px">{{item.unitaDiMisura.item.nome}}</span>
                                        </h4>

                                    </td>
                                </tr>
                                <tr ng-show="selectedPhase.macchine[0].macchina.item.nome!=null">
                                    <td>
                                        <h4 style="font-size:240%" class="text-primary">Macchina Selezionata</h4>
                                    </td>
                                    <td>
                                        <h4>
                                            <span style="font-size:240%">{{selectedPhase.macchine[0].macchina.item.nome}} </span>
                                        </h4>
                                </tr>
                                <tr>
                                    <td>
                                        <h4 style="font-size:240%" class="text-primary">Data Obiettivo</h4>
                                    </td>
                                    <td>
                                        <h4>
                                            <span style="font-size:240%">{{batch.odV_DataConsegna| date: 'dd/MM/yyyy'}} </span>
                                        </h4>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <!--==============================================================================================================================-->
                    <!--GIUSTIFICA SCARTI -->
                    <!--==============================================================================================================================-->
                    <div ng-show="shDetail=='3'">

                        <div id="tableScarti" style="width:auto;height:70%; overflow-x:scroll; overflow-y:scroll;border:1px solid whitesmoke;margin-bottom: 110px;">
                            <table class="table table-email" border="0" style="height:50%;">
                                <tr>
                                    <th style="font-size:24px"> </th>
                                    <th style="font-size:24px">Nome.Macchina</th>
                                    <th style="font-size:24px">Data Ora Evento</th>
                                    <th style="font-size:24px">Cod.Materiale</th>
                                    <th style="font-size:24px">Tipo Causale</th>
                                    <th style="font-size:24px">Quantità</th>
                                    <!--<th style="font-size:24px">Unità Misuta</th>-->
                                    <th style="font-size:24px"></th>

                                </tr>
                                <tr ng-repeat="item in currentItem.eventi | filter: { tipoEvento: 'qta_pzsca' }" style="display:table-row">
                                    <td>

                                        <input class="ckbox ckbox-primary" type="checkbox" id={{item.id}} ng-click="ChangeButtonModification(item)" />
                                        <label for="isDisabled"></label>
                                    </td>
                                    <td>
                                        <div class="media">
                                            <h4>
                                                <span style="font-size:20px">{{item.macchina.item.codice}} </span>
                                            </h4>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="media">
                                            <h4>
                                                <span style="font-size:20px">{{item.oraEvento | date: 'dd/MM/yyyy hh:mm:ss'}}</span>
                                            </h4>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="media">
                                            <h4>
                                                <span style="font-size:20px">{{item.materiale.item.nome}}</span>
                                            </h4>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="media">
                                            <h4>
                                                <span style="font-size:20px">{{item.tipoValore.item.descrizione}}</span>
                                            </h4>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="media">
                                            <h4>
                                                <span style="font-size:20px">{{item.valore}} {{item.unitaDiMisura.item.nome}}</span>
                                            </h4>
                                        </div>
                                    </td>
                                    <!--<td>
                                        <div class="media">
                                            <h4>
                                                <span style="font-size:20px">{{item.unitaDiMisura.item.nome}}</span>
                                            </h4>
                                        </div>
                                    </td>-->


                                    <td>
                                        <button id="B{{item.id}}" disabled class="btn btn-default" style="line-height: 30px; font-size: 30px;" type="button" data-toggle="modal" data-target="#modalConfirmChangeStatePzSca"><span class="fa fa-pencil"></span></button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>


                    <!--==============================================================================================================================-->
                    <!--GIUSTIFICA Materie Prime-->
                    <!--==============================================================================================================================-->
                    <div ng-show="shDetail=='4'">

                        <div id="tableMatPrime" style="" height:70%; overflow-x:scroll; overflow-y:scroll;border:1px solid whitesmoke;margin-bottom: 110px;">
                            <table class="table table-email" border="0" style="height:50%;">
                                <tr>
                                    <th style="font-size:24px"> </th>
                                    <th style="font-size: 24px; width: 25%;">Data Ora Evento</th>
                                    <!--<th style="font-size:24px">Fase</th>-->
                                    <th style="font-size: 24px; width: 55%;">Materiale</th>
                                    <th style="font-size: 24px; width: 20%;">Quantità</th>
                                    <!--<th style="font-size:24px">Unità Misuta</th>-->
                                    <th style="font-size:24px"></th>

                                </tr>
                                <tr ng-repeat="item in currentItem.eventi | filter: { tipoEvento: 'qta_prelievo' } | filter: { faseId: selectedPhase.id}" style="display:table-row">
                                    <td>

                                        <input class="ckbox ckbox-primary" disabled type="checkbox" id={{item.id}} />
                                        <label for="isDisabled"></label>
                                    </td>
                                    <td>
                                        <div class="media">
                                            <h4>
                                                <span style="font-size:20px">{{item.oraEvento | date: 'dd/MM/yyyy hh:mm:ss'}}</span>
                                            </h4>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="media">
                                            <h4>
                                                <span style="font-size:20px">{{item.materiale.item.descrizione}}</span>
                                            </h4>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="media">
                                            <h4>
                                                <span style="font-size:20px">{{item.valore}}{{item.unitaDiMisura.item.nome}} </span>
                                            </h4>
                                        </div>
                                    </td>
                                    <td>
                                        <button id="B{{item.id}}" disabled class="btn btn-default" style="line-height: 30px; font-size: 30px;" type="button" data-toggle="modal"><span class="fa fa-pencil"></span></button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <!--==============================================================================================================================-->
                    <!--GIUSTIFICA FERMI-->
                    <!--==============================================================================================================================-->
                    <div ng-show="shDetail=='6'">
                        <div id="tableFermi" style="width:auto;height:70%; overflow-x:scroll; overflow-y:scroll;border:1px solid whitesmoke;margin-bottom: 110px;">
                            <table class="table table-email" border="0" style="height:50%;">
                                <tr>
                                    <th style="font-size:18px"> </th>
                                    <th style="font-size:18px">Inizio fermo</th>
                                    <th style="font-size:18px">Fine fermo</th>
                                    <th style="font-size:18px">Totale tempo</th>
                                    <th style="font-size:18px">Causale</th>
                                    <th style="font-size:18px">Operatore blocco</th>
                                    <th style="font-size:18px">Operatore sblocco</th>
                                    <th style="font-size:18px">Turno</th>
                                    <th style="font-size:24px"></th>
                                </tr>
                                <tr ng-repeat="item in currentItem.fermi | filter: { numeroFase: selectedPhase.id}" style="display:table-row">
                                    <td>
                                        <input class="ckbox ckbox-primary" type="checkbox" id={{item.id}} ng-click="ChangeButtonModificationFermi(item)" />
                                        <label for="isDisabled"></label>
                                    </td>
                                    <td>
                                        <h4>
                                            {{replaceDate(item.inizio | date: 'dd/MM/yyyy hh:mm:ss')}}
                                        </h4>
                                    </td>
                                    <td>
                                        <h4>
                                            {{replaceDate(item.fine | date: 'dd/MM/yyyy hh:mm:ss')}}
                                        </h4>
                                    </td>
                                    <td>
                                        <h4>
                                            {{item.totaleTempo}}
                                        </h4>
                                    </td>
                                    <td>
                                        <h4>
                                            {{item.causaliRiavvio.item.causale}}
                                        </h4>
                                    </td>
                                    <td>
                                        <h4>{{item.userLocked}}</h4>
                                    </td>
                                    <td>
                                        <h4>{{item.userUnLocked}}</h4>
                                    </td>
                                    <td>
                                        <h4>{{item.turno.nome}}</h4>
                                    </td>
                                    <td>
                                        <button id="B{{item.id}}" disabled class="btn btn-default" style="line-height: 30px; font-size: 30px;" type="button" data-toggle="modal" data-target="#modalConfirmChangeStateFermi"><span class="fa fa-pencil"></span></button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <div class="form col-md-2" style="border-left:1px solid;height: 100%">
                <button ng-hide="(selectedBatchPhase.stato == 'terminato') || (!abilitaAvanzamentiStar) || stateBatchInEmergenza" style="background-color:#00c936 !important;margin-top:5px;font-size: 30px;" class="btn btn-success pull-left col-md-12" ng-disabled="!btnStateStart" ng-click="changeStateToStart('2');"><span class="fa fa-play"></span> Start</button>
                <button ng-hide="(selectedBatchPhase.stato != 'terminato' )|| (!abilitaAvanzamentiStar) || stateBatchInEmergenza" style="background-color:#00c936 !important;margin-top:5px;font-size: 30px;" class="btn btn-success pull-left col-md-12" ng-disabled="!btnStateStart" data-toggle="modal" data-target="#modalRestartFase"><span class="fa fa-play"></span> Start</button>
                <button ng-hide="!stateBatchInEmergenza" ng-click="openingModalSetCausaleEmergenza();changeStateToStart('2');" data-toggle="modal" data-target="#modalSetCausaleEmergenza" style="background-color:#00c936 !important;margin-top:5px;font-size: 30px;" class="btn btn-success pull-left col-md-12" data-toggle="modal" data-target="#modalRestartFase"><span class="fa fa-play"></span> Start</button>
                <button ng-hide="!abilitaAvanzamentiPausa" style="background-color: #FF851B !important;margin-top:5px;font-size: 30px;" class="btn btn-warning pull-left col-md-12" ng-disabled="!btnStatePause" ng-click="changeState('3');"><span class="fa fa-pause"></span> Pausa</button>
                <button ng-hide="!abilitaAvanzamentiStop" style="margin-top:5px;font-size: 30px; color:white; background-color: #0074D9 !important;" class="btn btn-primary pull-left col-md-12" ng-disabled="!btnStateConcludi" data-toggle="modal" data-target="#modalClosePhase"><span class="fa fa-check" style="color:white;"></span> Concludi</button>

                

                <div ng-show="abilitaPulsanteEmergenza">
                    <div class="col-md-12" style="border-top:2px solid gray;margin-top:15px;"></div>
                    <button class="btn btn-danger pull-left col-md-12" style="margin-top:15px;line-height:40px;font-size:20px; background-color: #FF0000 !important;" ng-click="changeStateBatch('5');" ng-disabled="!stateBatchEmergenza"><span class="fa fa-warning" style="margin-right:15px;"></span>EMERGENZA</button>
                    <div class="col-md-12" style="border-top:2px solid gray;margin-top:15px;"></div>
                    <!--<button ng-hide="!checkIfIncompleteBatch()" class="btn pull-left btn-darkblue col-md-12" data-target="#modalSetManutenzione" style="background-color: #FF851B !important;margin-top:15px;line-height:40px; font-size: 20px;color:white" data-toggle="modal" data-target="#modalDropBatch"><span class="fa fa-wrench" style="margin-right:15px;"></span>Richiedi Manutenzione</button>-->
                    <button ng-hide="!checkIfIncompleteBatch()" class="btn btn-darkblue pull-left col-md-12" style="margin-top:5px;line-height:40px; font-size: 20px;background-color: #111 !important;color:white" data-toggle="modal" data-target="#modalDropBatch" ng-disabled="!stateBatchStopProduzione"><span class="fa fa-stop" style="margin-right:5px;"></span>Chiudi Ordine</button>
                    <button ng-hide="checkIfIncompleteBatch()" class="btn btn-darkblue pull-left col-md-12" style="margin-top:5px;line-height:40px; font-size: 20px;" ng-click="changeStateBatch('7');" ng-disabled="!stateBatchStopProduzione"><span class="fa fa-stop" style="margin-right:15px;"></span>STOP PRODUZIONE</button>
                    <button style="background-color:#1a1918 !important; padding:12px; margin-top: 10px; font-size: 20px;" class="btn btn-darkblue pull-left col-md-12" data-toggle="modal" data-target="#modalConfirmSospendi"><span class="fa-solid fa-hand"></span> Sospendi</button>
                </div>
                <div class="col-md-12" style="border-top:2px solid gray;margin-top:15px;"></div>
                <!--<button class="btn pull-left btn-primary col-md-12" style="margin-top:15px;line-height:40px; font-size: 20px;background-color: #336E7B !important;"><span class="fa fa-sign-in" style="margin-right:15px;"></span>ENTRATA</button>
                <button class="btn pull-left btn-primary col-md-12" style="margin-top:5px;line-height:40px; font-size: 20px;background-color: #336E7B !important;"><span class="fa fa-sign-out" style="margin-right:15px;"></span>USCITA</button>-->
                <button class="btn pull-left col-md-12" id="btnIndietro" style=" position:absolute; bottom: 75px; left:15px;width:92%; line-height:40px;background-color: #b5b5b5 !important; margin-top:1 font-size: 20px;"><span class="fa fa-arrow-left" style="margin-right:15px;"></span>INDIETRO</button>
                <!--<a href="allsfo.html#?idMacchina={{idMacchina}}" class="btn btn-default col-md-12" style=" position:absolute; bottom:0;line-height:40px; font-size: 20px; right: 0;margin-right:15px"><span class="fa fa-arrow-left" style="margin-right:15px;"></span>INDIETRO</a>-->
                <!--<a href="allsfo.html#?idMacchina={{idMacchina}}" class="btn btn-default align-self-end btn-block col-md-12" style=" margin-top: auto;line-height:40px; font-size: 20px;"><span class="fa fa-arrow-left" style="margin-right:15px;"></span>INDIETRO</a>-->
            </div>
            <div>

            </div>
        </div>-->
        <div id="footer" class="row">
            <!--<div class="progress" ng-show="isVisibleProgressionPerc">-->
            <div class="progress">
                <span style="border: 0px solid lightgray" class="badge ">{{ currentItem.percCompletamento }} %</span>
                <div id="proBar" ng-class="{'progress-bar':true ,'progress-bar-success': currentItem.stato !== 'inLavorazioneInEmergenza',  'progress-bar-danger': currentItem.stato === 'inLavorazioneInEmergenza'}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%" ng-style="{width: currentItem.percCompletamento  + '%'}"></div>
            </div>
        </div>

        <!---------------------------------------------------------------------------------------------->
        <!-- Modal -->
        <div class="modal fade" id="modalConfirmAddPzSca" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h2 class="modal-title" id="myModalLabel">Aggiungi Elementi</h2>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="control-label">Causale</label>
                                <div class="form-group">
                                    <select class="form-control"
                                            ng-model="addPzSca[0].tipoValore.id" ng-disabled="false">
                                        <option class="chosen-choices" ng-repeat="causale in GetTipoValori| filter: { tipo: 'prod_cau_scarto'}" value="{{causale.id}}">
                                            {{causale.descrizione}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="control-label">Quantità</label>
                                <input type="text" name="nPzsca" class="form-control" ng-model="addPzSca[0].valore" />
                                <div class="form-group" style="width:80%; float:right;">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label class="control-label">Unità di Misura</label>
                                <div class="form-group">
                                    <select class="form-control"
                                            ng-model="addPzSca[0].UnitaDiMisura.id" ng-disabled="false">
                                        <option class="chosen-choices" ng-repeat="unita in GetUnitaDiMisura" value="{{unita.id}}">
                                            {{unita.nome}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="font-size:35px;float:left">Annulla</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="insertPiecesSca()" style="font-size:35px">Conferma</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modalConfirmChangeStateFermi" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h2 class="modal-title" id="myModalLabel">Giustifica Fermi</h2>
                    </div>
                    <div class="modal-body">
                        <div class="row" ng-show="arrayFermiChange.length >1">
                            <div class="col-sm-12">
                                <label class="control-label">
                                    Stai modificando {{arrayFermiChange.length}} fermi
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="control-label">Causale</label>
                                <div class="form-group">
                                    <select class="form-control"
                                            ng-model="arrayFermiChange[0].tipoValore.id" ng-disabled="false">
                                        <option class="chosen-choices" ng-repeat="causale in causaliRiavvio" value="{{causale.id}}"
                                                ng-selected="arrayFermiChange[0].tipoValore.id === causale.id">
                                            {{causale.causale}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="font-size:35px;float:left">Annulla</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="changeCasualBlock()" style="font-size:35px">Conferma</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalConfirmAddPzComponent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h2 class="modal-title" id="myModalLabel">Prelievo Componente</h2>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="control-label">Materiale</label>
                                <div class="form-group" style=" height: 64px; font-size: 20px; padding-top: 5px; font-size: 40px; line-height: 1.428571429; color: #555;" ng-if="rawMaterial!=NULL">
                                    <select id="single" ng-model="preliovocomponenti.materiale" class="form-control" chosen ng-change="preliovocomponenti.isChanged=true">
                                        <option style="font-size:medium" ng-repeat="material in rawMaterial" value="{{material.id}}" ng-selected="preliovocomponenti.materiale === material.id">
                                            {{material.nome}}-{{material.descrizione}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="control-label">Quantità</label>
                                <input type="text" name="nPzsca" class="form-control" ng-model="preliovocomponenti.quantita" />
                                <div class="form-group" style="width:80%; float:right;">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <label class="control-label">Causale</label>
                                <div class="form-group">
                                    <select class="form-control"
                                            ng-model="preliovocomponenti.causale" ng-disabled="!preliovocomponenti.isChanged" ng-if="GetTipoValori!=null">
                                        <option class="chosen-choices" ng-repeat="causale in GetTipoValori | filter: { tipo: 'prod_cau_prelievo'}" value="{{causale.id}}">
                                            {{causale.descrizione}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <!--<div class="col-sm-6">
                                <label class="control-label">Unità di Misura</label>
                                <div class="form-group">
                                    <select class="form-control"
                                            ng-model="addPzSca[0].UnitaDiMisura.id" ng-disabled="false">
                                        <option class="chosen-choices" ng-repeat="unita in GetUnitaDiMisura" value="{{unita.id}}">
                                            {{unita.nome}}
                                        </option>
                                    </select>
                                </div>
                            </div>-->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="font-size:35px;float:left">Annulla</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="insertComponent()" style="font-size:35px">Conferma</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalConfirmAddPzScaComponent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h2 class="modal-title" id="myModalLabel">Scarta Componente</h2>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="control-label">Materiale</label>
                                <div class="form-group" style=" height: 64px; font-size: 20px; padding-top: 5px; font-size: 40px; line-height: 1.428571429; color: #555;" ng-if="rawMaterial!=NULL">
                                    <select id="single" ng-model="preliovocomponenti.materiale" class="form-control" chosen ng-change="preliovocomponenti.isChanged=true">
                                        <option style="font-size:medium" ng-repeat="material in rawMaterial" value="{{material.id}}" ng-selected="preliovocomponenti.materiale === material.id">
                                            {{material.nome}}-{{material.descrizione}}
                                        </option>
                                    </select>


                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="control-label">Quantità</label>
                                <input type="text" name="nPzsca" class="form-control" ng-model="preliovocomponenti.quantitaScarto" />
                                <div class="form-group" style="width:80%; float:right;">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <label class="control-label">Causale</label>
                                <div class="form-group">
                                    <select class="form-control"
                                            ng-model="preliovocomponenti.causale">
                                        <option class="chosen-choices" ng-repeat="causale in GetTipoValori | filter: { tipo: 'prod_cau_scarto'}" value="{{causale.id}}">
                                            {{causale.descrizione}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <!--<div class="col-sm-6">
                                <label class="control-label">Unità di Misura</label>
                                <div class="form-group">
                                    <select class="form-control"
                                            ng-model="addPzSca[0].UnitaDiMisura.id" ng-disabled="false">
                                        <option class="chosen-choices" ng-repeat="unita in GetUnitaDiMisura" value="{{unita.id}}">
                                            {{unita.nome}}
                                        </option>
                                    </select>
                                </div>
                            </div>-->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="font-size:35px;float:left">Annulla</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="scaComponent()" style="font-size:35px">Conferma</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalConfirmChangeStatePzSca" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h2 class="modal-title" id="myModalLabel">Modifica/Giustifica Elementi</h2>
                    </div>
                    <div class="modal-body">


                        <div class="row" ng-show="arrayPzScaChange.length <=1">
                            <div class="col-sm-6">
                                <label class="control-label">Macchina</label>
                                <input disabled type="text" name="macchina" class="form-control" ng-model="arrayPzScaChange[0].macchina.item.codice" />
                                <div class="form-group" style="width:80%; float:right;">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label class="control-label">Data Ora Evento</label>
                                <input disabled type="text" name="macchina" class="form-control" ng-model="arrayPzScaChange[0].oraEvento" />
                                <div class="form-group" style="width:80%; float:right;">
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="arrayPzScaChange.length >1">
                            <div class="col-sm-12">
                                <label class="control-label">
                                    Stai modificando {{arrayPzScaChange.length}} Pezzi Scarto
                                </label>
                            </div>
                        </div>
                        <div class="row" ng-show="arrayPzScaChange.length <=1">
                            <div class="col-sm-3">
                                <label class="control-label">Quantità</label>
                                <input type="text" name="nPzsca" class="form-control" ng-model="arrayPzScaChange[0].valore" />
                                <div class="form-group" style="width:80%; float:right;">
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <label class="control-label">Causale</label>
                                <div class="form-group">
                                    <select class="form-control"
                                            ng-model="arrayPzScaChange[0].tipoValore.id" ng-disabled="false">
                                        <option class="chosen-choices" ng-repeat="causale in GetTipoValori" value="{{causale.id}}"
                                                ng-selected="arrayPzScaChange[0].tipoValore.id === causale.id">
                                            {{causale.descrizione}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="arrayPzScaChange.length >1">
                            <div class="col-sm-12">
                                <label class="control-label">Causale</label>
                                <div class="form-group">
                                    <select class="form-control"
                                            ng-model="arrayPzScaChange[0].tipoValore.id" ng-disabled="false">
                                        <option class="chosen-choices" ng-repeat="causale in GetTipoValori" value="{{causale.id}}"
                                                ng-selected="arrayPzScaChange[0].tipoValore.id === causale.id">
                                            {{causale.descrizione}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="font-size:35px;float:left">Annulla</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="changeCasualPieces()" style="font-size:35px">Conferma</button>
                    </div>
                </div>
            </div>
        </div>


        <!--<div class="modal fade" id="modalConfirmAddPzSca" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h2 class="modal-title" id="myModalLabel">Modifica/Giustifica Elementi</h2>
                    </div>
                    <div class="modal-body">


                        <div class="row" ng-show="arrayPzScaChange.length <=1">
                            <div class="col-sm-6">
                                <label class="control-label">Macchina</label>
                                <input disabled type="text" name="macchina" class="form-control" ng-model="arrayPzScaChange[0].macchina.item.codice" />
                                <div class="form-group" style="width:80%; float:right;">

                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label class="control-label">Data Ora Evento</label>
                                <input disabled type="text" name="macchina" class="form-control" ng-model="arrayPzScaChange[0].oraEvento" />
                                <div class="form-group" style="width:80%; float:right;">

                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="arrayPzScaChange.length >1">
                            <div class="col-sm-12">
                                <label class="control-label">
                                    Stai modificando {{arrayPzScaChange.length}} Pezzi Scarto
                                </label>
                            </div>
                        </div>
                        <div class="row" ng-show="arrayPzScaChange.length <=1">
                            <div class="col-sm-3">
                                <label class="control-label">Quantità</label>
                                <input type="text" name="nPzsca" class="form-control" ng-model="arrayPzScaChange[0].valore" />
                                <div class="form-group" style="width:80%; float:right;">
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <label class="control-label">Causale</label>
                                <div class="form-group">
                                    <select class="form-control"
                                            ng-model="arrayPzScaChange[0].tipoValore" ng-disabled="false">
                                        <option class="chosen-choices" ng-repeat="causale in GetTipoValori" value="{{causale}}"
                                                ng-selected="arrayPzScaChange[0].tipoValore.id === causale.id">
                                            {{causale.descrizione}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="arrayPzScaChange.length >1">
                            <div class="col-sm-12">
                                <label class="control-label">Causale</label>
                                <div class="form-group">
                                    <select class="form-control"
                                            ng-model="arrayPzScaChange[0].tipoValore" ng-disabled="false">
                                        <option class="chosen-choices" ng-repeat="causale in GetTipoValori" value="{{causale}}"
                                                ng-selected="arrayPzScaChange[0].tipoValore.id === causale.id">
                                            {{causale.descrizione}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="font-size:35px;float:left">Annulla</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="changeCasualPieces()" style="font-size:35px">Conferma</button>
                    </div>
                </div>
            </div>
        </div>-->

        <div class="modal fade" id="notSequentialStartFase" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h2 class="modal-title" id="myModalLabel">Conferma Attivazione Fase non sequenziale</h2>
                    </div>
                    <div class="modal-body">
                        <h3>Sei sicuro di voler avviare la fase corrente [{{selectedBatchPhase.distintaBaseFase.nome}}] in modo forzato?</h3>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="font-size:35px;float:left">No</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="changeState('2');" style="font-size:35px">Conferma</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalRestartFase" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h2 class="modal-title" id="myModalLabel">Conferma Riattivazione Fase</h2>
                    </div>
                    <div class="modal-body">
                        <h3>Sei sicuro di voler riavviare la fase {{selectedBatchFase.nome}}?</h3>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="font-size:35px;float:left">No</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="changeState('2');" style="font-size:35px">Conferma</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalDropBatch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h2 class="modal-title" id="myModalLabel">Conferma Chiusura Ordine</h2>
                    </div>

                    <div class="modal-body">
                        <h3>Sei sicuro di voler chiudere la produzione in modo forzato?</h3>

                        <div class="row">
                            <div class="col-sm-12">
                                <label class="control-label">Causale</label>
                                <div class="form-group" style="width:80%; float:right;">
                                    <select class="form-control"
                                            ng-model="selectedCausaleAborto" ng-disabled="false">
                                        <option class="chosen-choices" ng-repeat="causale in causaliAborto track by causale.codice" value="{{causale.codice}}"
                                                ng-selected="causale.codice === causaleDiRiavvio">
                                            {{causale.causale}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="font-size:35px;float:left">No</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="changeStateBatch('7');" style="font-size:35px">Conferma</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalClosePhase" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h1 class="modal-title" id="myModalLabel">Conferma Chiusura Fase </h1>
                    </div>
                    <div class="modal-body">
                        Sicuro di voler chiudere con la quantità indicata ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="font-size:35px;float:left">No</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="changeState('7');" style="font-size:35px">Chiusura</button>
                        <button type="button" ng-if="abilitaFaseTerminataParzialmente" class="btn btn-primary" data-dismiss="modal" ng-click="changeState('10');" style="font-size:35px">Chiusura Parziale</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="modalSetCausaleEmergenza" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h2 class="modal-title" id="myModalLabel">Sblocca e Riavvia Ordine</h2>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-sm-12">
                                <label class="control-label">Causale</label>
                                <div class="form-group" style="width:80%; float:right;">
                                    <select class="form-control"
                                            ng-model="selectedCausaleDiRiavvio" ng-disabled="false">
                                        <option class="chosen-choices" ng-repeat="causale in causaliRiavvio track by causale.codice" value="{{causale.id}}"
                                                ng-selected="causale.codice === causaleDiRiavvio">
                                            {{causale.causale}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <label class="control-label">Data Riavvio</label>
                                <div style="width:80%; float:right;">
                                    <div class="input-group date form_datetime" data-date-format="dd-mm-yyyy hh:ii:ss">
                                        <input type="text" class="form-control" ng-model="dataDiRiavvio">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-12" style="padding-top:10px">
                                <label class="control-label">Note</label>
                                <div class="form-group" style="width:80%; float:right;">
                                    <div>
                                        <textarea id="TextArea1" rows="8" cols="40" ng-model="notaDiRiavvio" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="font-size:35px;float:left">Annulla</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="changeStateBatch('2');" style="font-size:35px">Conferma</button>
                    </div>
                </div>
            </div>
        </div>



        <div class="modal fade" id="modalSetManutenzione" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h2 class="modal-title" id="myModalLabel">Richiedi Assistenza</h2>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-sm-12">
                                <label class="control-label">Manutenzione</label>
                                <div class="form-group" style="width:80%; float:right;">
                                    <select name="type" id="type" class="form-control" disabled>
                                        <option class="chosen-choices" selected value="Straordinaria">Straordinaria</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <label class="control-label">Data Richiesta</label>
                                <div style="width:80%; float:right;">
                                    <div class="input-group date form_datetime" data-date-format="dd-mm-yyyy hh:ii:ss">
                                        <input type="text" class="form-control" ng-model="dataDiRiavvio">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12" style="margin-top: 15px;">
                                <label class="control-label">Segnalazione</label>
                                <div class="form-group" style="width:80%; float:right;">
                                    <select name="typeG" id="typeG" class="form-control">
                                        <option class="chosen-choices" value="Promemoria">Promemoria</option>
                                        <option class="chosen-choices" value="Bloccante">Bloccante</option>
                                        <option class="chosen-choices" selected value="Normale">Normale</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="control-label">Tipo Guasto</label>
                                <div class="form-group" style="width:80%; float:right;">
                                    <select name="typeG" id="typeG" class="form-control">
                                        <option class="chosen-choices" value="Informatica">Informatico</option>
                                        <option class="chosen-choices" value="Elettrica">Elettrico</option>
                                        <option class="chosen-choices" selected value="Meccanica">Meccanico</option>
                                        <option class="chosen-choices" selected value="Generico">Generico</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12" style="padding-top:10px">
                                <label class="control-label">Note</label>
                                <div class="form-group" style="width:80%; float:right;">
                                    <div>
                                        <textarea id="TextArea1" rows="2" cols="10" ng-model="notaDiRiavvio" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<div class="row">
                            <div class="col-sm-12" +>
                                <div class="ckbox ckbox-success">
                                    <input type="checkbox" id=123>
                                    <label> Notifica Immediatamente Richiesta di Manutenzione</label>
                                </div>
                            </div>
                        </div>-->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="font-size:35px;float:left">Annulla</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="createBatchService();" style="font-size:35px">Conferma</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="modalWarning" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header warning">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h1 class="modal-title" id="myModalLabel">Attenzione:</h1>
                    </div>
                    <div class="modal-body">
                        {{modalWarningMessage}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Chiudi</button>
                    </div>
                </div><!-- modal-content -->
            </div><!-- modal-dialog -->
        </div>


        <div class="modal fade" id="modalConfirmSospendi" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h2 class="modal-title" id="myModalLabel">Sospendi ordine</h2>
                    </div>
                    <div class="modal-body">
                        <p>Sicuro di voler <a style="color:red;">rimuovere</a> l'ordine <a style="color:red;"> dalla produzione</a>?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="font-size:35px;float:left">Annulla</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="SuspendBatch()" style="font-size:35px">Conferma</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <!---------------------------------------------------------------------------------------------->

    </div><!-- mainpanel -->

    <script src="js/loadAllScript.js"></script>
    <script src="js/jquery.fancybox.js"></script>
    <script src="js/angular-virtual-keyboard.js"></script>


    <script src="app/controllers/produzione/sfofasi.controller.js"></script>
    <script src="app/controllers/accessi/accessi.controller.js"></script>
    <script>
            $("#btnIndietro").on('click', function (e) {
                location.href = "allsfo.html#?idMacchina={{idMacchina}}";
            });

            $.fancybox.defaults.buttons = ['fullScreen', 'zoom', 'close'];
            $.fancybox.defaults.lang = 'it';
            $.fancybox.defaults.i18n = {
                'it': {
                    CLOSE: 'Chiudi',
                    NEXT: 'Prossimo',
                    PREV: 'Precedente',
                    ERROR: 'Il documento richiesto non può essere caricato<br/> Riprovare più tardi',
                    PLAY_START: 'Avvia slideshow',
                    PLAY_STOP: 'PAusa slideshow',
                    FULL_SCREEN: 'Tutto schermo',
                    THUMBS: 'Thumbnails',
                    DOWNLOAD: 'Download',
                    SHARE: 'Share',
                    ZOOM: 'Zoom'
                }
            };

            $(window).bind("resize", function () { contsize(); });
            $(document).ready(function () { contsize(); });
            //$('#content').ready(function () { contsize(); });

            function contsize() {
                var availableSize = window.innerHeight - $('#footer').innerHeight() - $('#header').innerHeight() + 58;  // == Fixed div (header,foter) Size  (200)!!!
                $('#content').height(availableSize);

                var a = $('#rowAvanzamenti').innerHeight();
                var b = $('#rowPulsanti').innerHeight();
                var c = $('#txtBarcode').innerHeight();
                var x = availableSize - a - b;
                $('#docBody').height(x);
                $('#tableParametri').height(x);


            };

            $(".form_datetime").datetimepicker({
                format: "dd-mm-yyyy hh:ii:ss",
                autoclose: true,
                todayBtn: "linked",
                //todayBtn: true,
                startDate: new Date(),
                minuteStep: 5,
                language: "it",
                //toggleActive: true,
                todayHighlight: true,
                pickerPosition: "bottom-left",
                //initialDate: new Date()
            });

            jQuery('.thmb').hover(function () {
                var t = jQuery(this);
                t.find('.ckbox').show();
                t.find('.fm-group').show();
            }, function () {
                var t = jQuery(this);
                if (!t.closest('.thmb').hasClass('checked')) {
                    t.find('.ckbox').hide();
                    t.find('.fm-group').hide();
                }
            });

            jQuery('.ckbox').each(function () {
                var t = jQuery(this);
                var parent = t.parent();
                if (t.find('input').is(':checked')) {
                    t.show();
                    parent.find('.fm-group').show();
                    parent.addClass('checked');
                }
            });


            jQuery('.ckbox').click(function () {
                var t = jQuery(this);
                if (!t.find('input').is(':checked')) {
                    t.closest('.thmb').removeClass('checked');
                    enable_itemopt(false);
                } else {
                    t.closest('.thmb').addClass('checked');
                    enable_itemopt(true);
                }
            });

            jQuery('#selectall').click(function () {
                if (jQuery(this).is(':checked')) {
                    jQuery('.thmb').each(function () {
                        jQuery(this).find('input').attr('checked', true);
                        jQuery(this).addClass('checked');
                        jQuery(this).find('.ckbox, .fm-group').show();
                    });
                    enable_itemopt(true);
                } else {
                    jQuery('.thmb').each(function () {
                        jQuery(this).find('input').attr('checked', false);
                        jQuery(this).removeClass('checked');
                        jQuery(this).find('.ckbox, .fm-group').hide();
                    });
                    enable_itemopt(false);
                }
            });

            function enable_itemopt(enable) {
                if (enable) {
                    jQuery('.itemopt').removeClass('disabled');
                } else {

                    // check all thumbs if no remaining checks
                    // before we can disabled the options
                    var ch = false;
                    jQuery('.thmb').each(function () {
                        if (jQuery(this).hasClass('checked'))
                            ch = true;
                    });

                    if (!ch)
                        jQuery('.itemopt').addClass('disabled');
                }
            }

            //Replaces data-rel attribute to rel.
            //We use data-rel because of w3c validation issue
            jQuery('a[data-rel]').each(function () {
                jQuery(this).attr('rel', jQuery(this).data('rel'));
            });

        setTimeout(function () { document.getElementById("bodyTest").style.overflow = "hidden" }, 1000);





    </script>
</body>

<numeric-keyboard />
</html>

<style>

    div::-webkit-scrollbar {
        width: 24px;
        background-color: #fff;
    }

    div::-webkit-scrollbar-thumb {
        background-color: #8bcee2;
        border-radius: 0px;
    }

        div::-webkit-scrollbar-thumb:hover {
            background-color: #8bcee2;
            border: 1px solid #333333;
        }

        div::-webkit-scrollbar-thumb:active {
            background-color: #8bcee2;
            border: 1px solid #1d2939;
        }

    .form-control, .chosen-select, .chosen-choices, .chosen-container .chosen-container-single .chosen-single {
        display: block;
        width: 100%;
        height: 64px;
        padding: 6px 12px;
        font-size: 40px;
        line-height: 1.428571429;
        color: #555;
        vertical-align: middle;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        background-image: none;
    }


    .datetimepicker table {
        width: 100%;
        margin: 0;
    }

    .datetimepicker.dropdown-menu {
        width: 18em;
        height: auto;
        font-size: 30px;
    }

    #contextmenu-node {
        position: absolute;
        background-color: white;
        border: solid #CCCCCC 1px;
    }

    .contextmenu-item {
        margin: 0.5em;
        padding-left: 0.5em;
    }

        .contextmenu-item:hover {
            background-color: #CCCCCC;
            cursor: default;
        }

    .form-group-alt {
        overflow-y: scroll !important;
        height: 100%;
        max-height: 100%;
    }

    .form-group-alt2 {
        /*overflow-y: scroll !important;*/
        height: 100%;
        max-height: 100%;
    }

    #header {
        width: 100%;
        height: 50px;
        position: fixed;
        top: 0;
        z-index: 100;
        box-shadow: -1px -4px 20px 12px rgba(12,12,12,0.13);
        margin-left: 0px;
    }

    #content {
        width: 100%;
        margin: 0 auto;
        padding-right: 0;
        padding-left: 0;
        padding-top: 51px;
        z-index: 0;
        /*border:solid;border-width:2px;border-color:blue;*/ /*test*/
    }

    #footer {
        width: 100%;
        /*height: 75px;*/
        background: white !important;
        position: fixed;
        bottom: 0;
        z-index: 100;
        padding: 5px;
        box-shadow: -1px -4px 20px 12px rgba(12,12,12,0.13);
        margin-left: 0px;
    }


    .mainpanel-sf {
        background: #e4e7ea;
        /*min-height: 1000px;*/
        height: 100%;
    }

    #docHeader {
        width: 100%;
        /*height: 150px;*/
        position: fixed;
        z-index: 100;
    }

    #docBody {
        /*width: 41.66%;*/ /*col-md-5*/
        /* top: 380px;*/
        position: fixed;
        z-index: 0;
        /*overflow-y: scroll !important;*/
        /*height:150px;*/
        /*border:solid;border-width:2px;border-color:blue;*/ /*test*/
    }

    .table {
        margin-bottom: 0px;
        background-color: white;
    }

    .blink {
        animation: blink-animation 1s steps(5, start) infinite;
        -webkit-animation: blink-animation 1s steps(5, start) infinite;
    }

    @keyframes blink-animation {
        to {
            visibility: hidden;
        }
    }

    @-webkit-keyframes blink-animation {
        to {
            visibility: hidden;
        }
    }

    .red {
        color: red;
    }
</style>
